# SELECT basics

In [1]:
import findspark
import pandas as pd
findspark.init()

SVR = '192.168.31.31'
from pyspark.sql import SparkSession

sc = (SparkSession.builder.appName('app00') 
      .master(f'spark://{SVR}:7077') 
      .config('spark.sql.warehouse.dir', f'hdfs://{SVR}:9000/user/hive/warehouse') 
      .config('spark.cores.max', '4') 
      .config('spark.executor.instances', '1') 
      .config('spark.executor.cores', '2') 
      .config('spark.executor.memory', '10g') 
      .enableHiveSupport().getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

## 1. Introducing the `world` table of countries

The example uses a WHERE clause to show the population of 'France'. Note that strings (pieces of text that are data) should be in 'single quotes';

**Modify it to show the population of Germany**

In [2]:
world = sc.read.table('sqlzoo.world')

In [3]:
world.filter(world['name']=='Germany').select('population').toPandas()

   population
0  83149300.0

## 2. Scandinavia

Checking a list The word **IN** allows us to check if an item is in a list. The example shows the name and population for the countries 'Brazil', 'Russia', 'India' and 'China'.

**Show the name and the population for 'Sweden', 'Norway' and 'Denmark'.**

In [4]:
world.filter(world['name'].isin(['Sweden', 'Norway', 'Denmark'])).select(
    ['name', 'population']).toPandas()

      name  population
0  Denmark   5822763.0
1   Norway   5367580.0
2   Sweden  10338368.0

## 3. Just the right size

Which countries are not too small and not too big? `BETWEEN` allows range checking (range specified is inclusive of boundary values). The example below shows countries with an area of 250,000-300,000 sq. km. Modify it to show the country and the area for countries with an area between 200,000 and 250,000.

In [5]:
world.filter(world['area'].between(200000, 250000)).select([
    'name', 'area']).toPandas()

             name      area
0         Belarus  207600.0
1           Ghana  238533.0
2          Guinea  245857.0
3          Guyana  214969.0
4            Laos  236800.0
5         Romania  238391.0
6          Uganda  241550.0
7  United Kingdom  242900.0

In [6]:
sc.stop()