# More JOIN operations

![rel](https://sqlzoo.net/w/images/5/50/Movie2-er.png)

In [1]:
import os
import pandas as pd
import findspark
os.environ['SPARK_HOME'] =  '/opt/spark'
findspark.init()

from pyspark.sql import SparkSession
ss = (SparkSession.builder.appName('app00')
      .config('spark.sql.warehouse.dir', 'hdfs://quickstart.cloudera:8020/user/hive/warehouse')
      .config('hive.metastore.uris', 'thrift://quickstart.cloudera:9083')
      .enableHiveSupport().getOrCreate())

 ····

## 1. 1962 movies

List the films where the **yr** is 1962 [Show **id, title**]

In [2]:
movie = pd.read_sql_table('movie', engine)
actor = pd.read_sql_table('actor', engine)
casting = pd.read_sql_table('casting', engine)

In [3]:
movie.loc[movie['yr']==1962, ['id', 'title']]

          id                                        title
211    10212                             A Kind of Loving
328    10329                 A Symposium on Popular Songs
346    10347          A Very Private Affair (Vie PrivÃ©e)
647    10648                          An Autumn Afternoon
867    10868                            Atraco a las tres
1005   11006                                     Barabbas
1052   11053  Battle Beyond the Sun (ÐÐµÐ±Ð¾ Ð·Ð¾Ð²ÐµÑ‚)
1198   11199                  Big and Little Wong Tin Bar
1229   11230                                   Billy Budd
1233   11234                           Billy Rose's Jumbo
1241   11242                          Birdman of Alcatraz
1372   11373                                Boccaccio '70
1390   11391                                  Bon Voyage!
1438   11439                              Boys' Night Out
1691   11692                                    Cape Fear
1734   11735                            Carnival of Souls
1752   11753                            Carry On Cruising
2367   12368                               David and Lisa
2383   12384                       Days of Wine and Roses
2709   12710                                       Dr. No
2816   12817                                    L'Eclisse
2966   12967                                 Tutti a casa
2991   12992                         Experiment in Terror
3009   13010                          Eyes Without a Face
3483   13484                                  Gay Purr-ee
3533   13534                                        Gigot
3640   13641                                       Gorath
3726   13727                                        Gypsy
3740   13741                                  Half Ticket
3797   13798                                     Harakiri
4316   14317                   In Search of the Castaways
4453   14454                              It's Only Money
4549   14550                                       Jigsaw
4717   14718                                  Kid Galahad
4859   14860                             La commare secca
4872   14873                                     La notte
4971   14972                           Lawrence of Arabia
5087   15088                                Life for Ruth
5172   15173                                       Lolita
5181   15182                Long Day's Journey into Night
5246   15247                               Love at Twenty
5296   15297                                 Lycanthropus
5396   15397                                   Mamma Roma
5563   15564                          Merrill's Marauders
5751   15752                    Mother Joan of the Angels
5778   15779                   Mr. Hobbs Takes a Vacation
5839   15840                         Mutiny on the Bounty
6202   16203                                  On the Beat
6294   16295                                Os Cafajestes
6366   16367                          Panic in Year Zero!
6461   16462                         Period of Adjustment
6484   16485                                      Phaedra
6532   16533                                      Pitfall
6621   16622                               Pressure Point
6660   16661                                       Prison
6674   16675                                    Professor
6944   16945                        Ride the High Country
7147   17148                           Salvatore Giuliano
7295   17296                                  Sergeants 3
7803   17804                                   State Fair
7943   17944                           Sundays and Cybele
8000   18001                   Sweet Bird of Youth (film)
8126   18127                                Term of Trial
8170   18171                           That Touch of Mink
8176   18177                             The 300 Spartans
8729   18730                      The Counterfeit Traitor
8940   18941                      The Exterminating Angel
9033   19034                      The Four Days of Naples
9429   19430                                 The Intruder
9519   19520                            The L-Shaped Room
9678   19679   The Loneliness of the Long Distance Runner
9693   19694                              The Longest Day
9794   19795             The Man Who Shot Liberty Valance
9807   19808                     The Manchurian Candidate
9932   19933                                The Music Man
10113  20114                     The Phantom of the Opera
10160  20161                         The Premature Burial
10479  20730                                    The Trial
10800  21051                       Through a Glass Darkly
10859  21110                        To Kill a Mockingbird
10938  21189                              Tower of London
11073  21324                       Two Half Times in Hell
11211  21462                       Varan the Unbelievable
11243  21494                         Village of Daughters
11422  21673             What Ever Happened to Baby Jane?
11510  21761                        Who's Got the Action?

## 2. When was Citizen Kane released?

Give year of 'Citizen Kane'.

In [4]:
movie.loc[movie['title']=='Citizen Kane', ['yr']]

        yr
1954  1941

## 3. Star Trek movies

List all of the Star Trek movies, include the **id**, **title** and **yr** (all of these movies include the words Star Trek in the title). Order results by year.

In [24]:
movie.loc[movie['title'].str.lower().str.contains('star trek').fillna(False),
         ['id', 'title', 'yr']]

         id                                   title    yr
7769  17770                Star Trek: First Contact  1996
7770  17771                 Star Trek: Insurrection  1998
7771  17772           Star Trek: The Motion Picture  1979
7772  17773                               Star Trek  2009
7773  17774                   Star Trek Generations  1994
7774  17775         Star Trek II: The Wrath of Khan  1982
7775  17776     Star Trek III: The Search for Spock  1984
7776  17777           Star Trek IV: The Voyage Home  1986
7777  17778                       Star Trek Nemesis  2002
7778  17779         Star Trek V: The Final Frontier  1989
7779  17780  Star Trek VI: The Undiscovered Country  1991

## 4. id for actor Glenn Close

What **id** number does the actor 'Glenn Close' have?

In [25]:
actor.loc[actor['name']=='Glenn Close', ['id']]

        id
22511  140

## 5. id for Casablanca

What is the **id** of the film 'Casablanca'

In [26]:
movie.loc[movie['title']=='Casablanca', ['id']]

         id
1767  11768

## 6. Cast list for Casablanca

Obtain the cast list for 'Casablanca'.

> _what is a cast list?_  
> The cast list is the names of the actors who were in the movie.

Use **movieid=11768**, (or whatever value you got from the previous question)

In [32]:
a = casting.merge(actor, how='inner', left_on='actorid', right_on='id')
a.loc[a['movieid']==11768, ['name']]

                     name
3766          Peter Lorre
8665          John Qualen
8938     Madeleine LeBeau
15264          Jack Benny
24061        Norma Varden
24380      Ingrid Bergman
24740        Conrad Veidt
25362        Leon Belasco
27263     Humphrey Bogart
27294  Sydney Greenstreet
33018      Leonid Kinskey
36796     Wolfgang Zilzer
41081        Claude Rains
44525           Curt Bois
53863           Leo White
64771     Ludwig StÃ¶ssel
65164        Marcel Dalio
66856         Dan Seymour
66861        Paul Henreid
66873            Joy Page
66875        S. Z. Sakall
66879       Dooley Wilson
66882     William Edmunds
66889        Gregory Gaye
66898        Torben Meyer
66908    Georges Renavent
66914        Jean Del Val
66917       Louis V. Arco
66918      Trude Berliner
66919        Ilka GrÃ¼nig
66920        Richard Ryen
66921     Hans Twardowski

## 7. Alien cast list

Obtain the cast list for the film 'Alien'

In [91]:
a = (movie.merge(casting, how='right', left_on='id', right_on='movieid')
     .merge(actor, how='left', left_on='actorid', right_on='id'))
a.loc[a['title']=='Alien', ['name']]

                     name
5425            John Hurt
5426     Sigourney Weaver
5427         Yaphet Kotto
5428   Harry Dean Stanton
5429             Ian Holm
5430         Tom Skerritt
5431  Veronica Cartwright

## 8. Harrison Ford movies

List the films in which 'Harrison Ford' has appeared

In [37]:
# a was obtained in #7
a.loc[a['name']=='Harrison Ford', ['title']]

                                                   title
15429                           A Hundred and One Nights
15430                                      Air Force One
15431                                  American Graffiti
15432                                     Apocalypse Now
15433                           Clear and Present Danger
15434                                   Cowboys & Aliens
15435                                      Crossing Over
15436                      Dead Heat on a Merry-Go-Round
15437                             Extraordinary Measures
15438                                           Firewall
15439                             Force 10 From Navarone
15440                                     Hanover Street
15441                            Hawthorne of the U.S.A.
15442                                 Hollywood Homicide
15443  Indiana Jones and the Kingdom of the Crystal S...
15444                 Indiana Jones and the Last Crusade
15445               Indiana Jones and the Temple of Doom
15446                                    Jimmy Hollywood
15447                               K-19: The Widowmaker
15448                             More American Graffiti
15449                                      Morning Glory
15450                                      Patriot Games
15451                                  Presumed Innocent
15452                            Raiders of the Lost Ark
15453                                      Random Hearts
15454                                    Regarding Henry
15455                                            Sabrina
15456                               Sally of the Sawdust
15457                                            Shadows
15458                              Six Days Seven Nights
15459                                    Smilin' Through
15460                   Star Wars Episode IV: A New Hope
15461       Star Wars Episode V: The Empire Strikes Back
15462           Star Wars Episode VI: Return of the Jedi
15463                                   The Conversation
15464                                    The Devil's Own
15465                                       The Fugitive
15466                                 The Mosquito Coast
15467                                  What Lies Beneath
15468                                            Witness
15469                                       Working Girl

## 9. Harrison Ford as a supporting actor

List the films where 'Harrison Ford' has appeared - but not in the starring role. [Note: the ord field of casting gives the position of the actor. If ord=1 then this actor is in the starring role]

In [38]:
# a was obtained in #7
a.loc[(a['name']=='Harrison Ford') & (a['ord']>1), ['title']]

                                              title
15429                      A Hundred and One Nights
15431                             American Graffiti
15432                                Apocalypse Now
15434                              Cowboys & Aliens
15436                 Dead Heat on a Merry-Go-Round
15437                        Extraordinary Measures
15439                        Force 10 From Navarone
15441                       Hawthorne of the U.S.A.
15446                               Jimmy Hollywood
15448                        More American Graffiti
15449                                 Morning Glory
15456                          Sally of the Sawdust
15457                                       Shadows
15459                               Smilin' Through
15460              Star Wars Episode IV: A New Hope
15461  Star Wars Episode V: The Empire Strikes Back
15462      Star Wars Episode VI: Return of the Jedi
15463                              The Conversation
15469                                  Working Girl

## 10. Lead actors in 1962 movies

List the films together with the leading star for all 1962 films.

In [39]:
# a was obtained in #7
a.loc[(a['yr']==1962) & (a['ord']==1), ['title', 'name']]

,title,name
3454,Birdman of Alcatraz,Burt Lancaster
4041,What Ever Happened to Baby Jane?,Bette Davis
4099,David and Lisa,Keir Dullea
5668,Experiment in Terror,Glenn Ford
6323,Who's Got the Action?,Dean Martin
6334,It's Only Money,Jerry Lewis
7302,Term of Trial,Laurence Olivier
8093,Boys' Night Out,Kim Novak
8696,La notte,Marcello Mastroianni
10637,Long Day's Journey into Night,Katharine Hepburn
11199,Gay Purr-ee,Judy Garland
12688,Mutiny on the Bounty,Marlon Brando
13107,A Kind of Loving,Alan Bates
13173,Tutti a casa,Alberto Sordi
13668,Period of Adjustment,Anthony Franciosa
15216,An Autumn Afternoon,Chishu Ryu
15244,Sergeants 3,Frank Sinatra
15254,The Manchurian Candidate,Frank Sinatra
15421,L'Eclisse,Alain Delon
15674,Love at Twenty,Jean-Pierre LÃ©aud
16583,Panic in Year Zero!,Ray Milland
16594,The Premature Burial,Ray Milland
18690,Sweet Bird of Youth (film),Paul Newman
19133,Dr. No,Sean Connery
19511,Pressure Point,Sidney Poitier
20641,Tower of London,Vincent Price
20958,The Phantom of the Opera,Herbert Lom
22120,A Symposium on Popular Songs,Paul Frees
23204,In Search of the Castaways,Hayley Mills
23392,A Very Private Affair (Vie PrivÃ©e),Brigitte Bardot
23425,The L-Shaped Room,Leslie Caron
23724,Barabbas,Anthony Quinn
24722,Boccaccio '70,Anita Ekberg
25499,Bon Voyage!,Fred MacMurray
30923,The Intruder,William Shatner
30982,Days of Wine and Roses,Jack Lemmon
31048,Mr. Hobbs Takes a Vacation,James Stewart
31065,The Man Who Shot Liberty Valance,James Stewart
33430,Billy Budd,Terence Stamp
36044,The Counterfeit Traitor,William Holden
43079,State Fair,Pat Boone
43201,Cape Fear,Gregory Peck
43229,To Kill a Mockingbird,Gregory Peck
43864,Big and Little Wong Tin Bar,Jackie Chan
45752,Atraco a las tres,JosÃ© Luis LÃ³pez VÃ¡zquez
45973,Gypsy,Rosalind Russell
48611,Lycanthropus,Barbara Lass
49563,Ride the High Country,Joel McCrea
50111,Sundays and Cybele,Hardy KrÃ¼ger
50726,Battle Beyond the Sun (ÐÐµÐ±Ð¾ Ð·Ð¾Ð²ÐµÑ‚),Aleksandr Shvorin
50825,Gorath,Ryo Ikebe
51496,The Music Man,Robert Preston
52509,Mamma Roma,Anna Magnani
54687,Billy Rose's Jumbo,Doris Day
54702,That Touch of Mink,Doris Day
55794,The 300 Spartans,Richard Egan
57225,Kid Galahad,Elvis Presley
57619,La commare secca,Marisa Solinas
64478,Carnival of Souls,Candace Hilligoss
64701,Carry On Cruising,Sid James
66315,Half Ticket,Kishore Kumar
67489,Eyes Without a Face,Pierre Brasseur
71444,Through a Glass Darkly,Harriet Andersson
71544,The Trial,Anthony Perkins
75438,Professor,Shammi Kapoor
79898,Salvatore Giuliano,Salvo Randone
81684,On the Beat,Norman Wisdom
83278,Harakiri,Tatsuya Nakadai
84132,Gigot,Jackie Gleason
86296,Phaedra,Melina Mercouri
86491,Village of Daughters,Eric Sykes
88121,Jigsaw,Jack Warner
91267,Pitfall,Hisashi Igawa
91561,The Loneliness of the Long Distance Runner,Tom Courtenay
91797,Mother Joan of the Angels,Lucyna Winnicka
93193,Life for Ruth,Michael Craig
98387,Os Cafajestes,Daniel Filho
99740,Prison,Doris Svedlund
107004,The Exterminating Angel,Silvia Pinal
107256,The Four Days of Naples,Regina Bianchi
108865,The Longest Day,John Wayne<br />
111945,Two Half Times in Hell,Imre Sinkovits
112366,Varan the Unbelievable,KÃ´zÃ´ Nomura

## 11. Busy years for Rock Hudson

Which were the busiest years for 'Rock Hudson', show the year and the number of movies he made each year for any year in which he made more than 2 movies.

In [50]:
# a was obtained in #7
b = (a.loc[a['name']=='Rock Hudson', ['yr', 'title']]
     .groupby('yr').count()
     .reset_index()
     .rename(columns={'title': 'n'}))
b.loc[b['n']>2, :]

     yr  n
2  1953  5
8  1961  3

## 12. Lead actor in Julie Andrews movies

List the film title and the leading actor for all of the films 'Julie Andrews' played in.

> _Did you get "Little Miss Marker twice"?_   
> Julie Andrews starred in the 1980 remake of Little Miss Marker and not the original(1934).
>
> Title is not a unique field, create a table of IDs in your subquery

In [56]:
# a was obtained in #7
b = a.loc[a['name']=='Julie Andrews', 'movieid'].values
a.loc[(a['movieid'].isin(b)) & (a['ord']==1), ['title', 'name']]

                                          title            name
1201                                         10    Dudley Moore
1212                               Darling Lili   Julie Andrews
1214                               Duet for One   Julie Andrews
1215                                     Hawaii   Julie Andrews
1217                               Mary Poppins   Julie Andrews
1218                            Relative Values   Julie Andrews
1220                                      Star!   Julie Andrews
1226                          The Tamarind Seed   Julie Andrews
1227                   Thoroughly Modern Millie   Julie Andrews
1230                            Victor Victoria   Julie Andrews
7715                            Shrek the Third      Mike Myers
13694                        Little Miss Marker  Walter Matthau
18702                              Torn Curtain     Paul Newman
20884            The Pink Panther Strikes Again   Peter Sellers
33127                      The Princess Diaries   Anne Hathaway
33128  The Princess Diaries 2: Royal Engagement   Anne Hathaway
39450                             Despicable Me    Steve Carell
45551              The Americanization of Emily    James Garner
50999                               Tooth Fairy  Dwayne Johnson

## 13. Actors with 15 leading roles

Obtain a list, in alphabetical order, of actors who've had at least 15 **starring** roles.

In [80]:
# a was obtained in #7
b = (a.loc[a['ord']==1, ['name', 'actorid', 'movieid']]
     .groupby(['actorid', 'name'])
     .count()
     .reset_index()
     .rename(columns={'movieid': 'n'}))
b.loc[b['n']>=15, ['name']].sort_values('name')

                       name
264            Adam Sandler
304               Al Pacino
303         Anthony Hopkins
1810       Antonio Banderas
1611  Arnold Schwarzenegger
623        Barbara Stanwyck
1601            Ben Affleck
141             Bette Davis
1549            Bing Crosby
73             Bruce Willis
918              Bud Abbott
112          Burt Lancaster
1659          Burt Reynolds
512           Buster Keaton
1185             Cary Grant
56          Charles Bronson
280         Charlton Heston
509             Clark Gable
1595      Claudette Colbert
501          Clint Eastwood
231             Dean Martin
1237           Dennis Quaid
796       Denzel Washington
1075         Dustin Hoffman
553      Edward G. Robinson
2157          Elvis Presley
1032            Errol Flynn
552           Frank Sinatra
445            Fred Astaire
803           Fredric March
492             Gary Cooper
958            Gene Hackman
1864         George Clooney
213              Glenn Ford
1582           Gregory Peck
900             Greta Garbo
559           Harrison Ford
70              Henry Fonda
985         Humphrey Bogart
878          Ingrid Bergman
1114            Jack Lemmon
765          Jack Nicholson
1605            Jackie Chan
86             James Cagney
137             James Mason
1116          James Stewart
341              Jane Fonda
2071  Jean-Claude Van Damme
318            Jeff Bridges
232             Jerry Lewis
405              Jim Carrey
892           Joan Crawford
372          John Barrymore
420           John Travolta
224              John Wayne
705             Johnny Depp
875            Keanu Reeves
729           Kevin Costner
136            Kirk Douglas
1776           Kurt Russell
606             Lana Turner
258        Laurence Olivier
571       Leonardo DiCaprio
443           Marlon Brando
1315          Mary Pickford
1261             Matt Damon
582             Matt Dillon
1085             Mel Gibson
351            Meryl Streep
1150          Michael Caine
397         Michael Douglas
1868         Michael Keaton
330            Nicolas Cage
691             Paul Newman
776           Peter Sellers
2187         Randolph Scott
96           Robert De Niro
286          Robert Mitchum
940           Robert Taylor
350          Robin Williams
494             Rock Hudson
472           Ronald Colman
702            Sean Connery
2284              See below
1168         Shirley Temple
140           Spencer Tracy
344             Stan Laurel
787            Steve Martin
1540     Sylvester Stallone
1661           Tom Berenger
1265             Tom Cruise
596               Tom Hanks
737         Tommy Lee Jones
908            Tyrone Power
487          Walter Matthau
685         William Garwood
1303         William Holden

## 14.
List the films released in the year 1978 ordered by the number of actors in the cast, then by title.

In [92]:
# a was obtained in #7
b = (a.loc[a['yr']==1978, ['title', 'movieid', 'actorid']]
      .groupby(['title', 'movieid'])
      .count()
      .reset_index()
      .rename(columns={'actorid': 'n'})
      .loc[:, ['title', 'n']])
b.sort_values(['n', 'title'], ascending=[False, True])

                             title   n
75  The Bad News Bears Go to Japan  50
94                       The Swarm  37
36                          Grease  28
5                 American Hot Wax  27
77            The Boys from Brazil  26
..                             ...  ..
52          Lies My Father Told Me   2
66            Same Time, Next Year   2
70     Somebody Killed Her Husband   2
72                That's Carry On!   2
73     The 36th Chamber of Shaolin   2

[104 rows x 2 columns]

## 15.

List all the people who have worked with 'Art Garfunkel'.

In [96]:
# a was obtained in #7
b = a.loc[a['name']=='Art Garfunkel', 'movieid']
a.loc[(a['movieid'].isin(b)) & (a['name']!='Art Garfunkel'),
      ['name']].sort_values('name')

                         name
980           Beverly Johnson
14279             Bill Paxton
959             Breckin Meyer
981        Bruce Jay Friedman
975           Cecilie Thomsen
972            Cindy Crawford
974              Donald Trump
969             Elio Fiorucci
966       Ellen Albertini Dow
976    Frederique van der Wal
971        Georgina Grenville
36093            Harris Yulin
962         Heather Matarazzo
973                Heidi Klum
14278            Julian Sands
14281          Kurtwood Smith
964             Lauren Hutton
982                Lorna Luft
953              Mark Ruffalo
965              Michael York
955                Mike Myers
956             Neve Campbell
979         Peter Bogdanovich
36094            Robert DoQui
968                Ron Jeremy
954            Ryan Phillippe
957               Salma Hayek
958                 Sela Ward
14280           Sherilyn Fenn
960        Sherry Stringfield
970               Sheryl Crow
963             Skipp Sudduth
984               Stars on 54
967            Thelma Houston
983           Valerie Perrine
977             Veronica Webb
961                       NaN