# Window LAG

## COVID-19 Data
Notes on the data: This data was assembled based on work done by [Rodrigo Pombo](https://github.com/pomber/covid19) based on [John Hopkins University](https://systems.jhu.edu/research/public-health/ncov/), based on [World Health Organisation](https://www.who.int/health-topics/coronavirus). The data was assembled 21st April 2020 - there are no plans to keep this data set up to date.

In [1]:
import os
import pandas as pd
import findspark
os.environ['SPARK_HOME'] =  '/opt/spark'
findspark.init()

from pyspark.sql import SparkSession
ss = (SparkSession.builder.appName('app00')
      .config('spark.sql.warehouse.dir', 'hdfs://quickstart.cloudera:8020/user/hive/warehouse')
      .config('hive.metastore.uris', 'thrift://quickstart.cloudera:9083')
      .enableHiveSupport().getOrCreate())

 路路路路

## Window Function
The SQL Window functions include LAG, LEAD, RANK and NTILE. These functions operate over a "window" of rows - typically these are rows in the table that are in some sense adjacent.

In [2]:
covid = pd.read_sql_table('covid', engine)
world = pd.read_sql_table('world', engine)

## 1. Introducing the `covid` table

The example uses a WHERE clause to show the cases in 'Italy' in March.

**Modify the query to show data from Spain**

In [3]:
(covid.assign(day=covid['whn'].dt.day)
    .loc[(covid['name']=='Spain') & (covid['whn'].dt.month==3),
        ['name', 'day', 'confirmed', 'deaths', 'recovered']]
    .sort_values('day'))

        name  day  confirmed  deaths  recovered
13719  Spain    1         84       0          2
13720  Spain    2        120       0          2
13721  Spain    3        165       1          2
13722  Spain    4        222       2          2
13723  Spain    5        259       3          2
13724  Spain    6        400       5          2
13725  Spain    7        500      10         30
13726  Spain    8        673      17         30
13727  Spain    9       1073      28         32
13728  Spain   10       1695      35         32
13729  Spain   11       2277      54        183
13730  Spain   12       2277      55        183
13731  Spain   13       5232     133        193
13732  Spain   14       6391     195        517
13733  Spain   15       7798     289        517
13734  Spain   16       9942     342        530
13735  Spain   17      11748     533       1028
13736  Spain   18      13910     623       1081
13737  Spain   19      17963     830       1107
13738  Spain   20      20410    1043       1588
13739  Spain   21      25374    1375       2125
13740  Spain   22      28768    1772       2575
13741  Spain   23      35136    2311       2575
13742  Spain   24      39885    2808       3794
13743  Spain   25      49515    3647       5367
13744  Spain   26      57786    4365       7015
13745  Spain   27      65719    5138       9357
13746  Spain   28      73235    5982      12285
13747  Spain   29      80110    6803      14709
13748  Spain   30      87956    7716      16780
13749  Spain   31      95923    8464      19259

## 2. Introducing the LAG function

The LAG function is used to show data from the preceding row or the table. When lining up rows the data is partitioned by country name and ordered by the data whn. That means that only data from Italy is considered.

**Modify the query to show confirmed for the day before.**

In [4]:
a = (covid.assign(day=covid['whn'].dt.day, mo=covid['whn'].dt.month)
    .loc[(covid['name']=='Italy') & (covid['whn'].dt.month==3),
        ['name', 'day', 'confirmed', 'mo']])
(a.assign(lag_cfrm=a['confirmed'].shift(1))
    .sort_values('day'))

       name  day  confirmed  mo  lag_cfrm
7329  Italy    1       1694   3       NaN
7330  Italy    2       2036   3    1694.0
7331  Italy    3       2502   3    2036.0
7332  Italy    4       3089   3    2502.0
7333  Italy    5       3858   3    3089.0
7334  Italy    6       4636   3    3858.0
7335  Italy    7       5883   3    4636.0
7336  Italy    8       7375   3    5883.0
7337  Italy    9       9172   3    7375.0
7338  Italy   10      10149   3    9172.0
7339  Italy   11      12462   3   10149.0
7340  Italy   12      12462   3   12462.0
7341  Italy   13      17660   3   12462.0
7342  Italy   14      21157   3   17660.0
7343  Italy   15      24747   3   21157.0
7344  Italy   16      27980   3   24747.0
7345  Italy   17      31506   3   27980.0
7346  Italy   18      35713   3   31506.0
7347  Italy   19      41035   3   35713.0
7348  Italy   20      47021   3   41035.0
7349  Italy   21      53578   3   47021.0
7350  Italy   22      59138   3   53578.0
7351  Italy   23      63927   3   59138.0
7352  Italy   24      69176   3   63927.0
7353  Italy   25      74386   3   69176.0
7354  Italy   26      80589   3   74386.0
7355  Italy   27      86498   3   80589.0
7356  Italy   28      92472   3   86498.0
7357  Italy   29      97689   3   92472.0
7358  Italy   30     101739   3   97689.0
7359  Italy   31     105792   3  101739.0

### LAG operation

Here is the correct query showing the cases for the day before:

```sql
SELECT name, DAY(whn), confirmed,
   LAG(confirmed, 1) OVER (partition by name ORDER BY whn) AS lag
 FROM covid
WHERE name = 'Italy'
AND MONTH(whn) = 3
ORDER BY whn
```

Notice how the values in the LAG column match the value of the row diagonally above and to the left.

name | DAY(whn) | confirmed | dbf
------|---|------|----------
Italy | 1 | **1694** | null
Italy | 2 | 2036 | **1694**
Italy | 3 | 2502 | 2036
Italy | 4 | 3089 | 2502
Italy | 5 | **3858** | 3089
Italy | 6 | 4636 | **3858**
Italy | 7 | 5883 | 4636
Italy | 8 | 7375 | 5883
Italy | 9 | 9172 | 7375
Italy | 10 | 10149 | 9172
... | | |

## 3. Number of new cases

The number of confirmed case is cumulative - but we can use LAG to recover the number of new cases reported for each day.

**Show the number of new cases for each day, for Italy, for March.**

In [5]:
a = covid.assign(day=covid['whn'].dt.day)[
    (covid['name']=='Italy') & (covid['whn'].dt.month==3)]
a.assign(new=a['confirmed']-a['confirmed'].shift(1))[['name', 'day', 'new']]

       name  day     new
7329  Italy    1     NaN
7330  Italy    2   342.0
7331  Italy    3   466.0
7332  Italy    4   587.0
7333  Italy    5   769.0
7334  Italy    6   778.0
7335  Italy    7  1247.0
7336  Italy    8  1492.0
7337  Italy    9  1797.0
7338  Italy   10   977.0
7339  Italy   11  2313.0
7340  Italy   12     0.0
7341  Italy   13  5198.0
7342  Italy   14  3497.0
7343  Italy   15  3590.0
7344  Italy   16  3233.0
7345  Italy   17  3526.0
7346  Italy   18  4207.0
7347  Italy   19  5322.0
7348  Italy   20  5986.0
7349  Italy   21  6557.0
7350  Italy   22  5560.0
7351  Italy   23  4789.0
7352  Italy   24  5249.0
7353  Italy   25  5210.0
7354  Italy   26  6203.0
7355  Italy   27  5909.0
7356  Italy   28  5974.0
7357  Italy   29  5217.0
7358  Italy   30  4050.0
7359  Italy   31  4053.0

## 4. Weekly changes

The data gathered are necessarily estimates and are inaccurate. However by taking a longer time span we can mitigate some of the effects.

You can filter the data to view only Monday's figures **WHERE WEEKDAY(whn) = 0**.

**Show the number of new cases in Italy for each week - show Monday only.**

In [6]:
a = (covid[(covid['name']=='Italy') & (covid['whn'].dt.weekday==6)]).copy()
(a.assign(new = a['confirmed'] - a['confirmed'].shift(1))
        .loc[:, ['name', 'whn', 'new']])

       name        whn      new
7294  Italy 2020-01-26      NaN
7301  Italy 2020-02-02      2.0
7308  Italy 2020-02-09      1.0
7315  Italy 2020-02-16      0.0
7322  Italy 2020-02-23    152.0
7329  Italy 2020-03-01   1539.0
7336  Italy 2020-03-08   5681.0
7343  Italy 2020-03-15  17372.0
7350  Italy 2020-03-22  34391.0
7357  Italy 2020-03-29  38551.0
7364  Italy 2020-04-05  31259.0
7371  Italy 2020-04-12  27415.0
7378  Italy 2020-04-19  22609.0

## 5. LAG using a JOIN

You can JOIN a table using DATE arithmetic. This will give different results if data is missing.

**Show the number of new cases in Italy for each week - show Monday only.**

In the sample query we JOIN this week tw with last week lw using the DATE_ADD function.

In [7]:
# SELECT tw.name, TO_CHAR(tw.whn,'yyyy-mm-dd'), 
#   tw.confirmed - lw.confirmed AS new
#     FROM covid tw LEFT JOIN covid lw ON 
#     lw.whn + INTERVAL '1w' = tw.whn AND tw.name=lw.name
#     WHERE tw.name = 'Italy' AND EXTRACT(DOW FROM tw.whn)=0
#     ORDER BY tw.whn;
import datetime
a = (covid[(covid['name']=='Italy') & (covid['whn'].dt.weekday==6)]).copy()
b = (a.merge(a.assign(whn=covid['whn'] + datetime.timedelta(weeks=1)), 
        how='left', left_on=['whn', 'name'], right_on=['whn', 'name']))
b.assign(new=b['confirmed_x']-b['confirmed_y'])[['name', 'whn', 'new']]

     name        whn      new
0   Italy 2020-01-26      NaN
1   Italy 2020-02-02      2.0
2   Italy 2020-02-09      1.0
3   Italy 2020-02-16      0.0
4   Italy 2020-02-23    152.0
5   Italy 2020-03-01   1539.0
6   Italy 2020-03-08   5681.0
7   Italy 2020-03-15  17372.0
8   Italy 2020-03-22  34391.0
9   Italy 2020-03-29  38551.0
10  Italy 2020-04-05  31259.0
11  Italy 2020-04-12  27415.0
12  Italy 2020-04-19  22609.0

## 6. RANK()

The query shown shows the number of confirmed cases together with the world ranking for cases.

United States has the highest number, Spain is number 2...

Notice that while Spain has the second highest confirmed cases, Italy has the second highest number of deaths due to the virus.

**Include the ranking for the number of deaths in the table. Only include countries with a population of at least 10 million.**

In [8]:
a = covid.merge(world[['name', 'population']], left_on='name', right_on='name')
(a.assign(rc1=a['confirmed'].rank(ascending=False),
          rc2=a['deaths'].rank(ascending=False))
    .loc[(a['whn']=='2020-04-20') & (a['population']>=1e7),
        ['name', 'confirmed', 'rc1', 'deaths', 'rc2']]
    .sort_values('confirmed', ascending=False))

                                name  confirmed     rc1  deaths      rc2
15479                  United States     784326     1.0   42094      1.0
13769                          Spain     200210    21.0   20852     17.0
7379                           Italy     181228    27.0   24114      8.0
5399                          France     156480    42.0   20292     21.0
5759                         Germany     147065    52.0    4862    119.0
15389                 United Kingdom     125856    73.0   16550     42.0
15029                         Turkey      90980   107.0    2140    263.0
3239                           China      83817   116.0    4636    126.5
7019                            Iran      83505   120.0    5209    111.0
12059                         Russia      47121   247.0     405    497.5
2159                          Brazil      40743   262.0    2587    240.0
1529                         Belgium      39983   264.0    5828    105.0
2879                          Canada      37657   273.0    1725    287.0
10439                    Netherlands      33588   290.0    3764    149.0
11789                       Portugal      20863   376.0     735    390.0
6839                           India      18539   401.0     592    419.0
11519                           Peru      16325   424.0     445    472.5
14129                         Sweden      14777   445.0    1580    296.0
7559                           Japan      10797   535.5     236    635.0
13589                    South Korea      10674   539.0     236    635.0
3149                           Chile      10507   550.0     139    820.0
12689                   Saudi Arabia      10484   551.0     103    945.0
4499                         Ecuador      10128   570.0     507    446.0
11699                         Poland       9593   591.0     380    511.5
11969                        Romania       8936   618.0     478    457.0
11159                       Pakistan       8418   637.5     176    739.5
9539                          Mexico       8261   646.0     686    402.5
4049                  Czech Republic       6900   721.0     194    697.0
6929                       Indonesia       6760   731.0     590    422.0
809                        Australia       6547   753.0      67   1153.0
11609                    Philippines       6459   760.0     428    483.0
15209                        Ukraine       5710   834.0     151    789.0
8999                        Malaysia       5425   860.0      89   1015.0
4409              Dominican Republic       4964   902.0     235    638.0
3329                        Colombia       3977  1006.0     189    708.0
4589                           Egypt       3333  1091.5     250    617.0
13499                   South Africa       3300  1095.0      58   1225.0
9989                         Morocco       3046  1136.0     143    809.5
1259                      Bangladesh       2948  1158.0     101    954.0
629                        Argentina       2941  1160.0     136    831.0
14579                       Thailand       2792  1184.0      47   1330.5
269                          Algeria       2718  1206.0     384    509.5
5939                          Greece       2245  1316.5     116    898.0
7739                      Kazakhstan       1852  1436.0      19   1914.5
15659                     Uzbekistan       1627  1524.0       5   2922.0
7109                            Iraq       1574  1544.0      82   1052.5
989                       Azerbaijan       1436  1616.0      19   1914.5
2789                        Cameroon       1163  1799.0      42   1396.0
3869                            Cuba       1087  1850.0      36   1489.0
5849                           Ghana       1042  1885.5       9   2351.5
89                       Afghanistan       1026  1899.5      36   1489.0
14939                        Tunisia        884  2008.0      38   1453.0
3689                   C么te d'Ivoire        847  2044.0       9   2351.5
10799                        Nigeria        665  2243.0      22   1806.0
10709                          Niger        648  2280.0      20   1878.5
6209                          Guinea        622  2326.0       5   2922.0
2429                    Burkina Faso        581  2379.0      38   1453.0
1889                         Bolivia        564  2410.5      33   1558.0
7649                          Jordan        425  2670.5       7   2581.0
14399                         Taiwan        422  2680.0       6   2735.0
12779                        Senegal        377  2799.0       5   2922.0
3419   Congo, Democratic Republic of        332  2907.0      25   1723.5
13859                      Sri Lanka        304  2994.0       7   2581.0
6119                       Guatemala        289  3032.5       7   2581.0
7829                           Kenya        281  3051.5      14   2078.0
15929                        Vietnam        268  3096.5       0  10481.5
15839                      Venezuela        256  3153.0       9   2351.5
14489                       Tanzania        254  3161.0      10   2271.5
9179                            Mali        246  3190.0      14   2078.0
13409                        Somalia        237  3229.0       8   2455.0
12149                         Rwanda        147  3645.5       0  10481.5
2699                        Cambodia        122  3814.0       0  10481.5
8819                      Madagascar        121  3822.0       0  10481.5
10169                        Myanmar        119  3838.5       5   2922.0
5129                        Ethiopia        111  3911.5       3   3353.5
13949                          Sudan        107  3963.0      12   2158.5
16109                         Zambia         65  4409.0       3   3353.5
6479                           Haiti         57  4526.5       3   3353.5
15119                         Uganda         56  4545.0       0  10481.5
1709                           Benin         54  4583.5       1   4324.5
14309                          Syria         39  4898.0       3   3353.5
10079                     Mozambique         39  4898.0       0  10481.5
3059                            Chad         33  5058.0       0  10481.5
10349                          Nepal         31  5118.5       0  10481.5
16199                       Zimbabwe         25  5299.0       3   3353.5
449                           Angola         24  5337.0       2   3697.0
8909                          Malawi         17  5699.0       2   3697.0
2519                         Burundi          5  7090.5       1   4324.5
13679                    South Sudan          4  7258.0       0  10481.5
16019                          Yemen          1  8326.5       0  10481.5

## 7. Infection rate

The query shown includes a JOIN t the world table so we can access the total population of each country and calculate infection rates (in cases per 100,000).

**Show the infect rate ranking for each country. Only include countries with a population of at least 10 million.**

In [9]:
# a was obtained in #6
b = (a[(a['whn']=='2020-04-20') & (a['population']>1e7)]).copy()
b['r_inf'] = round(1e5*b['confirmed']/b['population'])
(b.assign(rc=b['r_inf'].rank(method='min'))
    .sort_values('population', ascending=False)
    .loc[:, ['name', 'r_inf', 'rc']])

                                name  r_inf    rc
3239                           China    6.0  50.0
6839                           India    1.0  23.0
15479                  United States  238.0  87.0
6929                       Indonesia    3.0  35.0
11159                       Pakistan    4.0  41.0
2159                          Brazil   19.0  65.0
10799                        Nigeria    0.0   1.0
1259                      Bangladesh    2.0  31.0
12059                         Russia   32.0  71.0
9539                          Mexico    7.0  54.0
7559                           Japan    9.0  59.0
11609                    Philippines    6.0  50.0
4589                           Egypt    3.0  35.0
5129                        Ethiopia    0.0   1.0
15929                        Vietnam    0.0   1.0
7019                            Iran  100.0  79.0
15029                         Turkey  109.0  80.0
5759                         Germany  177.0  82.0
3419   Congo, Democratic Republic of    0.0   1.0
5399                          France  233.0  86.0
14579                       Thailand    4.0  41.0
15389                 United Kingdom  189.0  83.0
7379                           Italy  301.0  88.0
13499                   South Africa    6.0  50.0
14489                       Tanzania    0.0   1.0
10169                        Myanmar    0.0   1.0
13589                    South Korea   21.0  66.0
3329                        Colombia    8.0  56.0
7829                           Kenya    1.0  23.0
13769                          Spain  425.0  90.0
629                        Argentina    7.0  54.0
269                          Algeria    6.0  50.0
13949                          Sudan    0.0   1.0
15209                        Ukraine   14.0  62.0
15119                         Uganda    0.0   1.0
7109                            Iraq    4.0  41.0
11699                         Poland   25.0  68.0
2879                          Canada   99.0  78.0
9989                         Morocco    8.0  56.0
12689                   Saudi Arabia   31.0  70.0
15659                     Uzbekistan    5.0  47.0
8999                        Malaysia   17.0  64.0
89                       Afghanistan    3.0  35.0
15839                      Venezuela    1.0  23.0
11519                           Peru   51.0  74.0
449                           Angola    0.0   1.0
5849                           Ghana    3.0  35.0
10079                     Mozambique    0.0   1.0
10349                          Nepal    0.0   1.0
16019                          Yemen    0.0   1.0
2789                        Cameroon    4.0  41.0
8819                      Madagascar    0.0   1.0
809                        Australia   25.0  68.0
3689                   C么te d'Ivoire    4.0  41.0
14399                         Taiwan    2.0  31.0
10709                          Niger    3.0  35.0
13859                      Sri Lanka    1.0  23.0
2429                    Burkina Faso    3.0  35.0
9179                            Mali    1.0  23.0
11969                        Romania   46.0  72.0
8909                          Malawi    0.0   1.0
3149                           Chile   55.0  75.0
7739                      Kazakhstan   10.0  60.0
16109                         Zambia    0.0   1.0
14309                          Syria    0.0   1.0
4499                         Ecuador   58.0  76.0
10439                    Netherlands  192.0  84.0
6119                       Guatemala    2.0  31.0
3059                            Chad    0.0   1.0
12779                        Senegal    2.0  31.0
13409                        Somalia    1.0  23.0
2699                        Cambodia    1.0  23.0
16199                       Zimbabwe    0.0   1.0
13679                    South Sudan    0.0   1.0
12149                         Rwanda    1.0  23.0
6209                          Guinea    5.0  47.0
1709                           Benin    0.0   1.0
14939                        Tunisia    8.0  56.0
6479                           Haiti    0.0   1.0
1529                         Belgium  347.0  89.0
1889                         Bolivia    5.0  47.0
3869                            Cuba   10.0  60.0
2519                         Burundi    0.0   1.0
5939                          Greece   21.0  66.0
4049                  Czech Republic   65.0  77.0
7649                          Jordan    4.0  41.0
4409              Dominican Republic   48.0  73.0
14129                         Sweden  143.0  81.0
11789                       Portugal  203.0  85.0
989                       Azerbaijan   14.0  62.0

## 8. Turning the corner

For each country that has had at last 1000 new cases in a single day, show the date of the peak number of new cases.

In [10]:
a = covid.assign(new=(covid['confirmed']-covid.groupby('name')['confirmed']
                      .shift(1)).fillna(0))
a['rc'] = a.groupby('name')['new'].rank(ascending=False, method='max')
(a.loc[(a['rc']==1) & (a['new']>1000), ['name', 'whn', 'new']]
    .sort_values(['whn', 'name']))

                 name        whn      new
3172            China 2020-02-13  15136.0
7349            Italy 2020-03-21   6557.0
14191     Switzerland 2020-03-23   1321.0
7263           Israel 2020-03-25   1131.0
13743           Spain 2020-03-25   9630.0
874           Austria 2020-03-26   1321.0
5735          Germany 2020-03-27   6933.0
6998             Iran 2020-03-30   3186.0
2864           Canada 2020-04-05   2778.0
4489          Ecuador 2020-04-10   2196.0
7189          Ireland 2020-04-10   1515.0
10429     Netherlands 2020-04-10   1346.0
11779        Portugal 2020-04-10   1516.0
15379  United Kingdom 2020-04-10   8733.0
15469   United States 2020-04-10  33755.0
15020          Turkey 2020-04-11   5138.0
5391           France 2020-04-12  26849.0
11512            Peru 2020-04-13   2265.0
1524          Belgium 2020-04-15   2454.0
2156           Brazil 2020-04-17   3257.0
7556            Japan 2020-04-17   1161.0
12687    Saudi Arabia 2020-04-18   1132.0
6838            India 2020-04-19   1893.0
12058          Russia 2020-04-19   6060.0
1439          Belarus 2020-04-20   1485.0
13139       Singapore 2020-04-20   1426.0