# Congestion Charging - Easy

![rel](https://sqlzoo.net/w/images/f/f6/CongestionCharge.png)

camera(**id**, perim)

keeper(**id**, name, address)

vehicle(**id**, keeper)

image(**_camera_**, **whn**, reg)

permit(**_reg_**, **sDate**, chargeType)

In [1]:
import findspark
import pandas as pd
findspark.init()

SVR = '192.168.31.31'
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import Window

sc = (SparkSession.builder.appName('app18-1') 
      .master(f'spark://{SVR}:7077') 
      .config('spark.sql.warehouse.dir', f'hdfs://{SVR}:9000/user/hive/warehouse') 
      .config('spark.cores.max', '4') 
      .config('spark.executor.instances', '1') 
      .config('spark.executor.cores', '2') 
      .config('spark.executor.memory', '10g') 
      .enableHiveSupport().getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
camera = sc.read.table('sqlzoo.camera')
keeper = sc.read.table('sqlzoo.keeper')
vehicle = sc.read.table('sqlzoo.vehicle')
image = sc.read.table('sqlzoo.image')
permit = sc.read.table('sqlzoo.permit')

## Sample query

List the vehicles for which 'Strenuous, Sam' is the registered keeper. The link between Keepers and Vehicles is via the foreign key specified in the CREATE TABLE vehicle statement. Note the line:

```
 ,FOREIGN KEY(keeper) REFERENCES keeper(id)
```

This will be the basis of our join condition.

## 1.
Show the name and address of the keeper of vehicle SO 02 PSP.

In [3]:
(keeper.join(vehicle.filter(vehicle['id']=='SO 02 PSP'),
             on=(keeper['id']==vehicle['keeper']))
 .select('name', 'address')
 .toPandas())

             name            address
0  Strenuous, Sam  Surjection Street

## 2.
Show the number of cameras that take images for incoming vehicles.

In [4]:
(camera.filter(col('perim')=='IN')
 .groupBy()
 .agg(count('id').alias('cnt'))
 .toPandas())

   cnt
0    8

## 3.
List the image details taken by Camera 10 before 26 Feb 2007.

In [5]:
(image.filter(image['whn'] < '2007-02-26')
 .join(camera, on=(image['camera']==camera['id']))
 .orderBy('whn', 'camera')
 .toPandas())

    camera                    whn        reg  id perim
0        1  2007-02-25 06:10:13.0  SO 02 ASP   1    IN
1       17  2007-02-25 06:20:01.0  SO 02 ASP  17  None
2       18  2007-02-25 06:23:40.0  SO 02 ASP  18  None
3        9  2007-02-25 06:26:04.0  SO 02 ASP   9   OUT
4       17  2007-02-25 06:57:31.0  SO 02 CSP  17  None
5       17  2007-02-25 07:00:40.0  SO 02 CSP  17  None
6       12  2007-02-25 07:04:31.0  SO 02 CSP  12   OUT
7        5  2007-02-25 07:10:00.0  SO 02 GSP   5    IN
8       16  2007-02-25 07:13:00.0  SO 02 GSP  16   OUT
9        2  2007-02-25 07:20:01.0  SO 02 TSP   2    IN
10      19  2007-02-25 07:23:00.0  SO 02 TSP  19  None
11      19  2007-02-25 07:26:31.0  SO 02 TSP  19  None
12      19  2007-02-25 07:29:00.0  SO 02 TSP  19  None
13       8  2007-02-25 07:35:41.0  SO 02 CSP   8    IN
14      18  2007-02-25 07:39:04.0  SO 02 CSP  18  None
15      18  2007-02-25 07:42:30.0  SO 02 CSP  18  None
16      10  2007-02-25 07:45:11.0  SO 02 CSP  10   OUT
17       8  2007-02-25 07:48:10.0  SO 02 CSP   8    IN
18      19  2007-02-25 07:51:10.0  SO 02 CSP  19  None
19      18  2007-02-25 07:55:11.0  SO 02 CSP  18  None
20      11  2007-02-25 07:58:01.0  SO 02 CSP  11   OUT
21      18  2007-02-25 16:28:40.0  SO 02 SSP  18  None
22      18  2007-02-25 16:29:11.0  SO 02 DSP  18  None
23       9  2007-02-25 16:31:01.0  SO 02 SSP   9   OUT
24      19  2007-02-25 16:31:01.0  SO 02 DSP  19  None
25      18  2007-02-25 16:38:31.0  SO 02 RSP  18  None
26       9  2007-02-25 16:39:10.0  SO 02 RSP   9   OUT
27       9  2007-02-25 16:45:04.0  SO 02 HSP   9   OUT
28       9  2007-02-25 16:48:11.0  SO 02 HSP   9   OUT
29       9  2007-02-25 16:51:30.0  SO 02 HSP   9   OUT
30       9  2007-02-25 16:58:01.0  SO 02 ISP   9   OUT
31      12  2007-02-25 17:01:13.0  SO 02 ISP  12   OUT
32       3  2007-02-25 17:07:00.0  SO 02 JSP   3    IN
33      18  2007-02-25 17:10:43.0  SO 02 JSP  18  None
34      19  2007-02-25 17:14:11.0  SO 02 JSP  19  None
35       3  2007-02-25 17:16:11.0  SO 02 ESP   3    IN
36       3  2007-02-25 17:17:03.0  SO 02 JSP   3    IN
37      19  2007-02-25 17:42:41.0  SO 02 DSP  19  None
38      11  2007-02-25 18:08:00.0  SO 02 FSP  11   OUT
39      12  2007-02-25 18:08:13.0  SO 02 GSP  12   OUT
40      10  2007-02-25 18:08:40.0  SO 02 ESP  10   OUT
41      10  2007-02-25 18:23:11.0  SO 02 MUP  10   OUT
42      11  2007-02-25 18:26:13.0  SO 02 NUP  11   OUT
43      12  2007-02-25 18:29:01.0  SO 02 OUP  12   OUT
44       3  2007-02-25 18:33:10.0  SO 02 PUP   3    IN
45      15  2007-02-25 18:36:31.0  SO 02 PUP  15   OUT
46       3  2007-02-25 18:39:10.0  SO 02 PUP   3    IN
47       9  2007-02-25 18:54:30.0  SO 02 DSP   9   OUT

## 4.
List the number of images taken by each camera. Your answer should show how many images have been taken by camera 1, camera 2 etc. The list must NOT include the images taken by camera 15, 16, 17, 18 and 19.

In [6]:
(image.filter(~ image['camera'].between(15, 19))
 .groupBy('camera')
 .agg(count('reg').alias('cnt'))
 .toPandas())

   camera  cnt
0      12    4
1       1    1
2       3    5
3       5    1
4       9    8
5       8    2
6      10    4
7      11    3
8       2    1

## 5.
A number of vehicles have permits that start on 30th Jan 2007. List the name and address for each keeper in alphabetical order without duplication.

In [7]:
(keeper.withColumnRenamed('id', 'keeper')
 .join(vehicle, on='keeper')
 .join(permit.filter(to_date(permit['sdate'])=='2007-01-30'),
       on=(vehicle['id']==permit['reg']))
 .select('name', 'address')
 .distinct()
 .orderBy('name')
 .toPandas())

                name                address
0  Ambiguous, Arthur        Absorption Ave.
1   Assiduous, Annie      Attribution Alley
2  Contiguous, Carol  Circumscription Close
3     Strenuous, Sam      Surjection Street

In [8]:
sc.stop()