# SELECT basics

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

## 1. Introducing the `world` table of countries

The example uses a WHERE clause to show the population of 'France'. Note that strings (pieces of text that are data) should be in 'single quotes';

**Modify it to show the population of Germany**

In [2]:
%%sql
SELECT population from world WHERE name='Germany'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(83149300.0,)]

## 2. Scandinavia

Checking a list The word **IN** allows us to check if an item is in a list. The example shows the name and population for the countries 'Brazil', 'Russia', 'India' and 'China'.

**Show the name and the population for 'Sweden', 'Norway' and 'Denmark'.**

In [3]:
%%sql
SELECT name, population FROM world WHERE name IN ('Sweden', 'Norway', 'Denmark')

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Denmark', 5822763.0), ('Norway', 5367580.0), ('Sweden', 10338368.0)]

## 3. Just the right size

Which countries are not too small and not too big? `BETWEEN` allows range checking (range specified is inclusive of boundary values). The example below shows countries with an area of 250,000-300,000 sq. km. Modify it to show the country and the area for countries with an area between 200,000 and 250,000.

In [4]:
%%sql
SELECT name, area FROM world WHERE area BETWEEN 200000 AND 250000

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Belarus', 207600.0),
 ('Ghana', 238533.0),
 ('Guinea', 245857.0),
 ('Guyana', 214969.0),
 ('Laos', 236800.0),
 ('Romania', 238391.0),
 ('Uganda', 241550.0),
 ('United Kingdom', 242900.0)]