# SELECT names

## Pattern Matching Strings
This tutorial uses the **LIKE** operator to check names. We will be using the SELECT command on the table world:

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

## 1.

You can use `WHERE name LIKE 'B%'` to find the countries that start with "B".

The % is a _wild-card_ it can match any characters

**Find the country that start with Y**

In [2]:
%%sql
SELECT name FROM world WHERE name LIKE 'Y%'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Yemen',)]

## 2.

**Find the countries that end with y**

In [3]:
%%sql
SELECT name FROM world WHERE name LIKE '%y'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Germany',),
 ('Hungary',),
 ('Italy',),
 ('Norway',),
 ('Paraguay',),
 ('Turkey',),
 ('Uruguay',),
 ('Vatican City',)]

## 3.

Luxembourg has an **x** - so does one other country. List them both.

**Find the countries that contain the letter x**

In [4]:
%%sql
SELECT name FROM world WHERE name LIKE '%x%'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Luxembourg',), ('Mexico',)]

## 4.

Iceland, Switzerland end with **land** - but are there others?

**Find the countries that end with land**

In [5]:
%%sql
SELECT name FROM world WHERE name LIKE '%land'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Finland',),
 ('Iceland',),
 ('Ireland',),
 ('New Zealand',),
 ('Poland',),
 ('Switzerland',),
 ('Thailand',)]

## 5.

Columbia starts with a **C** and ends with **ia** - there are two more like this.

**Find the countries that start with C and end with ia**

In [6]:
%%sql
SELECT name FROM world WHERE name LIKE 'C%ia'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Cambodia',), ('Colombia',), ('Croatia',)]

## 6.
Greece has a double **e** - who has **a** double **o**?

**Find the country that has oo in the name**

In [7]:
%%sql
SELECT name FROM world WHERE name LIKE '%oo%'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Cameroon',)]

## 7.

Bahamas has three **a** - who else?

**Find the countries that have three or more a in the name**

In [8]:
%%sql
SELECT name FROM world WHERE name LIKE '%a%a%a%'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Antigua and Barbuda',),
 ('Bahamas',),
 ('Bosnia and Herzegovina',),
 ('Canada',),
 ('Equatorial Guinea',),
 ('Guatemala',),
 ('Jamaica',),
 ('Kazakhstan',),
 ('Madagascar',),
 ('Malaysia',),
 ('Marshall Islands',),
 ('Mauritania',),
 ('Nicaragua',),
 ('Panama',),
 ('Papua New Guinea',),
 ('Paraguay',),
 ('Saint Vincent and the Grenadines',),
 ('Saudi Arabia',),
 ('Tanzania',),
 ('Trinidad and Tobago',)]

## 8.

India and Angola have an **n** as the second character. You can use the underscore as a single character wildcard.

```sql
SELECT name FROM world
 WHERE name LIKE '_n%'
ORDER BY name
```

**Find the countries that have "t" as the second character.**

In [9]:
%%sql
SELECT name FROM world WHERE name LIKE '_t%'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Ethiopia',), ('Italy',)]

## 9.

Lesotho and Moldova both have two o characters separated by two other characters.

**Find the countries that have two "o" characters separated by two others.**

In [10]:
%%sql
SELECT name FROM world WHERE name LIKE '%o__o%'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Congo, Democratic Republic of',),
 ('Congo, Republic of',),
 ('Lesotho',),
 ('Moldova',),
 ('Mongolia',),
 ('Morocco',),
 ('Sao Tomé and Príncipe',)]

## 10.

Cuba and Togo have four characters names.

**Find the countries that have exactly four characters.**

In [11]:
%%sql
SELECT name FROM world WHERE name LIKE '____'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Chad',),
 ('Cuba',),
 ('Fiji',),
 ('Iran',),
 ('Iraq',),
 ('Laos',),
 ('Mali',),
 ('Oman',),
 ('Peru',),
 ('Togo',)]

## 11.

The capital of **Luxembourg** is **Luxembourg**. Show all the countries where the capital is the same as the name of the country

**Find the country where the name is the capital city.**

In [12]:
%%sql
SELECT name FROM world WHERE name=capital

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Djibouti',), ('Luxembourg',), ('San Marino',), ('Singapore',)]

## 12.

The capital of **Mexico** is **Mexico City**. Show all the countries where the capital has the country together with the word "City".

**Find the country where the capital is the country plus "City".**

> _The concat function_    
> The function concat is short for concatenate - you can use it to combine two or more strings.

In [13]:
%%sql
SELECT name FROM world WHERE capital=CONCAT(name, ' City')

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Guatemala',), ('Kuwait',), ('Mexico',), ('Panama',)]

## 13.

**Find the capital and the name where the capital includes the name of the country.**

In [14]:
%%sql
SELECT capital, name FROM world WHERE capital LIKE CONCAT('%', name, '%')

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Andorra la Vella', 'Andorra'),
 ('Djibouti', 'Djibouti'),
 ('Guatemala City', 'Guatemala'),
 ('Kuwait City', 'Kuwait'),
 ('Luxembourg', 'Luxembourg'),
 ('Mexico City', 'Mexico'),
 ('Monaco-Ville', 'Monaco'),
 ('Panama City', 'Panama'),
 ('San Marino', 'San Marino'),
 ('Singapore', 'Singapore')]

## 14.

**Find the capital and the name where the capital is an extension of name of the country.**

You _should_ include **Mexico City** as it is longer than **Mexico**. You _should not_ include **Luxembourg** as the capital is the same as the country.

In [15]:
%%sql
SELECT capital, name FROM world WHERE capital LIKE CONCAT('%', name, '%') AND capital <> name

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Andorra la Vella', 'Andorra'),
 ('Guatemala City', 'Guatemala'),
 ('Kuwait City', 'Kuwait'),
 ('Mexico City', 'Mexico'),
 ('Monaco-Ville', 'Monaco'),
 ('Panama City', 'Panama')]

## 15.

For **Monaco-Ville** the name is **Monaco** and the extension is **-Ville**.

**Show the name and the extension where the capital is an extension of name of the country.**

You can use the SQL function [REPLACE](https://sqlzoo.net/wiki/REPLACE).

In [16]:
%%sql
SELECT name, REGEXP_REPLACE(world.capital, world.name, '') AS ext FROM world
WHERE capital LIKE CONCAT(name, '%') AND capital <> name

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Andorra', ' la Vella'),
 ('Guatemala', ' City'),
 ('Kuwait', ' City'),
 ('Mexico', ' City'),
 ('Monaco', '-Ville'),
 ('Panama', ' City')]