# SELECT from WORLD

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

 ·········

## 1. Introduction

[Read the notes about this table](https://sqlzoo.net/wiki/Read_the_notes_about_this_table.). Observe the result of running this SQL command to show the name, continent and population of all countries.

In [2]:
%%sql
SELECT name, continent, population FROM world;

 * postgresql://postgres:***@localhost/sqlzoo
195 rows affected.

[('Afghanistan', 'Asia', Decimal('25500100')),
 ('Albania', 'Europe', Decimal('2821977')),
 ('Algeria', 'Africa', Decimal('38700000')),
 ('Andorra', 'Europe', Decimal('76098')),
 ('Angola', 'Africa', Decimal('19183590')),
 ('Antigua and Barbuda', 'Caribbean', Decimal('86295')),
 ('Argentina', 'South America', Decimal('42669500')),
 ('Armenia', 'Eurasia', Decimal('3017400')),
 ('Australia', 'Oceania', Decimal('23545500')),
 ('Austria', 'Europe', Decimal('8504850')),
 ('Azerbaijan', 'Asia', Decimal('9477100')),
 ('Bahamas', 'Caribbean', Decimal('351461')),
 ('Bahrain', 'Asia', Decimal('1234571')),
 ('Bangladesh', 'Asia', Decimal('156557000')),
 ('Barbados', 'Caribbean', Decimal('285000')),
 ('Belarus', 'Europe', Decimal('9467000')),
 ('Belgium', 'Europe', Decimal('11198638')),
 ('Belize', 'North America', Decimal('349728')),
 ('Benin', 'Africa', Decimal('9988068')),
 ('Bhutan', 'Asia', Decimal('749090')),
 ('Bolivia', 'South America', Decimal('10027254')),
 ('Bosnia and Herzegovina', 'Europe', Decimal('3791622')),
 ('Botswana', 'Africa', Decimal('2024904')),
 ('Brazil', 'South America', Decimal('202794000')),
 ('Brunei', 'Asia', Decimal('393162')),
 ('Bulgaria', 'Europe', Decimal('7245677')),
 ('Burkina Faso', 'Africa', Decimal('17322796')),
 ('Burundi', 'Africa', Decimal('9420248')),
 ('Cambodia', 'Asia', Decimal('15184116')),
 ('Cameroon', 'Africa', Decimal('20386799')),
 ('Canada', 'North America', Decimal('35427524')),
 ('Cape Verde', 'Africa', Decimal('491875')),
 ('Central African Republic', 'Africa', Decimal('4709000')),
 ('Chad', 'Africa', Decimal('13211000')),
 ('Chile', 'South America', Decimal('17773000')),
 ('China', 'Asia', Decimal('1365370000')),
 ('Colombia', 'South America', Decimal('47662000')),
 ('Comoros', 'Africa', Decimal('743798')),
 ('Congo, Democratic Republic of', 'Africa', Decimal('69360000')),
 ('Congo, Republic of', 'Africa', Decimal('4559000')),
 ('Costa Rica', 'North America', Decimal('4667096')),
 ("Côte d'Ivoire", 'Africa', Decimal('23919000')),
 ('Croatia', 'Europe', Decimal('4290612')),
 ('Cuba', 'Caribbean', Decimal('11167325')),
 ('Cyprus', 'Asia', Decimal('865878')),
 ('Czech Republic', 'Europe', Decimal('10517400')),
 ('Denmark', 'Europe', Decimal('5634437')),
 ('Djibouti', 'Africa', Decimal('886000')),
 ('Dominica', 'Caribbean', Decimal('71293')),
 ('Dominican Republic', 'Caribbean', Decimal('9445281')),
 ('Ecuador', 'South America', Decimal('15774200')),
 ('Egypt', 'Asia', Decimal('86736900')),
 ('El Salvador', 'North America', Decimal('6384000')),
 ('Equatorial Guinea', 'Africa', Decimal('1622000')),
 ('Eritrea', 'Africa', Decimal('6536000')),
 ('Estonia', 'Europe', Decimal('1315819')),
 ('Ethiopia', 'Africa', Decimal('87952991')),
 ('Fiji', 'Oceania', Decimal('858038')),
 ('Finland', 'Europe', Decimal('5458038')),
 ('France', 'Europe', Decimal('65906000')),
 ('Gabon', 'Africa', Decimal('1711000')),
 ('Gambia', 'Africa', Decimal('1882450')),
 ('Georgia', 'Asia', Decimal('4490500')),
 ('Germany', 'Europe', Decimal('80716000')),
 ('Ghana', 'Africa', Decimal('27043093')),
 ('Greece', 'Europe', Decimal('11123034')),
 ('Grenada', 'Caribbean', Decimal('103328')),
 ('Guatemala', 'North America', Decimal('15806675')),
 ('Guinea', 'Africa', Decimal('10824200')),
 ('Guinea-Bissau', 'Africa', Decimal('1746000')),
 ('Guyana', 'South America', Decimal('784894')),
 ('Haiti', 'Caribbean', Decimal('10413211')),
 ('Honduras', 'North America', Decimal('8555072')),
 ('Hungary', 'Europe', Decimal('9879000')),
 ('Iceland', 'Europe', Decimal('326340')),
 ('India', 'Asia', Decimal('1246160000')),
 ('Indonesia', 'Asia', Decimal('252164800')),
 ('Iran', 'Asia', Decimal('77552000')),
 ('Iraq', 'Asia', Decimal('36004552')),
 ('Ireland', 'Europe', Decimal('4593100')),
 ('Israel', 'Asia', Decimal('8193900')),
 ('Italy', 'Europe', Decimal('60782668')),
 ('Jamaica', 'Caribbean', Decimal('2717991')),
 ('Japan', 'Asia', Decimal('127090000')),
 ('Jordan', 'Asia', Decimal('6602190')),
 ('Kazakhstan', 'Europe', Decimal('17244000')),
 ('Kenya', 'Africa', Decimal('45546000')),
 ('Kiribati', 'Oceania', Decimal('106461')),
 ('Kuwait', 'Asia', Decimal('3065850')),
 ('Kyrgyzstan', 'Asia', Decimal('5776570')),
 ('Laos', 'Asia', Decimal('6580800')),
 ('Latvia', 'Europe', Decimal('1996500')),
 ('Lebanon', 'Asia', Decimal('4966000')),
 ('Lesotho', 'Africa', Decimal('2098000')),
 ('Liberia', 'Africa', Decimal('4397000')),
 ('Libya', 'Africa', Decimal('6253000')),
 ('Liechtenstein', 'Europe', Decimal('37132')),
 ('Lithuania', 'Europe', Decimal('2939431')),
 ('Luxembourg', 'Europe', Decimal('549700')),
 ('Macedonia', 'Europe', Decimal('2062294')),
 ('Madagascar', 'Africa', Decimal('21263403')),
 ('Malawi', 'Africa', Decimal('16829000')),
 ('Malaysia', 'Asia', Decimal('30177000')),
 ('Maldives', 'Asia', Decimal('317280')),
 ('Mali', 'Africa', Decimal('15768000')),
 ('Malta', 'Europe', Decimal('416055')),
 ('Marshall Islands', 'Oceania', Decimal('56086')),
 ('Mauritania', 'Africa', Decimal('3461041')),
 ('Mauritius', 'Africa', Decimal('1257900')),
 ('Mexico', 'North America', Decimal('119713203')),
 ('Micronesia, Federated States of', 'Oceania', Decimal('101351')),
 ('Moldova', 'Europe', Decimal('3557600')),
 ('Monaco', 'Europe', Decimal('36950')),
 ('Mongolia', 'Asia', Decimal('2931300')),
 ('Montenegro', 'Europe', Decimal('620029')),
 ('Morocco', 'Africa', Decimal('33307500')),
 ('Mozambique', 'Africa', Decimal('23700715')),
 ('Myanmar', 'Asia', Decimal('61120000')),
 ('Namibia', 'Africa', Decimal('2113077')),
 ('Nauru', 'Oceania', Decimal('9945')),
 ('Nepal', 'Asia', Decimal('26494504')),
 ('Netherlands', 'Europe', Decimal('16857500')),
 ('New Zealand', 'Oceania', Decimal('4538520')),
 ('Nicaragua', 'North America', Decimal('6071045')),
 ('Niger', 'Africa', Decimal('17138707')),
 ('Nigeria', 'Africa', Decimal('178517000')),
 ('North Korea', 'Asia', Decimal('25027000')),
 ('Norway', 'Europe', Decimal('5124383')),
 ('Oman', 'Asia', Decimal('4020000')),
 ('Pakistan', 'Asia', Decimal('188020000')),
 ('Palau', 'Oceania', Decimal('20901')),
 ('Panama', 'North America', Decimal('3405813')),
 ('Papua New Guinea', 'Oceania', Decimal('7398500')),
 ('Paraguay', 'South America', Decimal('6783374')),
 ('Peru', 'South America', Decimal('30475144')),
 ('Philippines', 'Asia', Decimal('99804200')),
 ('Poland', 'Europe', Decimal('38496000')),
 ('Portugal', 'Europe', Decimal('10477800')),
 ('Qatar', 'Asia', Decimal('2174035')),
 ('Romania', 'Europe', Decimal('19942642')),
 ('Russia', 'Eurasia', Decimal('146000000')),
 ('Rwanda', 'Africa', Decimal('10537222')),
 ('Saint Kitts and Nevis', 'North America', Decimal('55000')),
 ('Saint Lucia', 'Caribbean', Decimal('180000')),
 ('Saint Vincent and the Grenadines', 'South America', Decimal('109000')),
 ('Samoa', 'Oceania', Decimal('187820')),
 ('San Marino', 'Europe', Decimal('32637')),
 ('Sao Tomé and Príncipe', 'Africa', Decimal('190428')),
 ('Saudi Arabia', 'Asia', Decimal('29994272')),
 ('Senegal', 'Africa', Decimal('12873601')),
 ('Serbia', 'Europe', Decimal('7181505')),
 ('Seychelles', 'Africa', Decimal('90945')),
 ('Sierra Leone', 'Africa', Decimal('6190280')),
 ('Singapore', 'Asia', Decimal('5399200')),
 ('Slovakia', 'Europe', Decimal('5415949')),
 ('Slovenia', 'Europe', Decimal('2063151')),
 ('Solomon Islands', 'Oceania', Decimal('581344')),
 ('Somalia', 'Africa', Decimal('10806000')),
 ('South Africa', 'Africa', Decimal('52981991')),
 ('South Korea', 'Asia', Decimal('50423955')),
 ('South Sudan', 'Africa', Decimal('11739000')),
 ('Spain', 'Europe', Decimal('46609700')),
 ('Sri Lanka', 'Asia', Decimal('20277597')),
 ('Sudan', 'Africa', Decimal('37289406')),
 ('Suriname', 'South America', Decimal('534189')),
 ('Swaziland', 'Africa', Decimal('1268000')),
 ('Sweden', 'Europe', Decimal('9675885')),
 ('Switzerland', 'Europe', Decimal('8160900')),
 ('Syria', 'Asia', Decimal('21987000')),
 ('Taiwan', 'Asia', Decimal('23386883')),
 ('Tajikistan', 'Asia', Decimal('8160000')),
 ('Tanzania', 'Africa', Decimal('44928923')),
 ('Thailand', 'Asia', Decimal('64456700')),
 ('Timor-Leste', 'Asia', Decimal('1212107')),
 ('Togo', 'Africa', Decimal('6993000')),
 ('Tonga', 'Oceania', Decimal('103036')),
 ('Trinidad and Tobago', 'Caribbean', Decimal('1328019')),
 ('Tunisia', 'Africa', Decimal('10886500')),
 ('Turkey', 'Asia', Decimal('76667864')),
 ('Turkmenistan', 'Asia', Decimal('5307000')),
 ('Tuvalu', 'Oceania', Decimal('11323')),
 ('Uganda', 'Africa', Decimal('35357000')),
 ('Ukraine', 'Europe', Decimal('43009258')),
 ('United Arab Emirates', 'Asia', Decimal('9446000')),
 ('United Kingdom', 'Europe', Decimal('64105700')),
 ('United States', 'North America', Decimal('318320000')),
 ('Uruguay', 'South America', Decimal('3286314')),
 ('Uzbekistan', 'Asia', Decimal('30492800')),
 ('Vanuatu', 'Oceania', Decimal('264652')),
 ('Vatican City', 'Europe', Decimal('839')),
 ('Venezuela', 'South America', Decimal('28946101')),
 ('Vietnam', 'Asia', Decimal('89708900')),
 ('Yemen', 'Asia', Decimal('25235000')),
 ('Zambia', 'Africa', Decimal('15023315')),
 ('Zimbabwe', 'Africa', Decimal('13061239'))]

## 2. Large Countries

[How to use WHERE to filter records](https://sqlzoo.net/wiki/WHERE_filters). Show the name for the countries that have a population of at least 200 million. 200 million is 200000000, there are eight zeros.

In [3]:
%%sql
SELECT name FROM world WHERE population>=200000000;

 * postgresql://postgres:***@localhost/sqlzoo
5 rows affected.

[('Brazil',), ('China',), ('India',), ('Indonesia',), ('United States',)]

## 3. Per capita GDP

Give the `name` and the **per capita GDP** for those countries with a `population` of at least 200 million.

> _HELP:How to calculate per capita GDP_   
> per capita GDP is the GDP divided by the population GDP/population

In [4]:
%%sql
SELECT name, gdp/population as pcg FROM world WHERE population > 200000000;

 * postgresql://postgres:***@localhost/sqlzoo
5 rows affected.

[('Brazil', Decimal('11115.2647514226259160')),
 ('China', Decimal('6121.7105985923229601')),
 ('India', Decimal('1504.7931244783976375')),
 ('Indonesia', Decimal('3482.0204881886766115')),
 ('United States', Decimal('51032.294546368434'))]

## 4. South America In millions

Show the `name` and `population` in millions for the countries of the `continent` 'South America'. Divide the population by 1000000 to get population in millions.

In [5]:
%%sql
SELECT name, population/1000000 AS population FROM world WHERE continent='South America';

 * postgresql://postgres:***@localhost/sqlzoo
13 rows affected.

[('Argentina', Decimal('42.6695000000000000')),
 ('Bolivia', Decimal('10.0272540000000000')),
 ('Brazil', Decimal('202.7940000000000000')),
 ('Chile', Decimal('17.7730000000000000')),
 ('Colombia', Decimal('47.6620000000000000')),
 ('Ecuador', Decimal('15.7742000000000000')),
 ('Guyana', Decimal('0.78489400000000000000')),
 ('Paraguay', Decimal('6.7833740000000000')),
 ('Peru', Decimal('30.4751440000000000')),
 ('Saint Vincent and the Grenadines', Decimal('0.10900000000000000000')),
 ('Suriname', Decimal('0.53418900000000000000')),
 ('Uruguay', Decimal('3.2863140000000000')),
 ('Venezuela', Decimal('28.9461010000000000'))]

## 5. France, Germany, Italy

Show the `name` and `population` for France, Germany, Italy

In [6]:
%%sql
SELECT name, population FROM world WHERE name IN ('France', 'Germany', 'Italy');

 * postgresql://postgres:***@localhost/sqlzoo
3 rows affected.

[('France', Decimal('65906000')),
 ('Germany', Decimal('80716000')),
 ('Italy', Decimal('60782668'))]

## 6. United

Show the countries which have a `name` that includes the word 'United'

In [7]:
%%sql
SELECT name FROM world WHERE name LIKE '%United%';

 * postgresql://postgres:***@localhost/sqlzoo
3 rows affected.

[('United Arab Emirates',), ('United Kingdom',), ('United States',)]

## 7. Two ways to be big

Two ways to be big: A country is **big** if it has an area of more than 3 million sq km or it has a population of more than 250 million.

**Show the countries that are big by area or big by population. Show name, population and area.**

In [8]:
%%sql
SELECT name, population, area FROM world
WHERE population >= 250000000 OR area >= 3000000;

 * postgresql://postgres:***@localhost/sqlzoo
8 rows affected.

[('Australia', Decimal('23545500'), Decimal('7692024')),
 ('Brazil', Decimal('202794000'), Decimal('8515767')),
 ('Canada', Decimal('35427524'), Decimal('9984670')),
 ('China', Decimal('1365370000'), Decimal('9596961')),
 ('India', Decimal('1246160000'), Decimal('3166414')),
 ('Indonesia', Decimal('252164800'), Decimal('1904569')),
 ('Russia', Decimal('146000000'), Decimal('17125242')),
 ('United States', Decimal('318320000'), Decimal('9826675'))]

## 8. One or the other (but not both)

**Exclusive OR (XOR). Show the countries that are big by area (more than 3 million) or big by population (more than 250 million) but not both. Show name, population and area.**

- Australia has a big area but a small population, it should be **included**.
- Indonesia has a big population but a small area, it should be **included**.
- China has a big population **and** big area, it should be **excluded**.
- United Kingdom has a small population and a small area, it should be **excluded**.

In [9]:
%%sql
-- postgresql does not have XOR operator
CREATE OR REPLACE FUNCTION fxor (x boolean, y boolean) RETURNS boolean AS 
$BODY$
BEGIN
  RETURN (x OR y) AND NOT (x AND y);
END;
$BODY$
LANGUAGE PLPGSQL;

SELECT name, population, area FROM world
WHERE fxor(population >= 250000000, area >= 3000000);

 * postgresql://postgres:***@localhost/sqlzoo
Done.
5 rows affected.

[('Australia', Decimal('23545500'), Decimal('7692024')),
 ('Brazil', Decimal('202794000'), Decimal('8515767')),
 ('Canada', Decimal('35427524'), Decimal('9984670')),
 ('Indonesia', Decimal('252164800'), Decimal('1904569')),
 ('Russia', Decimal('146000000'), Decimal('17125242'))]

## 9. Rounding

Show the `name` and `population` in millions and the GDP in billions for the countries of the `continent` 'South America'. Use the [ROUND](https://sqlzoo.net/wiki/ROUND) function to show the values to two decimal places.

**For South America show population in millions and GDP in billions both to 2 decimal places.**

> _Millions and billions_    
> Divide by 1000000 (6 zeros) for millions. Divide by 1000000000 (9 zeros) for billions.

In [10]:
%%sql
SELECT name, ROUND(population/1000000, 2) as popl, ROUND(gdp/1000000000, 2) as gdp_mil
FROM world
WHERE continent = 'South America';

 * postgresql://postgres:***@localhost/sqlzoo
13 rows affected.

[('Argentina', Decimal('42.67'), Decimal('477.03')),
 ('Bolivia', Decimal('10.03'), Decimal('27.04')),
 ('Brazil', Decimal('202.79'), Decimal('2254.11')),
 ('Chile', Decimal('17.77'), Decimal('268.31')),
 ('Colombia', Decimal('47.66'), Decimal('369.81')),
 ('Ecuador', Decimal('15.77'), Decimal('87.50')),
 ('Guyana', Decimal('0.78'), Decimal('2.85')),
 ('Paraguay', Decimal('6.78'), Decimal('25.94')),
 ('Peru', Decimal('30.48'), Decimal('204.68')),
 ('Saint Vincent and the Grenadines', Decimal('0.11'), Decimal('0.69')),
 ('Suriname', Decimal('0.53'), Decimal('5.01')),
 ('Uruguay', Decimal('3.29'), Decimal('49.92')),
 ('Venezuela', Decimal('28.95'), Decimal('382.42'))]

## 10. Trillion dollar economies

Show the `name` and per-capita GDP for those countries with a GDP of at least one trillion (1000000000000; that is 12 zeros). Round this value to the nearest 1000.

**Show per-capita GDP for the trillion dollar countries to the nearest $1000.**

In [11]:
%%sql
SELECT name, ROUND(gdp/(population*1000), 0) * 1000 AS pc_gdp
FROM world
WHERE gdp >= POWER(10, 12);

 * postgresql://postgres:***@localhost/sqlzoo
15 rows affected.

[('Australia', Decimal('66000')),
 ('Brazil', Decimal('11000')),
 ('Canada', Decimal('45000')),
 ('China', Decimal('6000')),
 ('France', Decimal('40000')),
 ('Germany', Decimal('42000')),
 ('India', Decimal('2000')),
 ('Italy', Decimal('33000')),
 ('Japan', Decimal('47000')),
 ('Mexico', Decimal('10000')),
 ('Russia', Decimal('14000')),
 ('South Korea', Decimal('22000')),
 ('Spain', Decimal('28000')),
 ('United Kingdom', Decimal('39000')),
 ('United States', Decimal('51000'))]

## 11. Name and capital have the same length

Greece has capital Athens.

Each of the strings 'Greece', and 'Athens' has 6 characters.

**Show the name and capital where the name and the capital have the same number of characters.**

- You can use the [LENGTH](https://sqlzoo.net/wiki/LENGTH) function to find the number of characters in a string

In [12]:
%%sql
SELECT name, capital FROM world
WHERE LENGTH(name) = LENGTH(capital);

 * postgresql://postgres:***@localhost/sqlzoo
26 rows affected.

[('Algeria', 'Algiers'),
 ('Angola', 'Luanda'),
 ('Armenia', 'Yerevan'),
 ('Botswana', 'Gaborone'),
 ('Canada', 'Ottowa'),
 ('Djibouti', 'Djibouti'),
 ('Egypt', 'Cairo'),
 ('Estonia', 'Tallinn'),
 ('Fiji', 'Suva'),
 ('Gambia', 'Banjul'),
 ('Georgia', 'Tbilisi'),
 ('Ghana', 'Accra'),
 ('Greece', 'Athens'),
 ('Luxembourg', 'Luxembourg'),
 ('Mauritania', 'Nouakchott'),
 ('Paraguay', 'Asunción'),
 ('Peru', 'Lima'),
 ('Poland', 'Warsaw'),
 ('Russia', 'Moscow'),
 ('Rwanda', 'Kigali'),
 ('San Marino', 'San Marino'),
 ('Singapore', 'Singapore'),
 ('Taiwan', 'Taipei'),
 ('Togo', 'Lomé'),
 ('Turkey', 'Ankara'),
 ('Zambia', 'Lusaka')]

## 12. Matching name and capital

The capital of Sweden is Stockholm. Both words start with the letter 'S'.

**Show the name and the capital where the first letters of each match. Don't include countries where the name and the capital are the same word.**

- You can use the function [LEFT](https://sqlzoo.net/wiki/LEFT) to isolate the first character.
- You can use <> as the **NOT EQUALS** operator.

In [13]:
%%sql
SELECT name, capital FROM world
WHERE LEFT(name, 1) = LEFT(capital, 1) AND name <> capital;

 * postgresql://postgres:***@localhost/sqlzoo
24 rows affected.

[('Algeria', 'Algiers'),
 ('Andorra', 'Andorra la Vella'),
 ('Barbados', 'Bridgetown'),
 ('Belize', 'Belmopan'),
 ('Brazil', 'Brasília'),
 ('Brunei', 'Bandar Seri Begawan'),
 ('Burundi', 'Bujumbura'),
 ('Guatemala', 'Guatemala City'),
 ('Guyana', 'Georgetown'),
 ('Kuwait', 'Kuwait City'),
 ('Maldives', 'Malé'),
 ('Marshall Islands', 'Majuro'),
 ('Mexico', 'Mexico City'),
 ('Monaco', 'Monaco-Ville'),
 ('Mozambique', 'Maputo'),
 ('Niger', 'Niamey'),
 ('Panama', 'Panama City'),
 ('Papua New Guinea', 'Port Moresby'),
 ('Sao Tomé and Príncipe', 'São Tomé'),
 ('South Korea', 'Seoul'),
 ('Sri Lanka', 'Sri Jayawardenepura Kotte'),
 ('Sweden', 'Stockholm'),
 ('Taiwan', 'Taipei'),
 ('Tunisia', 'Tunis')]

## 13. All the vowels

**Equatorial Guinea** and **Dominican Republic** have all of the vowels (a e i o u) in the name. They don't count because they have more than one word in the name.

**Find the country that has all the vowels and no spaces in its name.**

- You can use the phrase name `NOT LIKE '%a%'` to exclude characters from your results.
- The query shown misses countries like Bahamas and Belarus because they contain at least one 'a'

In [14]:
%%sql
SELECT name FROM world
WHERE name LIKE '%a%' AND name LIKE '%e%' AND name LIKE '%i%' AND name LIKE '%o%' AND name LIKE '%u%'
  AND name NOT LIKE '% %';

 * postgresql://postgres:***@localhost/sqlzoo
1 rows affected.

[('Mozambique',)]