# SELECT from WORLD

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

## 1. Introduction

[Read the notes about this table](https://sqlzoo.net/wiki/Read_the_notes_about_this_table.). Observe the result of running this SQL command to show the name, continent and population of all countries.

In [2]:
%%sql
SELECT name, continent, population FROM world

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Afghanistan', 'Asia', 32225560.0),
 ('Albania', 'Europe', 2845955.0),
 ('Algeria', 'Africa', 43000000.0),
 ('Andorra', 'Europe', 77543.0),
 ('Angola', 'Africa', 31127674.0),
 ('Antigua and Barbuda', 'Caribbean', 96453.0),
 ('Argentina', 'South America', 44938712.0),
 ('Armenia', 'Eurasia', 2957500.0),
 ('Australia', 'Oceania', 25690023.0),
 ('Austria', 'Europe', 8902600.0),
 ('Azerbaijan', 'Asia', 10067108.0),
 ('Bahamas', 'Caribbean', 385340.0),
 ('Bahrain', 'Asia', 1543300.0),
 ('Bangladesh', 'Asia', 168506944.0),
 ('Barbados', 'Caribbean', 287025.0),
 ('Belarus', 'Europe', 9408400.0),
 ('Belgium', 'Europe', 11524454.0),
 ('Belize', 'North America', 408487.0),
 ('Benin', 'Africa', 11733059.0),
 ('Bhutan', 'Asia', 741672.0),
 ('Bolivia', 'South America', 11469896.0),
 ('Bosnia and Herzegovina', 'Europe', 3301000.0),
 ('Botswana', 'Africa', 2338851.0),
 ('Brazil', 'South America', 211442625.0),
 ('Brunei', 'Asia', 442400.0),
 ('Bulgaria', 'Europe', 6951482.0),
 ('Burkina Faso', 'Africa', 20870060.0),
 ('Burundi', 'Africa', 10953317.0),
 ('Cabo Verde', 'Africa', 491875.0),
 ('Cambodia', 'Asia', 15288489.0),
 ('Cameroon', 'Africa', 26545864.0),
 ('Canada', 'North America', 38007166.0),
 ('Central African Republic', 'Africa', 5496011.0),
 ('Chad', 'Africa', 16244513.0),
 ('Chile', 'South America', 19107216.0),
 ('China', 'Asia', 1402378640.0),
 ('Colombia', 'South America', 49395678.0),
 ('Comoros', 'Africa', 873724.0),
 ('Congo, Democratic Republic of', 'Africa', 69360000.0),
 ('Congo, Republic of', 'Africa', 4559000.0),
 ('Costa Rica', 'North America', 5058007.0),
 ("CÃ´te d'Ivoire", 'Africa', 23919000.0),
 ('Croatia', 'Europe', 4076246.0),
 ('Cuba', 'Caribbean', 11209628.0),
 ('Cyprus', 'Asia', 875900.0),
 ('Czech Republic', 'Europe', 10693939.0),
 ('Denmark', 'Europe', 5822763.0),
 ('Djibouti', 'Africa', 1078373.0),
 ('Dominica', 'Caribbean', 71808.0),
 ('Dominican Republic', 'Caribbean', 10358320.0),
 ('Ecuador', 'South America', 17472948.0),
 ('Egypt', 'Asia', 100300578.0),
 ('El Salvador', 'North America', 6486201.0),
 ('Equatorial Guinea', 'Africa', 1358276.0),
 ('Eritrea', 'Africa', 3497117.0),
 ('Estonia', 'Europe', 1328360.0),
 ('Eswani', 'Africa', 1268000.0),
 ('Ethiopia', 'Africa', 98665000.0),
 ('Fiji', 'Oceania', 884887.0),
 ('Finland', 'Europe', 5527573.0),
 ('France', 'Europe', 67076000.0),
 ('Gabon', 'Africa', 2172579.0),
 ('Gambia', 'Africa', 2347706.0),
 ('Georgia', 'Asia', 3723464.0),
 ('Germany', 'Europe', 83149300.0),
 ('Ghana', 'Africa', 30280811.0),
 ('Greece', 'Europe', 10724599.0),
 ('Grenada', 'Caribbean', 112003.0),
 ('Guatemala', 'North America', 16604026.0),
 ('Guinea', 'Africa', 12218357.0),
 ('Guinea-Bissau', 'Africa', 1604528.0),
 ('Guyana', 'South America', 782766.0),
 ('Haiti', 'Caribbean', 11577779.0),
 ('Honduras', 'North America', 9158345.0),
 ('Hungary', 'Europe', 9772756.0),
 ('Iceland', 'Europe', 364260.0),
 ('India', 'Asia', 1361503224.0),
 ('Indonesia', 'Asia', 266911900.0),
 ('Iran', 'Asia', 83396540.0),
 ('Iraq', 'Asia', 39127900.0),
 ('Ireland', 'Europe', 4921500.0),
 ('Israel', 'Asia', 9190800.0),
 ('Italy', 'Europe', 60238522.0),
 ('Jamaica', 'Caribbean', 2726667.0),
 ('Japan', 'Asia', 125950000.0),
 ('Jordan', 'Asia', 10666772.0),
 ('Kazakhstan', 'Europe', 18689256.0),
 ('Kenya', 'Africa', 47564296.0),
 ('Kiribati', 'Oceania', 120100.0),
 ('Kuwait', 'Asia', 4420110.0),
 ('Kyrgyzstan', 'Asia', 6533500.0),
 ('Laos', 'Asia', 7123205.0),
 ('Latvia', 'Europe', 1906800.0),
 ('Lebanon', 'Asia', 6825442.0),
 ('Lesotho', 'Africa', 2007201.0),
 ('Liberia', 'Africa', 4475353.0),
 ('Libya', 'Africa', 6871287.0),
 ('Liechtenstein', 'Europe', 38749.0),
 ('Lithuania', 'Europe', 2793471.0),
 ('Luxembourg', 'Europe', 626108.0),
 ('Madagascar', 'Africa', 26251309.0),
 ('Malawi', 'Africa', 19129952.0),
 ('Malaysia', 'Asia', 32761760.0),
 ('Maldives', 'Asia', 374775.0),
 ('Mali', 'Africa', 20250833.0),
 ('Malta', 'Europe', 493559.0),
 ('Marshall Islands', 'Oceania', 55500.0),
 ('Mauritania', 'Africa', 4077347.0),
 ('Mauritius', 'Africa', 1265985.0),
 ('Mexico', 'North America', 126577691.0),
 ('Micronesia', ' Federated States of,Oceania', 101351.0),
 ('Moldova', 'Europe', 2681735.0),
 ('Monaco', 'Europe', 38300.0),
 ('Mongolia', 'Asia', 3314524.0),
 ('Montenegro', 'Europe', 622359.0),
 ('Morocco', 'Africa', 35879846.0),
 ('Mozambique', 'Africa', 30066648.0),
 ('Myanmar', 'Asia', 54339766.0),
 ('Namibia', 'Africa', 2458936.0),
 ('Nauru', 'Oceania', 11000.0),
 ('Nepal', 'Asia', 29996478.0),
 ('Netherlands', 'Europe', 17459431.0),
 ('New Zealand', 'Oceania', 4981058.0),
 ('Nicaragua', 'North America', 6460411.0),
 ('Niger', 'Africa', 22314743.0),
 ('Nigeria', 'Africa', 206139587.0),
 ('North Korea', 'Asia', 25450000.0),
 ('North Macedonia', 'Europe', 2077132.0),
 ('Norway', 'Europe', 5367580.0),
 ('Oman', 'Asia', 4664790.0),
 ('Pakistan', 'Asia', 219412520.0),
 ('Palau', 'Oceania', 17900.0),
 ('Panama', 'North America', 4218808.0),
 ('Papua New Guinea', 'Oceania', 8935000.0),
 ('Paraguay', 'South America', 7252672.0),
 ('Peru', 'South America', 32131400.0),
 ('Philippines', 'Asia', 108545308.0),
 ('Poland', 'Europe', 38379000.0),
 ('Portugal', 'Europe', 10276617.0),
 ('Qatar', 'Asia', 2747282.0),
 ('Romania', 'Europe', 19405156.0),
 ('Russia', 'Eurasia', 146745098.0),
 ('Rwanda', 'Africa', 12374397.0),
 ('Saint Kitts and Nevis', 'North America', 52823.0),
 ('Saint Lucia', 'Caribbean', 178696.0),
 ('Saint Vincent and the Grenadines', 'South America', 110608.0),
 ('Samoa', 'Oceania', 200874.0),
 ('San Marino', 'Europe', 33574.0),
 ('Sao TomÃ© and PrÃ­ncipe', 'Africa', 201784.0),
 ('Saudi Arabia', 'Asia', 34218169.0),
 ('Senegal', 'Africa', 16209125.0),
 ('Serbia', 'Europe', 6963764.0),
 ('Seychelles', 'Africa', 97625.0),
 ('Sierra Leone', 'Africa', 7901454.0),
 ('Singapore', 'Asia', 5703600.0),
 ('Slovakia', 'Europe', 5456362.0),
 ('Slovenia', 'Europe', 2094060.0),
 ('Solomon Islands', 'Oceania', 680806.0),
 ('Somalia', 'Africa', 15893219.0),
 ('South Africa', 'Africa', 58775022.0),
 ('South Korea', 'Asia', 51780579.0),
 ('South Sudan', 'Africa', 12778250.0),
 ('Spain', 'Europe', 47100396.0),
 ('Sri Lanka', 'Asia', 21803000.0),
 ('Sudan', 'Africa', 42456380.0),
 ('Suriname', 'South America', 581372.0),
 ('Sweden', 'Europe', 10338368.0),
 ('Switzerland', 'Europe', 8603899.0),
 ('Syria', 'Asia', 17500657.0),
 ('Taiwan', 'Asia', 23604265.0),
 ('Tajikistan', 'Asia', 9127000.0),
 ('Tanzania', 'Africa', 55890747.0),
 ('Thailand', 'Asia', 66497905.0),
 ('Timor-Leste', 'Asia', 1212107.0),
 ('Togo', 'Africa', 7538000.0),
 ('Tonga', 'Oceania', 100651.0),
 ('Trinidad and Tobago', 'Caribbean', 1363985.0),
 ('Tunisia', 'Africa', 11722038.0),
 ('Turkey', 'Asia', 83154997.0),
 ('Turkmenistan', 'Asia', 6031187.0),
 ('Tuvalu', 'Oceania', 10200.0),
 ('Uganda', 'Africa', 40299300.0),
 ('Ukraine', 'Europe', 41858119.0),
 ('United Arab Emirates', 'Asia', 9890400.0),
 ('United Kingdom', 'Europe', 66435550.0),
 ('United States', 'North America', 329583916.0),
 ('Uruguay', 'South America', 3518552.0),
 ('Uzbekistan', 'Asia', 34148357.0),
 ('Vanuatu', 'Oceania', 304500.0),
 ('Vatican City', 'Europe', 825.0),
 ('Venezuela', 'South America', 32219521.0),
 ('Vietnam', 'Asia', 96208984.0),
 ('Yemen', 'Asia', 29825968.0),
 ('Zambia', 'Africa', 17885422.0),
 ('Zimbabwe', 'Africa', 15159624.0)]

## 2. Large Countries

[How to use WHERE to filter records](https://sqlzoo.net/wiki/WHERE_filters). Show the name for the countries that have a population of at least 200 million. 200 million is 200000000, there are eight zeros.

In [3]:
%%sql
SELECT name FROM world WHERE population>=200000000

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Brazil',),
 ('China',),
 ('India',),
 ('Indonesia',),
 ('Nigeria',),
 ('Pakistan',),
 ('United States',)]

## 3. Per capita GDP

Give the `name` and the **per capita GDP** for those countries with a `population` of at least 200 million.

> _HELP:How to calculate per capita GDP_   
> per capita GDP is the GDP divided by the population GDP/population

In [4]:
%%sql
SELECT name, gdp/population as pcg FROM world WHERE population > 200000000

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Brazil', 9721.370040690708),
 ('China', 8724.306439807155),
 ('India', 1891.7810509716428),
 ('Indonesia', 3804.7722862862242),
 ('Nigeria', 1822.8861591732984),
 ('Pakistan', 1377.036278513186),
 ('United States', 59121.192066908996)]

## 4. South America In millions

Show the `name` and `population` in millions for the countries of the `continent` 'South America'. Divide the population by 1000000 to get population in millions.

In [5]:
%%sql
SELECT name, population/1000000 AS population FROM world WHERE continent='South America'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Argentina', 44.938712),
 ('Bolivia', 11.469896),
 ('Brazil', 211.442625),
 ('Chile', 19.107216),
 ('Colombia', 49.395678),
 ('Ecuador', 17.472948),
 ('Guyana', 0.782766),
 ('Paraguay', 7.252672),
 ('Peru', 32.1314),
 ('Saint Vincent and the Grenadines', 0.110608),
 ('Suriname', 0.581372),
 ('Uruguay', 3.518552),
 ('Venezuela', 32.219521)]

## 5. France, Germany, Italy

Show the `name` and `population` for France, Germany, Italy

In [6]:
%%sql
SELECT name, population FROM world WHERE name IN ('France', 'Germany', 'Italy')

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('France', 67076000.0), ('Germany', 83149300.0), ('Italy', 60238522.0)]

## 6. United

Show the countries which have a `name` that includes the word 'United'

In [7]:
%%sql
SELECT name FROM world WHERE name LIKE '%United%'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('United Arab Emirates',), ('United Kingdom',), ('United States',)]

## 7. Two ways to be big

Two ways to be big: A country is **big** if it has an area of more than 3 million sq km or it has a population of more than 250 million.

**Show the countries that are big by area or big by population. Show name, population and area.**

In [8]:
%%sql
SELECT name, population, area FROM world
WHERE population >= 250000000 OR area >= 3000000

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Australia', 25690023.0, 7692024.0),
 ('Brazil', 211442625.0, 8515767.0),
 ('Canada', 38007166.0, 9984670.0),
 ('China', 1402378640.0, 9596961.0),
 ('India', 1361503224.0, 3166414.0),
 ('Indonesia', 266911900.0, 1904569.0),
 ('Russia', 146745098.0, 17125242.0),
 ('United States', 329583916.0, 9826675.0)]

## 8. One or the other (but not both)

**Exclusive OR (XOR). Show the countries that are big by area (more than 3 million) or big by population (more than 250 million) but not both. Show name, population and area.**

- Australia has a big area but a small population, it should be **included**.
- Indonesia has a big population but a small area, it should be **included**.
- China has a big population **and** big area, it should be **excluded**.
- United Kingdom has a small population and a small area, it should be **excluded**.

In [15]:
%%sql
SELECT name, population, area FROM world
WHERE (population >= 250000000 OR area >= 3000000) AND NOT
(population >= 250000000 AND area >= 3000000)

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Australia', 25690023.0, 7692024.0),
 ('Brazil', 211442625.0, 8515767.0),
 ('Canada', 38007166.0, 9984670.0),
 ('Indonesia', 266911900.0, 1904569.0),
 ('Russia', 146745098.0, 17125242.0)]

## 9. Rounding

Show the `name` and `population` in millions and the GDP in billions for the countries of the `continent` 'South America'. Use the [ROUND](https://sqlzoo.net/wiki/ROUND) function to show the values to two decimal places.

**For South America show population in millions and GDP in billions both to 2 decimal places.**

> _Millions and billions_    
> Divide by 1000000 (6 zeros) for millions. Divide by 1000000000 (9 zeros) for billions.

In [10]:
%%sql
SELECT name, ROUND(population/1000000, 2) as popl, ROUND(gdp/1000000000, 2) as gdp_mil
FROM world
WHERE continent = 'South America'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Argentina', 44.94, 637.49),
 ('Bolivia', 11.47, 37.51),
 ('Brazil', 211.44, 2055.51),
 ('Chile', 19.11, 277.08),
 ('Colombia', 49.4, 309.19),
 ('Ecuador', 17.47, 104.3),
 ('Guyana', 0.78, 3.09),
 ('Paraguay', 7.25, 29.44),
 ('Peru', 32.13, 211.4),
 ('Saint Vincent and the Grenadines', 0.11, 0.73),
 ('Suriname', 0.58, 5.21),
 ('Uruguay', 3.52, 59.18),
 ('Venezuela', 32.22, 255.09)]

## 10. Trillion dollar economies

Show the `name` and per-capita GDP for those countries with a GDP of at least one trillion (1000000000000; that is 12 zeros). Round this value to the nearest 1000.

**Show per-capita GDP for the trillion dollar countries to the nearest $1000.**

In [11]:
%%sql
SELECT name, ROUND(gdp/(population*1000), 0) * 1000 AS pc_gdp
FROM world
WHERE gdp >= POWER(10, 12)

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Australia', 55000.0),
 ('Brazil', 10000.0),
 ('Canada', 43000.0),
 ('China', 9000.0),
 ('France', 39000.0),
 ('Germany', 44000.0),
 ('India', 2000.0),
 ('Indonesia', 4000.0),
 ('Italy', 32000.0),
 ('Japan', 39000.0),
 ('Mexico', 9000.0),
 ('Russia', 10000.0),
 ('South Korea', 22000.0),
 ('Spain', 28000.0),
 ('United Kingdom', 40000.0),
 ('United States', 59000.0)]

## 11. Name and capital have the same length

Greece has capital Athens.

Each of the strings 'Greece', and 'Athens' has 6 characters.

**Show the name and capital where the name and the capital have the same number of characters.**

- You can use the [LENGTH](https://sqlzoo.net/wiki/LENGTH) function to find the number of characters in a string

In [12]:
%%sql
SELECT name, capital FROM world
WHERE LENGTH(name) = LENGTH(capital)

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Algeria', 'Algiers'),
 ('Angola', 'Luanda'),
 ('Armenia', 'Yerevan'),
 ('Botswana', 'Gaborone'),
 ('Canada', 'Ottowa'),
 ('Djibouti', 'Djibouti'),
 ('Egypt', 'Cairo'),
 ('Estonia', 'Tallinn'),
 ('Fiji', 'Suva'),
 ('Gambia', 'Banjul'),
 ('Georgia', 'Tbilisi'),
 ('Ghana', 'Accra'),
 ('Greece', 'Athens'),
 ('Luxembourg', 'Luxembourg'),
 ('Mauritania', 'Nouakchott'),
 ('Paraguay', 'AsunciÃ³n'),
 ('Peru', 'Lima'),
 ('Poland', 'Warsaw'),
 ('Russia', 'Moscow'),
 ('Rwanda', 'Kigali'),
 ('San Marino', 'San Marino'),
 ('Singapore', 'Singapore'),
 ('Taiwan', 'Taipei'),
 ('Togo', 'LomÃ©'),
 ('Turkey', 'Ankara'),
 ('Zambia', 'Lusaka')]

## 12. Matching name and capital

The capital of Sweden is Stockholm. Both words start with the letter 'S'.

**Show the name and the capital where the first letters of each match. Don't include countries where the name and the capital are the same word.**

- You can use the function [LEFT](https://sqlzoo.net/wiki/LEFT) to isolate the first character.
- You can use <> as the **NOT EQUALS** operator.

In [13]:
%%sql
SELECT name, capital FROM world
WHERE SUBSTRING(name, 1, 1) = SUBSTRING(capital, 1, 1) AND name <> capital

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Algeria', 'Algiers'),
 ('Andorra', 'Andorra la Vella'),
 ('Barbados', 'Bridgetown'),
 ('Belize', 'Belmopan'),
 ('Brazil', 'BrasÃ­lia'),
 ('Brunei', 'Bandar Seri Begawan'),
 ('Burundi', 'Bujumbura'),
 ('Guatemala', 'Guatemala City'),
 ('Guyana', 'Georgetown'),
 ('Kuwait', 'Kuwait City'),
 ('Maldives', 'MalÃ©'),
 ('Marshall Islands', 'Majuro'),
 ('Mexico', 'Mexico City'),
 ('Monaco', 'Monaco-Ville'),
 ('Mozambique', 'Maputo'),
 ('Niger', 'Niamey'),
 ('Panama', 'Panama City'),
 ('Papua New Guinea', 'Port Moresby'),
 ('Sao TomÃ© and PrÃ­ncipe', 'SÃ£o TomÃ©'),
 ('South Korea', 'Seoul'),
 ('Sri Lanka', 'Sri Jayawardenepura Kotte'),
 ('Sweden', 'Stockholm'),
 ('Taiwan', 'Taipei'),
 ('Tunisia', 'Tunis')]

## 13. All the vowels

**Equatorial Guinea** and **Dominican Republic** have all of the vowels (a e i o u) in the name. They don't count because they have more than one word in the name.

**Find the country that has all the vowels and no spaces in its name.**

- You can use the phrase name `NOT LIKE '%a%'` to exclude characters from your results.
- The query shown misses countries like Bahamas and Belarus because they contain at least one 'a'

In [14]:
%%sql
SELECT name FROM world
WHERE name LIKE '%a%' AND name LIKE '%e%' AND name LIKE '%i%' AND name LIKE '%o%' AND name LIKE '%u%'
  AND name NOT LIKE '% %'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Mozambique',)]