# SUM and COUNT

## World Country Profile: Aggregate functions
This tutorial is about aggregate functions such as COUNT, SUM and AVG. An aggregate function takes many values and delivers just one value. For example the function SUM would aggregate the values 2, 4 and 5 to deliver the single value 11.

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

## 1. Total world population

Show the total population of the world.

```
world(name, continent, area, population, gdp)
```

In [2]:
%%sql
SELECT SUM(population) tot_popl FROM world

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(7615648652.0,)]

## 2. List of continents

List all the continents - just once each.

In [3]:
%%sql
SELECT DISTINCT continent FROM world

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(' Federated States of,Oceania',),
 ('Africa',),
 ('Asia',),
 ('Caribbean',),
 ('Eurasia',),
 ('Europe',),
 ('North America',),
 ('Oceania',),
 ('South America',)]

## 3. GDP of Africa

Give the total GDP of Africa

In [4]:
%%sql
SELECT SUM(gdp) FROM world WHERE continent = 'Africa'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(1964824000000.0,)]

## 4. Count the big countries

How many countries have an **area** of at least 1000000

In [5]:
%%sql
SELECT COUNT(name) FROM world
WHERE area >= 1000000

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(29,)]

## 5. Baltic states population

What is the total **population** of ('Estonia', 'Latvia', 'Lithuania')

In [6]:
%%sql
SELECT SUM(population) tot_popl FROM world
WHERE name IN ('Estonia', 'Latvia', 'Lithuania')

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(6028631.0,)]

## 6. Counting the countries of each continent

For each **continent** show the **continent** and number of countries.

> _Using GROUP BY and HAVING_   
> You may want to look at these examples: [Using GROUP BY and HAVING](https://sqlzoo.net/wiki/Using_GROUP_BY_and_HAVING.).

In [7]:
%%sql
SELECT continent, COUNT(name) FROM world
GROUP BY continent

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(' Federated States of,Oceania', 1),
 ('Africa', 53),
 ('Asia', 47),
 ('Caribbean', 11),
 ('Eurasia', 2),
 ('Europe', 44),
 ('North America', 11),
 ('Oceania', 13),
 ('South America', 13)]

## 7. Counting big countries in each continent

For each **continent** show the **continent** and number of countries with populations of at least 10 million.

In [8]:
%%sql
SELECT continent, COUNT(name) FROM world
  WHERE population >= 10000000
    GROUP BY continent

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Africa', 31),
 ('Asia', 28),
 ('Caribbean', 3),
 ('Eurasia', 1),
 ('Europe', 15),
 ('North America', 4),
 ('Oceania', 1),
 ('South America', 8)]

## 8. Counting big continents

List the continents that **have** a total population of at least 100 million.

In [9]:
%%sql
SELECT continent FROM world
GROUP BY continent
HAVING SUM(population) >= 100000000

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Africa',),
 ('Asia',),
 ('Eurasia',),
 ('Europe',),
 ('North America',),
 ('South America',)]