# More JOIN operations

![rel](https://sqlzoo.net/w/images/5/50/Movie2-er.png)

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

 ·········

## 1. 1962 movies

List the films where the **yr** is 1962 [Show **id, title**]

In [2]:
%%sql
SELECT id, title
  FROM movie
    WHERE yr=1962;

 * postgresql://postgres:***@localhost/sqlzoo
86 rows affected.

[(10212, 'A Kind of Loving'),
 (10329, 'A Symposium on Popular Songs'),
 (10347, 'A Very Private Affair (Vie PrivÃ©e)'),
 (10648, 'An Autumn Afternoon'),
 (10868, 'Atraco a las tres'),
 (11006, 'Barabbas'),
 (11053, 'Battle Beyond the Sun (Ð\x9dÐµÐ±Ð¾ Ð·Ð¾Ð²ÐµÑ‚)'),
 (11199, 'Big and Little Wong Tin Bar'),
 (11230, 'Billy Budd'),
 (11234, "Billy Rose's Jumbo"),
 (11242, 'Birdman of Alcatraz'),
 (11373, "Boccaccio '70"),
 (11391, 'Bon Voyage!'),
 (11439, "Boys' Night Out"),
 (11692, 'Cape Fear'),
 (11735, 'Carnival of Souls'),
 (11753, 'Carry On Cruising'),
 (12368, 'David and Lisa'),
 (12384, 'Days of Wine and Roses'),
 (12710, 'Dr. No'),
 (12817, "L'Eclisse"),
 (12967, 'Tutti a casa'),
 (12992, 'Experiment in Terror'),
 (13010, 'Eyes Without a Face'),
 (13484, 'Gay Purr-ee'),
 (13534, 'Gigot'),
 (13641, 'Gorath'),
 (13727, 'Gypsy'),
 (13741, 'Half Ticket'),
 (13798, 'Harakiri'),
 (14317, 'In Search of the Castaways'),
 (14454, "It's Only Money"),
 (14550, 'Jigsaw'),
 (14718, 'Kid Galahad'),
 (14860, 'La commare secca'),
 (14873, 'La notte'),
 (14972, 'Lawrence of Arabia'),
 (15088, 'Life for Ruth'),
 (15173, 'Lolita'),
 (15182, "Long Day's Journey into Night"),
 (15247, 'Love at Twenty'),
 (15297, 'Lycanthropus'),
 (15397, 'Mamma Roma'),
 (15564, "Merrill's Marauders"),
 (15752, 'Mother Joan of the Angels'),
 (15779, 'Mr. Hobbs Takes a Vacation'),
 (15840, 'Mutiny on the Bounty'),
 (16203, 'On the Beat'),
 (16295, 'Os Cafajestes'),
 (16367, 'Panic in Year Zero!'),
 (16462, 'Period of Adjustment'),
 (16485, 'Phaedra'),
 (16533, 'Pitfall'),
 (16622, 'Pressure Point'),
 (16661, 'Prison'),
 (16675, 'Professor'),
 (16945, 'Ride the High Country'),
 (17148, 'Salvatore Giuliano'),
 (17296, 'Sergeants 3'),
 (17804, 'State Fair'),
 (17944, 'Sundays and Cybele'),
 (18001, 'Sweet Bird of Youth (film)'),
 (18127, 'Term of Trial'),
 (18171, 'That Touch of Mink'),
 (18177, 'The 300 Spartans'),
 (18730, 'The Counterfeit Traitor'),
 (18941, 'The Exterminating Angel'),
 (19034, 'The Four Days of Naples'),
 (19430, 'The Intruder'),
 (19520, 'The L-Shaped Room'),
 (19679, 'The Loneliness of the Long Distance Runner'),
 (19694, 'The Longest Day'),
 (19795, 'The Man Who Shot Liberty Valance'),
 (19808, 'The Manchurian Candidate'),
 (19933, 'The Music Man'),
 (20114, 'The Phantom of the Opera'),
 (20161, 'The Premature Burial'),
 (20730, 'The Trial'),
 (21051, 'Through a Glass Darkly'),
 (21110, 'To Kill a Mockingbird'),
 (21189, 'Tower of London'),
 (21324, 'Two Half Times in Hell'),
 (21462, 'Varan the Unbelievable'),
 (21494, 'Village of Daughters'),
 (21673, 'What Ever Happened to Baby Jane?'),
 (21761, "Who's Got the Action?")]

## 2. When was Citizen Kane released?

Give year of 'Citizen Kane'.

In [3]:
%%sql
SELECT yr FROM movie
WHERE title = 'Citizen Kane';

 * postgresql://postgres:***@localhost/sqlzoo
1 rows affected.

[(1941,)]

## 3. Star Trek movies

List all of the Star Trek movies, include the **id**, **title** and **yr** (all of these movies include the words Star Trek in the title). Order results by year.

In [4]:
%%sql
SELECT id, title, yr
  FROM movie
    WHERE title LIKE '%Star Trek%'
    ORDER BY yr;

 * postgresql://postgres:***@localhost/sqlzoo
11 rows affected.

[(17772, 'Star Trek: The Motion Picture', 1979),
 (17775, 'Star Trek II: The Wrath of Khan', 1982),
 (17776, 'Star Trek III: The Search for Spock', 1984),
 (17777, 'Star Trek IV: The Voyage Home', 1986),
 (17779, 'Star Trek V: The Final Frontier', 1989),
 (17780, 'Star Trek VI: The Undiscovered Country', 1991),
 (17774, 'Star Trek Generations', 1994),
 (17770, 'Star Trek: First Contact', 1996),
 (17771, 'Star Trek: Insurrection', 1998),
 (17778, 'Star Trek Nemesis', 2002),
 (17773, 'Star Trek', 2009)]

## 4. id for actor Glenn Close

What **id** number does the actor 'Glenn Close' have?

In [5]:
%%sql
SELECT actor.id
  FROM actor
    WHERE name = 'Glenn Close';

 * postgresql://postgres:***@localhost/sqlzoo
1 rows affected.

[(140,)]

## 5. id for Casablanca

What is the **id** of the film 'Casablanca'

In [6]:
%%sql
SELECT id FROM movie
  WHERE title = 'Casablanca';

 * postgresql://postgres:***@localhost/sqlzoo
1 rows affected.

[(11768,)]

## 6. Cast list for Casablanca

Obtain the cast list for 'Casablanca'.

> _what is a cast list?_  
> The cast list is the names of the actors who were in the movie.

Use **movieid=11768**, (or whatever value you got from the previous question)

In [7]:
%%sql
SELECT name 
  FROM casting INNER JOIN actor ON casting.actorid=actor.id
    WHERE movieid=11768;

 * postgresql://postgres:***@localhost/sqlzoo
32 rows affected.

[('Peter Lorre',),
 ('John Qualen',),
 ('Madeleine LeBeau',),
 ('Jack Benny',),
 ('Dan Seymour',),
 ('Norma Varden',),
 ('Ingrid Bergman',),
 ('Conrad Veidt',),
 ('Leon Belasco',),
 ('Humphrey Bogart',),
 ('Sydney Greenstreet',),
 ('Leonid Kinskey',),
 ('Wolfgang Zilzer',),
 ('Claude Rains',),
 ('Curt Bois',),
 ('Leo White',),
 ('Ludwig StÃ¶ssel',),
 ('Marcel Dalio',),
 ('Paul Henreid',),
 ('Joy Page',),
 ('S. Z. Sakall',),
 ('Dooley Wilson',),
 ('William Edmunds',),
 ('Gregory Gaye',),
 ('Torben Meyer',),
 ('Georges Renavent',),
 ('Jean Del Val',),
 ('Louis V. Arco',),
 ('Trude Berliner',),
 ('Ilka GrÃ¼nig',),
 ('Richard Ryen',),
 ('Hans Twardowski',)]

## 7. Alien cast list

Obtain the cast list for the film 'Alien'

In [8]:
%%sql
SELECT name
  FROM (movie RIGHT JOIN casting ON movie.id=casting.movieid) INNER JOIN 
    actor ON actorid=actor.id
    WHERE title='Alien';

 * postgresql://postgres:***@localhost/sqlzoo
7 rows affected.

[('John Hurt',),
 ('Sigourney Weaver',),
 ('Yaphet Kotto',),
 ('Harry Dean Stanton',),
 ('Ian Holm',),
 ('Tom Skerritt',),
 ('Veronica Cartwright',)]

## 8. Harrison Ford movies

List the films in which 'Harrison Ford' has appeared

In [9]:
%%sql
SELECT title
  FROM (movie RIGHT JOIN casting ON movie.id=movieid) JOIN actor ON actorid=actor.id
    WHERE name = 'Harrison Ford';

 * postgresql://postgres:***@localhost/sqlzoo
42 rows affected.

[('A Hundred and One Nights',),
 ('Air Force One',),
 ('American Graffiti',),
 ('Apocalypse Now',),
 ('Clear and Present Danger',),
 ('Cowboys & Aliens',),
 ('Crossing Over',),
 ('Dead Heat on a Merry-Go-Round',),
 ('Extraordinary Measures',),
 ('Firewall',),
 ('Force 10 From Navarone',),
 ('Hanover Street',),
 ('Hawthorne of the U.S.A.',),
 ('Hollywood Homicide',),
 ('Indiana Jones and the Kingdom of the Crystal Skull',),
 ('Indiana Jones and the Last Crusade',),
 ('Indiana Jones and the Temple of Doom',),
 ('Jimmy Hollywood',),
 ('K-19: The Widowmaker',),
 ('More American Graffiti',),
 ('Morning Glory',),
 ('Patriot Games',),
 ('Presumed Innocent',),
 ('Raiders of the Lost Ark',),
 ('Random Hearts',),
 ('Regarding Henry',),
 ('Sabrina',),
 ('Sally of the Sawdust',),
 ('Shadows',),
 ('Six Days Seven Nights',),
 ("Smilin' Through",),
 ('Star Wars Episode IV: A New Hope',),
 ('Star Wars Episode V: The Empire Strikes Back',),
 ('Star Wars Episode VI: Return of the Jedi',),
 ('The Conversation',),
 ("The Devil's Own",),
 ('The Fugitive',),
 ('The Mosquito Coast',),
 (None,),
 ('What Lies Beneath',),
 ('Witness',),
 ('Working Girl',)]

## 9. Harrison Ford as a supporting actor

List the films where 'Harrison Ford' has appeared - but not in the starring role. [Note: the ord field of casting gives the position of the actor. If ord=1 then this actor is in the starring role]

In [10]:
%%sql
SELECT title
  FROM (movie RIGHT JOIN casting ON movie.id=movieid) JOIN actor ON actorid=actor.id
    WHERE name = 'Harrison Ford' AND ord > 1;

 * postgresql://postgres:***@localhost/sqlzoo
19 rows affected.

[('A Hundred and One Nights',),
 ('American Graffiti',),
 ('Apocalypse Now',),
 ('Cowboys & Aliens',),
 ('Dead Heat on a Merry-Go-Round',),
 ('Extraordinary Measures',),
 ('Force 10 From Navarone',),
 ('Hawthorne of the U.S.A.',),
 ('Jimmy Hollywood',),
 ('More American Graffiti',),
 ('Morning Glory',),
 ('Sally of the Sawdust',),
 ('Shadows',),
 ("Smilin' Through",),
 ('Star Wars Episode IV: A New Hope',),
 ('Star Wars Episode V: The Empire Strikes Back',),
 ('Star Wars Episode VI: Return of the Jedi',),
 ('The Conversation',),
 ('Working Girl',)]

## 10. Lead actors in 1962 movies

List the films together with the leading star for all 1962 films.

In [11]:
%%sql
SELECT title, name
  FROM (movie RIGHT JOIN casting ON movie.id=movieid) JOIN actor ON actorid=actor.id
    WHERE yr=1962 AND ord=1;

 * postgresql://postgres:***@localhost/sqlzoo
83 rows affected.

[('A Kind of Loving', 'Alan Bates'),
 ('A Symposium on Popular Songs', 'Paul Frees'),
 ('A Very Private Affair (Vie PrivÃ©e)', 'Brigitte Bardot'),
 ('An Autumn Afternoon', 'Chishu Ryu'),
 ('Atraco a las tres', 'JosÃ© Luis LÃ³pez VÃ¡zquez'),
 ('Barabbas', 'Anthony Quinn'),
 ('Battle Beyond the Sun (Ð\x9dÐµÐ±Ð¾ Ð·Ð¾Ð²ÐµÑ‚)', 'Aleksandr Shvorin'),
 ('Big and Little Wong Tin Bar', 'Jackie Chan'),
 ('Billy Budd', 'Terence Stamp'),
 ("Billy Rose's Jumbo", 'Doris Day'),
 ('Birdman of Alcatraz', 'Burt Lancaster'),
 ("Boccaccio '70", 'Anita Ekberg'),
 ('Bon Voyage!', 'Fred MacMurray'),
 ("Boys' Night Out", 'Kim Novak'),
 ('Cape Fear', 'Gregory Peck'),
 ('Carnival of Souls', 'Candace Hilligoss'),
 ('Carry On Cruising', 'Sid James'),
 ('David and Lisa', 'Keir Dullea'),
 ('Days of Wine and Roses', 'Jack Lemmon'),
 ('Dr. No', 'Sean Connery'),
 ("L'Eclisse", 'Alain Delon'),
 ('Tutti a casa', 'Alberto Sordi'),
 ('Experiment in Terror', 'Glenn Ford'),
 ('Eyes Without a Face', 'Pierre Brasseur'),
 ('Gay Purr-ee', 'Judy Garland'),
 ('Gigot', 'Jackie Gleason'),
 ('Gorath', 'Ryo Ikebe'),
 ('Gypsy', 'Rosalind Russell'),
 ('Half Ticket', 'Kishore Kumar'),
 ('Harakiri', 'Tatsuya Nakadai'),
 ('In Search of the Castaways', 'Hayley Mills'),
 ("It's Only Money", 'Jerry Lewis'),
 ('Jigsaw', 'Jack Warner'),
 ('Kid Galahad', 'Elvis Presley'),
 ('La commare secca', 'Marisa Solinas'),
 ('La notte', 'Marcello Mastroianni'),
 ('Life for Ruth', 'Michael Craig'),
 ("Long Day's Journey into Night", 'Katharine Hepburn'),
 ('Love at Twenty', 'Jean-Pierre LÃ©aud'),
 ('Lycanthropus', 'Barbara Lass'),
 ('Mamma Roma', 'Anna Magnani'),
 ('Mother Joan of the Angels', 'Lucyna Winnicka'),
 ('Mr. Hobbs Takes a Vacation', 'James Stewart'),
 ('Mutiny on the Bounty', 'Marlon Brando'),
 ('On the Beat', 'Norman Wisdom'),
 ('Os Cafajestes', 'Daniel Filho'),
 ('Panic in Year Zero!', 'Ray Milland'),
 ('Period of Adjustment', 'Anthony Franciosa'),
 ('Phaedra', 'Melina Mercouri'),
 ('Pitfall', 'Hisashi Igawa'),
 ('Pressure Point', 'Sidney Poitier'),
 ('Prison', 'Doris Svedlund'),
 ('Professor', 'Shammi Kapoor'),
 ('Ride the High Country', 'Joel McCrea'),
 ('Salvatore Giuliano', 'Salvo Randone'),
 ('Sergeants 3', 'Frank Sinatra'),
 ('State Fair', 'Pat Boone'),
 ('Sundays and Cybele', 'Hardy KrÃ¼ger'),
 ('Sweet Bird of Youth (film)', 'Paul Newman'),
 ('Term of Trial', 'Laurence Olivier'),
 ('That Touch of Mink', 'Doris Day'),
 ('The 300 Spartans', 'Richard Egan'),
 ('The Counterfeit Traitor', 'William Holden'),
 ('The Exterminating Angel', 'Silvia Pinal'),
 ('The Four Days of Naples', 'Regina Bianchi'),
 ('The Intruder', 'William Shatner'),
 ('The L-Shaped Room', 'Leslie Caron'),
 ('The Loneliness of the Long Distance Runner', 'Tom Courtenay'),
 ('The Longest Day', 'John Wayne<br />'),
 ('The Man Who Shot Liberty Valance', 'James Stewart'),
 ('The Manchurian Candidate', 'Frank Sinatra'),
 ('The Music Man', 'Robert Preston'),
 ('The Phantom of the Opera', 'Herbert Lom'),
 ('The Premature Burial', 'Ray Milland'),
 ('The Trial', 'Anthony Perkins'),
 ('Through a Glass Darkly', 'Harriet Andersson'),
 ('To Kill a Mockingbird', 'Gregory Peck'),
 ('Tower of London', 'Vincent Price'),
 ('Two Half Times in Hell', 'Imre Sinkovits'),
 ('Varan the Unbelievable', 'KÃ´zÃ´ Nomura'),
 ('Village of Daughters', 'Eric Sykes'),
 ('What Ever Happened to Baby Jane?', 'Bette Davis'),
 ("Who's Got the Action?", 'Dean Martin')]

## 11. Busy years for Rock Hudson

Which were the busiest years for 'Rock Hudson', show the year and the number of movies he made each year for any year in which he made more than 2 movies.

In [12]:
%%sql
SELECT yr,COUNT(title) FROM
  movie JOIN casting ON movie.id=movieid
        JOIN actor   ON actorid=actor.id
    WHERE name='Rock Hudson'
    GROUP BY yr
    HAVING COUNT(title) > 2;

 * postgresql://postgres:***@localhost/sqlzoo
2 rows affected.

[(1953, 5), (1961, 3)]

## 12. Lead actor in Julie Andrews movies

List the film title and the leading actor for all of the films 'Julie Andrews' played in.

> _Did you get "Little Miss Marker twice"?_   
> Julie Andrews starred in the 1980 remake of Little Miss Marker and not the original(1934).
>
> Title is not a unique field, create a table of IDs in your subquery

In [13]:
%%sql
SELECT title, name
  FROM (movie RIGHT JOIN casting ON movie.id=movieid) JOIN actor ON actorid=actor.id
    WHERE ord=1 AND movie.id IN 
    (SELECT movieid FROM casting JOIN actor ON actorid=actor.id WHERE name = 'Julie Andrews');

 * postgresql://postgres:***@localhost/sqlzoo
19 rows affected.

[('Darling Lili', 'Julie Andrews'),
 ('Victor Victoria', 'Julie Andrews'),
 ('Little Miss Marker', 'Walter Matthau'),
 ('Despicable Me', 'Steve Carell'),
 ('Star!', 'Julie Andrews'),
 ('The Princess Diaries', 'Anne Hathaway'),
 ('Shrek the Third', 'Mike Myers'),
 ('Relative Values', 'Julie Andrews'),
 ('The Americanization of Emily', 'James Garner'),
 ('Torn Curtain', 'Paul Newman'),
 ('Hawaii', 'Julie Andrews'),
 ('Thoroughly Modern Millie', 'Julie Andrews'),
 ('Mary Poppins', 'Julie Andrews'),
 ('Tooth Fairy', 'Dwayne Johnson'),
 ('The Tamarind Seed', 'Julie Andrews'),
 ('The Pink Panther Strikes Again', 'Peter Sellers'),
 ('10', 'Dudley Moore'),
 ('The Princess Diaries 2: Royal Engagement', 'Anne Hathaway'),
 ('Duet for One', 'Julie Andrews')]

## 13. Actors with 15 leading roles

Obtain a list, in alphabetical order, of actors who've had at least 15 **starring** roles.

In [14]:
%%sql
SELECT name
  FROM casting JOIN actor ON actorid=actor.id
    WHERE ord=1
    GROUP BY name
    HAVING COUNT(actorid) >= 15
    ORDER BY name;

 * postgresql://postgres:***@localhost/sqlzoo
100 rows affected.

[('Adam Sandler',),
 ('Al Pacino',),
 ('Anthony Hopkins',),
 ('Antonio Banderas',),
 ('Arnold Schwarzenegger',),
 ('Barbara Stanwyck',),
 ('Basil Rathbone',),
 ('Ben Affleck',),
 ('Bette Davis',),
 ('Betty Grable',),
 ('Bing Crosby',),
 ('Bruce Willis',),
 ('Bud Abbott',),
 ('Burt Lancaster',),
 ('Burt Reynolds',),
 ('Buster Keaton',),
 ('Cary Grant',),
 ('Charles Bronson',),
 ('Charlton Heston',),
 ('Clark Gable',),
 ('Claudette Colbert',),
 ('Clint Eastwood',),
 ('Dean Martin',),
 ('Dennis Quaid',),
 ('Denzel Washington',),
 ('Dirk Bogarde',),
 ('Dustin Hoffman',),
 ('Edward G. Robinson',),
 ('Elvis Presley',),
 ('Errol Flynn',),
 ('Frank Sinatra',),
 ('Fred Astaire',),
 ('Fredric March',),
 ('Gary Cooper',),
 ('Gene Hackman',),
 ('George Clooney',),
 ('Glenn Ford',),
 ('Gregory Peck',),
 ('Greta Garbo',),
 ('Harrison Ford',),
 ('Henry Fonda',),
 ('Humphrey Bogart',),
 ('Ingrid Bergman',),
 ('Jack Lemmon',),
 ('Jack Nicholson',),
 ('Jackie Chan',),
 ('James Cagney',),
 ('James Mason',),
 ('James Stewart',),
 ('Jane Fonda',),
 ('Jean-Claude Van Damme',),
 ('Jeff Bridges',),
 ('Jerry Lewis',),
 ('Jim Carrey',),
 ('Joan Crawford',),
 ('John Barrymore',),
 ('John Travolta',),
 ('John Wayne',),
 ('Johnny Depp',),
 ('Keanu Reeves',),
 ('Kevin Costner',),
 ('Kirk Douglas',),
 ('Kurt Russell',),
 ('Lana Turner',),
 ('Laurence Olivier',),
 ('Leonardo DiCaprio',),
 ('Marlon Brando',),
 ('Mary Pickford',),
 ('Matt Damon',),
 ('Matt Dillon',),
 ('Mel Gibson',),
 ('Meryl Streep',),
 ('Michael Caine',),
 ('Michael Douglas',),
 ('Michael Keaton',),
 ('Nicolas Cage',),
 ('Paul Newman',),
 ('Peter Sellers',),
 ('Randolph Scott',),
 ('Robert De Niro',),
 ('Robert Mitchum',),
 ('Robert Taylor',),
 ('Robin Williams',),
 ('Rock Hudson',),
 ('Ronald Colman',),
 ('Sean Connery',),
 ('See below',),
 ('Shirley Temple',),
 ('Spencer Tracy',),
 ('Stan Laurel',),
 ('Steve Martin',),
 ('Sylvester Stallone',),
 ('Tom Berenger',),
 ('Tom Cruise',),
 ('Tom Hanks',),
 ('Tommy Lee Jones',),
 ('Tyrone Power',),
 ('Walter Matthau',),
 ('William Garwood',),
 ('William Holden',)]

## 14.
List the films released in the year 1978 ordered by the number of actors in the cast, then by title.

In [15]:
%%sql
SELECT title, COUNT(actorid)
  FROM movie RIGHT JOIN casting ON movie.id=movieid
    WHERE yr = 1978
    GROUP BY title
    ORDER BY COUNT(actorid) DESC, title;

 * postgresql://postgres:***@localhost/sqlzoo
104 rows affected.

[('The Bad News Bears Go to Japan', 50),
 ('The Swarm', 37),
 ('Grease', 28),
 ('American Hot Wax', 27),
 ('The Boys from Brazil', 26),
 ('Heaven Can Wait', 25),
 ('Big Wednesday', 21),
 ('A Night Full of Rain', 19),
 ('A Wedding', 19),
 ('Orchestra Rehearsal', 19),
 ('The Cheap Detective', 19),
 ('Go Tell the Spartans', 18),
 ('Death on the Nile', 17),
 ('Movie Movie', 17),
 ('Superman', 17),
 ('The Cat from Outer Space', 17),
 ('The Driver', 17),
 ('Blue Collar', 16),
 ('Ice Castles', 16),
 ('International Velvet', 16),
 ("J.R.R. Tolkien's The Lord of the Rings", 16),
 ('Alexandria... Why?', 15),
 ('Bye Bye Monkey', 15),
 ('Coming Home', 15),
 ('David', 15),
 ('Gray Lady Down', 15),
 ('Occupation in 26 Pictures', 15),
 ('Revenge of the Pink Panther', 15),
 ("The Brink's Job", 15),
 ('The Chant of Jimmie Blacksmith', 15),
 ('The Water Babies', 15),
 ('Violette NoziÃ¨re', 15),
 ("Who'll Stop The Rain", 15),
 ('Without Anesthesia', 15),
 ('Bread and Chocolate', 14),
 ('Closed Circuit', 14),
 ('Damien: Omen II', 14),
 ('I Wanna Hold Your Hand', 14),
 ('The Empire of Passion', 14),
 ('Almost Summer', 13),
 ('An Unmarried Woman', 13),
 ('Foul Play', 13),
 ("Goin' South", 13),
 ('The Left-Handed Woman', 13),
 ('California Suite', 12),
 ('Force 10 From Navarone', 12),
 ('In Praise of Older Women', 12),
 ('Jaws 2', 12),
 ('Midnight Express', 12),
 ('Piranha', 12),
 ('The End', 12),
 ('Autumn Sonata', 11),
 ('Comes a Horseman', 11),
 ('Days of Heaven', 11),
 ('Don', 11),
 ("Sgt. Pepper's Lonely Hearts Club Band", 11),
 ('Up in Smoke', 11),
 ('Eyes of Laura Mars', 10),
 ('Invasion of the Body Snatchers', 10),
 ('Muqaddar Ka Sikandar', 10),
 ("National Lampoon's Animal House", 10),
 ('Zero to Sixty', 10),
 ('Fingers', 9),
 ('FM', 9),
 ("Shogun's Samurai", 9),
 ('The Boys in Company C', 9),
 ('The Wiz', 9),
 ('Fedora', 8),
 ('The Ascent', 8),
 ('Attack of the Killer Tomatoes', 7),
 ('Hooper', 7),
 ('Kondura (Anugraham in Telugu)', 7),
 ('The Big Fix', 7),
 ('The Fury', 7),
 ('Girlfriends', 6),
 ('Watership Down', 6),
 ('House Calls', 5),
 ('La Cage aux Folles', 5),
 ('Rabbit Test', 5),
 ('Rockers', 5),
 ("Snake in the Eagle's Shadow", 5),
 ('The Buddy Holly Story', 5),
 ('The Deer Hunter', 5),
 ('The Herd', 5),
 ('The Last Waltz', 5),
 ('You Are Not Alone', 5),
 ('Drunken Master', 4),
 ('Get Out Your Handkerchiefs', 4),
 ('Halloween', 4),
 ('Hot Lead and Cold Feet', 4),
 ('Passion Flower Hotel', 4),
 ('American Boy: A Profile of Steven Prince', 3),
 ('Coup de GrÃ¢ce', 3),
 ('Lady on the Bus', 3),
 ('Pretty Baby', 3),
 ('Renaldo and Clara', 3),
 ('The King of the Street Cleaners', 3),
 ('The One and Only', 3),
 ('Enter the Fat Dragon', 2),
 ('Lies My Father Told Me', 2),
 ('Same Time, Next Year', 2),
 ('Somebody Killed Her Husband', 2),
 ("That's Carry On!", 2),
 ('The 36th Chamber of Shaolin', 2)]

## 15.

List all the people who have worked with 'Art Garfunkel'.

In [16]:
%%sql
SELECT DISTINCT name
  FROM (movie RIGHT JOIN casting ON movie.id=movieid) JOIN actor ON actorid=actor.id
    WHERE movieid IN
    (SELECT movieid FROM casting JOIN actor ON actorid=actor.id WHERE name = 'Art Garfunkel')
    AND name <> 'Art Garfunkel';

 * postgresql://postgres:***@localhost/sqlzoo
36 rows affected.

[('Peter Bogdanovich',),
 ('Frederique van der Wal',),
 ('Heidi Klum',),
 ('Salma Hayek',),
 ('Sela Ward',),
 ('Ryan Phillippe',),
 ('Ron Jeremy',),
 ('Ellen Albertini Dow',),
 ('Harris Yulin',),
 ('Mark Ruffalo',),
 ('Stars on 54',),
 ('Michael York',),
 ('Neve Campbell',),
 ('Bruce Jay Friedman',),
 ('Donald Trump',),
 ('Heather Matarazzo',),
 ('Veronica Webb',),
 ('Mike Myers',),
 ('Sherry Stringfield',),
 ('Valerie Perrine',),
 ('Elio Fiorucci',),
 ('Bill Paxton',),
 ('Cindy Crawford',),
 ('Georgina Grenville',),
 ('Lauren Hutton',),
 ('Robert DoQui',),
 ('Julian Sands',),
 ('Thelma Houston',),
 ('Kurtwood Smith',),
 ('Sheryl Crow',),
 ('Lorna Luft',),
 ('Cecilie Thomsen',),
 ('Sherilyn Fenn',),
 ('Skipp Sudduth',),
 ('Breckin Meyer',),
 ('Beverly Johnson',)]