# AdventureWorks - Medium

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

 ·········

## 6.
A "Single Item Order" is a customer order where only one item is ordered. Show the SalesOrderID and the UnitPrice for every Single Item Order.

In [2]:
%%sql
SELECT "SalesOrderID", "UnitPrice"
  FROM "SalesOrderDetail"
    WHERE "OrderQty"=1
    GROUP BY "SalesOrderID", "UnitPrice"
    HAVING COUNT(*)=1;

 * postgresql://postgres:***@localhost/sqlzoo
82 rows affected.

[(71846, Decimal('818.70')),
 (71915, Decimal('48.59')),
 (71780, Decimal('32.99')),
 (71796, Decimal('54.94')),
 (71897, Decimal('1430.44')),
 (71863, Decimal('1020.59')),
 (71899, Decimal('26.72')),
 (71797, Decimal('38.10')),
 (71845, Decimal('37.15')),
 (71796, Decimal('31.58')),
 (71897, Decimal('63.90')),
 (71867, Decimal('858.90')),
 (71936, Decimal('149.87')),
 (71816, Decimal('445.41')),
 (71797, Decimal('858.90')),
 (71898, Decimal('602.35')),
 (71858, Decimal('4.77')),
 (71832, Decimal('41.99')),
 (71780, Decimal('809.76')),
 (71936, Decimal('158.43')),
 (71935, Decimal('323.99')),
 (71782, Decimal('200.05')),
 (71832, Decimal('37.15')),
 (71920, Decimal('72.00')),
 (71832, Decimal('818.70')),
 (71845, Decimal('242.99')),
 (71832, Decimal('461.69')),
 (71902, Decimal('218.45')),
 (71899, Decimal('809.76')),
 (71858, Decimal('12.14')),
 (71832, Decimal('26.72')),
 (71936, Decimal('113.00')),
 (71784, Decimal('200.05')),
 (71923, Decimal('2.99')),
 (71856, Decimal('54.89')),
 (71832, Decimal('48.59')),
 (71858, Decimal('54.89')),
 (71832, Decimal('37.25')),
 (71797, Decimal('202.33')),
 (71863, Decimal('20.99')),
 (71796, Decimal('1430.44')),
 (71782, Decimal('14.69')),
 (71816, Decimal('63.90')),
 (71832, Decimal('149.87')),
 (71899, Decimal('461.69')),
 (71899, Decimal('113.00')),
 (71816, Decimal('728.91')),
 (71783, Decimal('356.90')),
 (71832, Decimal('31.58')),
 (71845, Decimal('26.72')),
 (71845, Decimal('818.70')),
 (71783, Decimal('72.16')),
 (71816, Decimal('1430.44')),
 (71936, Decimal('20.99')),
 (71796, Decimal('728.91')),
 (71784, Decimal('445.41')),
 (71782, Decimal('63.90')),
 (71845, Decimal('54.89')),
 (71784, Decimal('602.35')),
 (71780, Decimal('48.59')),
 (71815, Decimal('202.33')),
 (71831, Decimal('1376.99')),
 (71898, Decimal('12.14')),
 (71898, Decimal('63.90')),
 (71832, Decimal('158.43')),
 (71832, Decimal('16.27')),
 (71935, Decimal('24.29')),
 (71846, Decimal('113.00')),
 (71783, Decimal('5.39')),
 (71782, Decimal('31.58')),
 (71776, Decimal('63.90')),
 (71782, Decimal('32.39')),
 (71902, Decimal('72.16')),
 (71797, Decimal('29.99')),
 (71902, Decimal('37.25')),
 (71780, Decimal('113.00')),
 (71897, Decimal('38.10')),
 (71902, Decimal('31.58')),
 (71832, Decimal('72.16')),
 (71780, Decimal('72.16')),
 (71899, Decimal('48.59')),
 (71856, Decimal('445.41'))]

## 7.
Where did the racing socks go? List the product name and the CompanyName for all Customers who ordered ProductModel 'Racing Socks'.

In [3]:
%%sql
SELECT DISTINCT "CompanyName", "Product"."Name"
  FROM "Product" JOIN "SalesOrderDetail" ON (
      "Product"."ProductID"="SalesOrderDetail"."ProductID") JOIN
    "SalesOrderHeader" ON (
        "SalesOrderHeader"."SalesOrderID"="SalesOrderDetail"."SalesOrderID") JOIN
    "CustomerAW" ON ("CustomerAW"."CustomerID"="SalesOrderHeader"."CustomerID") JOIN
    "ProductModel" ON ("ProductModel"."ProductModelID"="Product"."ProductModelID")
    WHERE "ProductModel"."Name"='Racing Socks'
    ORDER BY "CompanyName";

 * postgresql://postgres:***@localhost/sqlzoo
10 rows affected.

[('Eastside Department Store', 'Racing Socks, L'),
 ('Essential Bike Works', 'Racing Socks, L'),
 ('Remarkable Bike Store', 'Racing Socks, L'),
 ('Remarkable Bike Store', 'Racing Socks, M'),
 ('Riding Cycles', 'Racing Socks, L'),
 ('Sports Products Store', 'Racing Socks, L'),
 ('Sports Products Store', 'Racing Socks, M'),
 ('The Bicycle Accessories Company', 'Racing Socks, L'),
 ('The Bicycle Accessories Company', 'Racing Socks, M'),
 ('Thrifty Parts and Sales', 'Racing Socks, M')]

## 8.
Show the product description for culture 'fr' for product with ProductID 736.

In [4]:
%%sql
SELECT "Description"
  FROM "Product" JOIN "ProductModelProductDescription" ON (
    "Product"."ProductModelID"="ProductModelProductDescription"."ProductModelID") JOIN
    "ProductDescription" ON (
      "ProductDescription"."ProductDescriptionID"=
        "ProductModelProductDescription"."ProductDescriptionID")
    WHERE "Product"."ProductID"=736 AND "ProductModelProductDescription"."Culture"='fr';

 * postgresql://postgres:***@localhost/sqlzoo
1 rows affected.

[('Le cadre LL en aluminium offre une conduite confortable, une excellente absorption des bosses pour un tr?s bon rapport qualit?-prix.',)]

## 9.
Use the SubTotal value in SaleOrderHeader to list orders from the largest to the smallest. For each order show the CompanyName and the SubTotal and the total weight of the order.

In [5]:
%%sql
SELECT "CompanyName", "SubTotal", SUM("Weight"*"OrderQty") "Weight"
  FROM "SalesOrderHeader" JOIN "SalesOrderDetail" ON (
    "SalesOrderHeader"."SalesOrderID"="SalesOrderDetail"."SalesOrderID") JOIN
    "Product" ON ("Product"."ProductID"="SalesOrderDetail"."ProductID") JOIN
    "CustomerAW" ON ("CustomerAW"."CustomerID"="SalesOrderHeader"."CustomerID")
    GROUP BY "CName", "SubTotal"
    ORDER BY "SubTotal" DESC;

 * postgresql://postgres:***@localhost/sqlzoo
(psycopg2.errors.UndefinedColumn) column "CName" does not exist
LINE 6:     GROUP BY "CName", "SubTotal"
                     ^
HINT:  Perhaps you meant to reference the column "Product.Name".

[SQL: SELECT "CompanyName", "SubTotal", SUM("Weight"*"OrderQty") "Weight"
  FROM "SalesOrderHeader" JOIN "SalesOrderDetail" ON (
    "SalesOrderHeader"."SalesOrderID"="SalesOrderDetail"."SalesOrderID") JOIN
    "Product" ON ("Product"."ProductID"="SalesOrderDetail"."ProductID") JOIN
    "CustomerAW" ON ("CustomerAW"."CustomerID"="SalesOrderHeader"."CustomerID")
    GROUP BY "CName", "SubTotal"
    ORDER BY "SubTotal" DESC;]
(Background on this error at: http://sqlalche.me/e/f405)

## 10.
How many products in ProductCategory 'Cranksets' have been sold to an address in 'London'?

In [6]:
%%sql
SELECT COUNT("Product".*)
  FROM "Product" JOIN "ProductCategory" ON (
    "Product"."ProductCategoryID"="ProductCategory"."ProductCategoryID") JOIN
    "SalesOrderDetail" ON (
        "SalesOrderDetail"."ProductID"="Product"."ProductID") JOIN
    "SalesOrderHeader" ON (
        "SalesOrderHeader"."SalesOrderID"="SalesOrderDetail"."SalesOrderID") JOIN
    "CustomerAW" ON ("CustomerAW"."CustomerID"="SalesOrderHeader"."CustomerID") JOIN
    "CustomerAddress" ON ("CustomerAW"."CustomerID"="CustomerAddress"."CustomerID") JOIN
    "Address" ON ("CustomerAddress"."AddressID"="Address"."AddressID")
    WHERE "ProductCategory".name='Cranksets' AND "Address"."City"='London';

 * postgresql://postgres:***@localhost/sqlzoo
1 rows affected.

[(2,)]