# AdventureWorks - Medium

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

## 6.
A "Single Item Order" is a customer order where only one item is ordered. Show the SalesOrderID and the UnitPrice for every Single Item Order.

In [2]:
%%sql
SELECT SalesOrderID, UnitPrice
  FROM SalesOrderDetail
    WHERE OrderQty=1
    GROUP BY SalesOrderID, UnitPrice
    HAVING COUNT(*)=1

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(71776, 63.9),
 (71780, 32.99),
 (71780, 48.59),
 (71780, 72.16),
 (71780, 113.0),
 (71780, 809.76),
 (71782, 14.69),
 (71782, 31.58),
 (71782, 32.39),
 (71782, 63.9),
 (71782, 200.05),
 (71783, 5.39),
 (71783, 72.16),
 (71783, 356.9),
 (71784, 200.05),
 (71784, 445.41),
 (71784, 602.35),
 (71796, 31.58),
 (71796, 54.94),
 (71796, 728.91),
 (71796, 1430.44),
 (71797, 29.99),
 (71797, 38.1),
 (71797, 202.33),
 (71797, 858.9),
 (71815, 202.33),
 (71816, 63.9),
 (71816, 445.41),
 (71816, 728.91),
 (71816, 1430.44),
 (71831, 1376.99),
 (71832, 16.27),
 (71832, 26.72),
 (71832, 31.58),
 (71832, 37.15),
 (71832, 37.25),
 (71832, 41.99),
 (71832, 48.59),
 (71832, 72.16),
 (71832, 149.87),
 (71832, 158.43),
 (71832, 461.69),
 (71832, 818.7),
 (71845, 26.72),
 (71845, 37.15),
 (71845, 54.89),
 (71845, 242.99),
 (71845, 818.7),
 (71846, 113.0),
 (71846, 818.7),
 (71856, 54.89),
 (71856, 445.41),
 (71858, 4.77),
 (71858, 12.14),
 (71858, 54.89),
 (71863, 20.99),
 (71863, 1020.59),
 (71867, 858.9),
 (71897, 38.1),
 (71897, 63.9),
 (71897, 1430.44),
 (71898, 12.14),
 (71898, 63.9),
 (71898, 602.35),
 (71899, 26.72),
 (71899, 48.59),
 (71899, 113.0),
 (71899, 461.69),
 (71899, 809.76),
 (71902, 31.58),
 (71902, 37.25),
 (71902, 72.16),
 (71902, 218.45),
 (71915, 48.59),
 (71920, 72.0),
 (71923, 2.99),
 (71935, 24.29),
 (71935, 323.99),
 (71936, 20.99),
 (71936, 113.0),
 (71936, 149.87),
 (71936, 158.43)]

## 7.
Where did the racing socks go? List the product name and the CompanyName for all Customers who ordered ProductModel 'Racing Socks'.

In [3]:
%%sql
SELECT DISTINCT CompanyName, Product.Name
  FROM Product JOIN SalesOrderDetail ON (
        Product.ProductID=SalesOrderDetail.ProductID) JOIN
    SalesOrderHeader ON (
        SalesOrderHeader.SalesOrderID=SalesOrderDetail.SalesOrderID) JOIN
    CustomerAW ON (
        CustomerAW.CustomerID=SalesOrderHeader.CustomerID) JOIN
    ProductModel ON (
        ProductModel.ProductModelID=Product.ProductModelID)
    WHERE ProductModel.Name='Racing Socks'
    ORDER BY CompanyName

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Eastside Department Store', 'Racing Socks, L'),
 ('Essential Bike Works', 'Racing Socks, L'),
 ('Remarkable Bike Store', 'Racing Socks, M'),
 ('Remarkable Bike Store', 'Racing Socks, L'),
 ('Riding Cycles', 'Racing Socks, L'),
 ('Sports Products Store', 'Racing Socks, M'),
 ('Sports Products Store', 'Racing Socks, L'),
 ('The Bicycle Accessories Company', 'Racing Socks, M'),
 ('The Bicycle Accessories Company', 'Racing Socks, L'),
 ('Thrifty Parts and Sales', 'Racing Socks, M')]

## 8.
Show the product description for culture 'fr' for product with ProductID 736.

In [4]:
%%sql
SELECT Description
  FROM Product JOIN ProductModelProductDescription ON (
    Product.ProductModelID=ProductModelProductDescription.ProductModelID) JOIN
    ProductDescription ON (
        ProductDescription.ProductDescriptionID=
            ProductModelProductDescription.ProductDescriptionID)
    WHERE Product.ProductID=736 AND ProductModelProductDescription.Culture='fr'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Le cadre LL en aluminium offre une conduite confortable, une excellente absorption des bosses pour un tr?s bon rapport qualit?-prix.',)]

## 9.
Use the SubTotal value in SaleOrderHeader to list orders from the largest to the smallest. For each order show the CompanyName and the SubTotal and the total weight of the order.

In [5]:
%%sql
SELECT CompanyName, SubTotal, SUM(Weight*OrderQty) Weight
  FROM SalesOrderHeader JOIN SalesOrderDetail ON (
    SalesOrderHeader.SalesOrderID=SalesOrderDetail.SalesOrderID) JOIN
    Product ON (Product.ProductID=SalesOrderDetail.ProductID) JOIN
    CustomerAW ON (CustomerAW.CustomerID=SalesOrderHeader.CustomerID)
    GROUP BY CompanyName, SubTotal
    ORDER BY SubTotal DESC

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Action Bicycle Specialists', 108561.83, 1133911.56),
 ('Metropolitan Bicycle Supply', 98278.69, 679588.0200000003),
 ('Bulk Discount Store', 88812.86, 34813.049999999996),
 ('Eastside Department Store', 83858.43, 565638.7199999999),
 ('Riding Cycles', 78029.69, 504095.32999999996),
 ('Many Bikes Store', 74058.81, 744328.6),
 ('Instruments and Parts Company', 63980.99, 731576.77),
 ('Extreme Riding Supplies', 57634.63, 589939.1100000001),
 ('Trailblazing Sports', 41622.05, 234328.12),
 ('Professional Sales and Service', 39785.33, 396843.6299999999),
 ('Nearby Cycle Shop', 38418.69, 547260.4700000001),
 ('Closest Bicycle Store', 35775.21, 340144.28),
 ('Thrilling Bike Tours', 13823.71, 191855.75999999998),
 ('Paints and Solvents Company', 12685.89, 122609.42000000001),
 ('Remarkable Bike Store', 6634.3, 45103.5),
 ('Engineered Bike Systems', 3398.17, 37420.659999999996),
 ('Sports Products Store', 3324.28, 53389.08),
 ('Discount Tours', 2980.79, 14977.56),
 ('Sports Store', 2453.76, 38354.65),
 ('Coalition Bike Company', 2415.67, 29182.999999999996),
 ('Aerobic Exercise Company', 2137.23, 6770.4400000000005),
 ('Tachometers and Accessories', 2016.34, 10591.33),
 ('Thrifty Parts and Sales', 1141.58, 3175.14),
 ('Vigorous Sports Store', 1059.31, 1043.26),
 ('Good Toys', 880.35, 2050.23),
 ('Transport Bikes', 602.19, 13301.08),
 ('Channel Outlet', 550.39, None),
 ('Futuristic Bikes', 246.74, None),
 ('The Bicycle Accessories Company', 106.54, None),
 ('West Side Mart', 78.81, 317.0),
 ('Essential Bike Works', 40.9, None)]

## 10.
How many products in ProductCategory 'Cranksets' have been sold to an address in 'London'?

In [9]:
%%sql
SELECT COUNT(*) n
  FROM Product JOIN ProductCategory ON (
    Product.ProductCategoryID=ProductCategory.ProductCategoryID) JOIN
    SalesOrderDetail ON (
        SalesOrderDetail.ProductID=Product.ProductID) JOIN
    SalesOrderHeader ON (
        SalesOrderHeader.SalesOrderID=SalesOrderDetail.SalesOrderID) JOIN
    CustomerAW ON (
        CustomerAW.CustomerID=SalesOrderHeader.CustomerID) JOIN
    CustomerAddress ON (
        CustomerAW.CustomerID=CustomerAddress.CustomerID) JOIN
    Address ON (CustomerAddress.AddressID=Address.AddressID)
    WHERE ProductCategory.name='Cranksets' AND Address.City='London'

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(2,)]