# AdventureWorks - Hard

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

## 11.
**For every customer with a 'Main Office' in Dallas show AddressLine1 of the 'Main Office' and AddressLine1 of the 'Shipping' address - if there is no shipping address leave it blank. Use one row per customer.**

In [2]:
%%sql
WITH t AS (
    SELECT CustomerAW.CustomerID FROM
      CustomerAW JOIN CustomerAddress ON (
          CustomerAW.CustomerID=CustomerAddress.CustomerID) JOIN
        Address ON (CustomerAddress.AddressID=Address.AddressID)
        WHERE Address.City='Dallas' AND
            CustomerAddress.AddressType='Main Office'
)
SELECT CustomerAW.CompanyName,
  MAX(CASE WHEN AddressType='Main Office' THEN AddressLine1 ELSE '' END) main_office,
    MAX(CASE WHEN AddressType='Shipping' THEN AddressLine1 ELSE '' END) shipping
    FROM CustomerAW JOIN CustomerAddress ON (
          CustomerAW.CustomerID=CustomerAddress.CustomerID) JOIN
        Address ON (CustomerAddress.AddressID=Address.AddressID)
        WHERE CustomerAW.CustomerID IN (SELECT CustomerID FROM t)
        GROUP BY CustomerAW.CompanyName

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Elite Bikes', 'Po Box 8259024', '9178 Jumping St.'),
 ('Rental Bikes', '99828 Routh Street, Suite 825', ''),
 ('Third Bike Store', '2500 North Stemmons Freeway', ''),
 ('Town Industries', 'P.O. Box 6256916', ''),
 ('Unsurpassed Bikes', 'Po Box 8035996', '')]

## 12.
**For each order show the SalesOrderID and SubTotal calculated three ways:**

- **A) From the SalesOrderHeader**
- **B) Sum of OrderQty*UnitPrice**
- **C) Sum of OrderQty*ListPrice**

In [3]:
%%sql
WITH a AS (
    SELECT SalesOrderID, SubTotal subtotal_a FROM SalesOrderHeader
), b AS (
    SELECT SalesOrderID, SUM(OrderQty*UnitPrice*(1-UnitPriceDiscount)) subtotal_b
    FROM SalesOrderDetail
    GROUP BY SalesOrderID
), c AS (
    SELECT SalesOrderID, SUM(OrderQty*ListPrice) subtotal_c
    FROM SalesOrderDetail JOIN Product ON (
        SalesOrderDetail.ProductID=Product.ProductID)
    GROUP BY SalesOrderID
)
SELECT a.SalesOrderID, ROUND(subtotal_a, 2) subt_a, 
    ROUND(subtotal_b, 2) subt_b, ROUND(subtotal_c, 2) subt_c
    FROM a JOIN b ON (a.SalesOrderID=b.SalesOrderID) JOIN
    c ON (a.SalesOrderID=c.SalesOrderID)

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(71774, 880.35, 713.8, 1189.66),
 (71776, 78.81, 63.9, 106.5),
 (71780, 38418.69, 29922.81, 56651.56),
 (71782, 39785.33, 33319.68, 55533.31),
 (71783, 83858.43, 65682.74, 121625.43),
 (71784, 108561.83, 89868.88, 151932.58),
 (71796, 57634.63, 47848.02, 79746.71),
 (71797, 78029.69, 65122.79, 108986.4),
 (71815, 1141.58, 926.91, 1544.86),
 (71816, 3398.17, 2847.37, 4745.68),
 (71831, 2016.34, 1712.91, 2854.91),
 (71832, 35775.21, 28950.48, 50559.01),
 (71845, 41622.05, 34118.3, 57768.21),
 (71846, 2453.76, 1884.38, 3592.65),
 (71856, 602.19, 500.3, 833.84),
 (71858, 13823.71, 11528.8, 19214.74),
 (71863, 3324.28, 2777.05, 4633.78),
 (71867, 1059.31, 858.9, 1431.5),
 (71885, 550.39, 524.64, 874.44),
 (71895, 246.74, 221.24, 368.76),
 (71897, 12685.89, 10585.01, 17641.75),
 (71898, 63980.99, 53248.57, 88747.82),
 (71899, 2415.67, 1856.18, 3545.67),
 (71902, 74058.81, 59893.72, 106151.57),
 (71915, 2137.23, 1732.86, 2888.15),
 (71917, 40.9, 37.73, 62.93),
 (71920, 2980.79, 2527.08, 4211.88),
 (71923, 106.54, 96.03, 166.81),
 (71935, 6634.3, 5533.78, 9229.27),
 (71936, 98278.69, 79589.08, 138124.87),
 (71938, 88812.86, 5102.95, 8504.95)]

## 13.
**Show the best selling item by value.**

In [4]:
%%sql
SELECT Product.Name, ROUND(SUM(OrderQty*UnitPrice), 2) subtotal
    FROM SalesOrderDetail JOIN Product ON (
        SalesOrderDetail.ProductID=Product.ProductID)
    GROUP BY Product.Name
    ORDER BY subtotal DESC

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('Touring-1000 Blue, 60', 37191.44),
 ('Mountain-200 Black, 42', 37178.73),
 ('Mountain-200 Black, 38', 35801.74),
 ('Road-350-W Yellow, 48', 33509.58),
 ('Touring-1000 Yellow, 60', 23745.32),
 ('Touring-1000 Blue, 50', 22887.04),
 ('Mountain-200 Silver, 42', 20879.85),
 ('Road-350-W Yellow, 40', 20411.8),
 ('Mountain-200 Black, 46', 19277.86),
 ('Mountain-200 Silver, 46', 18095.87),
 ('Touring-1000 Blue, 46', 17165.28),
 ('Touring-1000 Yellow, 46', 17165.28),
 ('Road-350-W Yellow, 42', 15887.18),
 ('Mountain-200 Silver, 38', 15311.89),
 ('Road-250 Black, 44', 13194.09),
 ('Touring-2000 Blue, 54', 13120.38),
 ('HL Mountain Frame - Silver, 38', 13099.2),
 ('Touring-3000 Blue, 50', 10244.43),
 ('HL Mountain Frame - Black, 42', 9717.12),
 ('Road-550-W Yellow, 38', 9412.06),
 ('Touring-3000 Yellow, 62', 8744.85),
 ('Touring-1000 Blue, 54', 8582.64),
 ('HL Mountain Frame - Silver, 46', 8187.0),
 ('Touring-3000 Yellow, 44', 8017.38),
 ('Road-250 Black, 48', 7330.05),
 ('Touring-2000 Blue, 60', 7289.1),
 ('HL Touring Frame - Yellow, 60', 7228.2),
 ('Touring-1000 Yellow, 50', 7152.2),
 ('Touring-3000 Blue, 54', 6681.15),
 ('Touring-2000 Blue, 50', 6560.19),
 ('Touring-2000 Blue, 46', 6560.19),
 ('Touring-1000 Yellow, 54', 5721.76),
 ('HL Mountain Frame - Black, 38', 5668.32),
 ('Road-750 Black, 48', 5183.84),
 ('HL Road Frame - Black, 44', 5153.4),
 ('HL Mountain Frame - Silver, 42', 4912.2),
 ('ML Road Frame-W - Yellow, 48', 4282.8),
 ('HL Touring Frame - Blue, 54', 4216.45),
 ('Mountain-400-W Silver, 46', 4155.21),
 ('Mountain-400-W Silver, 40', 4155.21),
 ('Touring-3000 Yellow, 50', 4008.69),
 ('Road-750 Black, 52', 3887.88),
 ('Mountain-500 Black, 48', 3887.88),
 ('ML Road Frame-W - Yellow, 44', 3569.0),
 ('Road-750 Black, 58', 3563.89),
 ('HL Touring Frame - Yellow, 54', 3011.75),
 ('Classic Vest, S', 2968.93),
 ('Road-250 Black, 52', 2932.02),
 ('HL Crankset', 2915.88),
 ('Touring-3000 Blue, 58', 2672.46),
 ('Touring-3000 Yellow, 54', 2672.46),
 ('ML Mountain Frame-W - Silver, 40', 2621.4),
 ('HL Road Frame - Red, 62', 2576.7),
 ('HL Road Frame - Red, 44', 2576.7),
 ('ML Mountain Frame-W - Silver, 42', 2402.95),
 ('Mountain-400-W Silver, 42', 2308.45),
 ('Touring-3000 Blue, 44', 2227.05),
 ('Hitch Rack - 4-Bike', 2088.0),
 ('Road-550-W Yellow, 40', 2016.87),
 ('Road-550-W Yellow, 48', 2016.87),
 ("Women's Mountain Shorts, S", 1977.72),
 ('Mountain-500 Silver, 52', 1921.0),
 ('Mountain-400-W Silver, 38', 1846.76),
 ('LL Road Frame - Black, 58', 1820.97),
 ('HL Touring Frame - Blue, 60', 1807.05),
 ('LL Mountain Frame - Black, 44', 1798.44),
 ('Short-Sleeve Classic Jersey, XL', 1643.78),
 ('Mountain-500 Black, 44', 1619.95),
 ('LL Road Frame - Black, 52', 1618.64),
 ('Short-Sleeve Classic Jersey, L', 1499.64),
 ('ML Road Frame-W - Yellow, 38', 1427.6),
 ('LL Mountain Frame - Silver, 44', 1425.87),
 ('LL Mountain Frame - Silver, 40', 1425.87),
 ('Hydration Pack - 70 oz.', 1418.57),
 ('Long-Sleeve Logo Jersey, L', 1397.02),
 ('Mountain-500 Silver, 42', 1356.0),
 ('LL Mountain Frame - Black, 42', 1348.83),
 ('Touring-3000 Blue, 62', 1336.23),
 ('Touring-3000 Yellow, 58', 1336.23),
 ('LL Mountain Frame - Silver, 42', 1267.44),
 ('Mountain-500 Silver, 40', 1243.0),
 ("Women's Mountain Shorts, L", 1133.73),
 ('Classic Vest, M', 1104.9),
 ('HL Bottom Bracket', 1093.35),
 ('LL Crankset', 1052.9),
 ('Mountain-500 Black, 40', 971.97),
 ('Mountain-500 Black, 42', 971.97),
 ('Mountain-500 Black, 52', 971.97),
 ('Short-Sleeve Classic Jersey, S', 971.7),
 ('Sport-100 Helmet, Black', 941.04),
 ('Front Brakes', 766.8),
 ('Long-Sleeve Logo Jersey, M', 719.76),
 ('Front Derailleur', 713.57),
 ('Sport-100 Helmet, Blue', 708.4),
 ('Mountain-500 Silver, 48', 678.0),
 ('Road-550-W Yellow, 42', 672.29),
 ('Sport-100 Helmet, Red', 671.68),
 ('HL Touring Frame - Blue, 50', 602.35),
 ('LL Touring Frame - Yellow, 44', 600.15),
 ('LL Touring Frame - Blue, 54', 600.15),
 ('LL Mountain Frame - Black, 48', 599.48),
 ('HL Mountain Pedal', 583.08),
 ('Rear Derailleur', 583.04),
 ('ML Road Pedal', 484.25),
 ('LL Mountain Frame - Silver, 52', 475.29),
 ('Mountain-500 Silver, 44', 452.0),
 ('ML Mountain Handlebars', 445.8),
 ('HL Road Pedal', 437.31),
 ('Long-Sleeve Logo Jersey, XL', 419.86),
 ('LL Touring Frame - Blue, 50', 400.1),
 ('LL Touring Frame - Yellow, 50', 400.1),
 ('LL Road Pedal', 388.64),
 ('ML Mountain Seat/Saddle', 375.68),
 ('Half-Finger Gloves, M', 352.56),
 ('LL Mountain Pedal', 291.48),
 ('Half-Finger Gloves, L', 279.11),
 ('AWC Logo Cap', 272.91),
 ('Racing Socks, L', 257.27),
 ('Bike Wash - Dissolver', 226.93),
 ('LL Bottom Bracket', 226.73),
 ('ML Mountain Pedal', 223.5),
 ('HL Mountain Seat/Saddle', 221.06),
 ('HL Touring Seat/Saddle', 221.06),
 ('HL Road Handlebars', 216.48),
 ('HL Mountain Handlebars', 216.48),
 ("Women's Mountain Shorts, M", 209.95),
 ('LL Touring Frame - Yellow, 62', 200.05),
 ('LL Mountain Handlebars', 187.04),
 ('Half-Finger Gloves, S', 176.28),
 ('Water Bottle - 30 oz.', 135.34),
 ('LL Mountain Seat/Saddle', 97.62),
 ('Chain', 97.12),
 ('Rear Brakes', 63.9),
 ('HL Road Seat/Saddle', 63.16),
 ('Racing Socks, M', 59.29),
 ('HL Touring Handlebars', 54.94),
 ('Patch Kit/8 Patches', 27.4)]

## 14.
**Show how many orders are in the following ranges (in $):**

```
    RANGE      Num Orders      Total Value
    0-  99
  100- 999
 1000-9999
10000-
```

In [5]:
%%sql
WITH t AS ( -- generate the RANGE column
    SELECT SubTotal, SalesOrderID,
      CASE WHEN SubTotal BETWEEN 0 AND 99.99      THEN '    0-  99'
           WHEN SubTotal BETWEEN 100 AND 999.99   THEN '  100- 999'
           WHEN SubTotal BETWEEN 1000 AND 9999.99 THEN ' 1000-9999'
           ELSE                                          '10000-    '
      END RANGE
    FROM SalesOrderHeader
)
SELECT RANGE, COUNT(*) NumOrders, 
    ROUND(SUM(SubTotal), 2) TotalValue FROM t
    GROUP BY RANGE
    ORDER BY RANGE

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('    0-  99', 3, 158.66),
 ('  100- 999', 5, 2386.21),
 (' 1000-9999', 10, 27561.43),
 ('10000-    ', 14, 835326.81)]

## 15.
**Identify the three most important cities. Show the break down of top level product category against city.**

In [6]:
%%sql
WITH t AS ( -- the top three cities
    SELECT Address.City, 
           SUM(SalesOrderHeader.SubTotal) subt FROM
    Address JOIN SalesOrderHeader ON (
          SalesOrderHeader.ShipToAddressID=Address.AddressID)
    GROUP BY Address.City
    ORDER BY subt DESC
    LIMIT 3
)
SELECT Address.City, ProductCategory.Name Category,
    ROUND(SUM(OrderQty*UnitPrice), 2) amount FROM
      Address JOIN SalesOrderHeader ON (
            SalesOrderHeader.ShipToAddressID=Address.AddressID) JOIN
        SalesOrderDetail ON (
            SalesOrderDetail.SalesOrderID=SalesOrderHeader.SalesOrderID) JOIN
        Product ON (
            Product.ProductID=SalesOrderDetail.ProductID) JOIN
        ProductCategory ON (
            Product.ProductCategoryID=ProductCategory.ProductCategoryID) JOIN
        t ON (Address.City=t.City)
    GROUP BY Address.City, ProductCategory.name
    ORDER BY Address.City, ProductCategory.name

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('London', 'Bottom Brackets', 388.73),
 ('London', 'Brakes', 255.6),
 ('London', 'Chains', 36.42),
 ('London', 'Cranksets', 1773.81),
 ('London', 'Derailleurs', 638.85),
 ('London', 'Gloves', 88.14),
 ('London', 'Handlebars', 292.63),
 ('London', 'Helmets', 20.99),
 ('London', 'Mountain Bikes', 50881.99),
 ('London', 'Mountain Frames', 24018.8),
 ('London', 'Pedals', 390.32),
 ('London', 'Road Bikes', 5102.95),
 ('London', 'Saddles', 284.43),
 ('London', 'Shorts', 1072.14),
 ('Union City', 'Bike Racks', 144.0),
 ('Union City', 'Bottles and Cages', 29.9),
 ('Union City', 'Caps', 57.31),
 ('Union City', 'Cleaners', 38.16),
 ('Union City', 'Gloves', 264.42),
 ('Union City', 'Handlebars', 72.16),
 ('Union City', 'Helmets', 721.69),
 ('Union City', 'Hydration Packs', 296.91),
 ('Union City', 'Jerseys', 1597.49),
 ('Union City', 'Pedals', 490.73),
 ('Union City', 'Road Bikes', 53478.76),
 ('Union City', 'Road Frames', 10031.9),
 ('Union City', 'Socks', 5.39),
 ('Union City', 'Tires and Tubes', 8.22),
 ('Union City', 'Vests', 904.95),
 ('Woolston', 'Bike Racks', 432.0),
 ('Woolston', 'Bottles and Cages', 31.79),
 ('Woolston', 'Caps', 53.9),
 ('Woolston', 'Cleaners', 38.16),
 ('Woolston', 'Gloves', 161.59),
 ('Woolston', 'Helmets', 495.36),
 ('Woolston', 'Hydration Packs', 296.91),
 ('Woolston', 'Jerseys', 1178.02),
 ('Woolston', 'Saddles', 63.16),
 ('Woolston', 'Tires and Tubes', 10.96),
 ('Woolston', 'Touring Bikes', 77040.15),
 ('Woolston', 'Touring Frames', 9430.95),
 ('Woolston', 'Vests', 1108.19)]