# AdventureWorks - Hard

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

 ·········

## 11.
**For every customer with a 'Main Office' in Dallas show AddressLine1 of the 'Main Office' and AddressLine1 of the 'Shipping' address - if there is no shipping address leave it blank. Use one row per customer.**

In [2]:
%%sql
WITH t AS (
    SELECT "CustomerAW"."CustomerID" FROM
      "CustomerAW" JOIN "CustomerAddress" ON (
          "CustomerAW"."CustomerID"="CustomerAddress"."CustomerID") JOIN
        "Address" ON ("CustomerAddress"."AddressID"="Address"."AddressID")
        WHERE "Address"."City"='Dallas' AND
            "CustomerAddress"."AddressType"='Main Office'
)
SELECT "CustomerAW"."CompanyName",
  MAX(CASE WHEN "AddressType"='Main Office' THEN "AddressLine1" ELSE '' END) main_office,
    MAX(CASE WHEN "AddressType"='Shipping' THEN "AddressLine1" ELSE '' END) shipping
    FROM "CustomerAW" JOIN "CustomerAddress" ON (
          "CustomerAW"."CustomerID"="CustomerAddress"."CustomerID") JOIN
        "Address" ON ("CustomerAddress"."AddressID"="Address"."AddressID")
        WHERE "CustomerAW"."CustomerID" IN (SELECT "CustomerID" FROM t)
        GROUP BY "CustomerAW"."CompanyName";

 * postgresql://postgres:***@localhost/sqlzoo
5 rows affected.

[('Elite Bikes', 'Po Box 8259024', '9178 Jumping St.'),
 ('Rental Bikes', '99828 Routh Street, Suite 825', ''),
 ('Third Bike Store', '2500 North Stemmons Freeway', ''),
 ('Town Industries', 'P.O. Box 6256916', ''),
 ('Unsurpassed Bikes', 'Po Box 8035996', '')]

## 12.
**For each order show the SalesOrderID and SubTotal calculated three ways:**

- **A) From the SalesOrderHeader**
- **B) Sum of OrderQty*UnitPrice**
- **C) Sum of OrderQty*ListPrice**

In [3]:
%%sql
WITH a AS (
    SELECT "SalesOrderID", "SubTotal" subtotal_a FROM "SalesOrderHeader"
), b AS (
    SELECT "SalesOrderID", SUM("OrderQty"*"UnitPrice"*(1-"UnitPriceDiscount")) subtotal_b
    FROM "SalesOrderDetail"
    GROUP BY "SalesOrderID"
), c AS (
    SELECT "SalesOrderID", SUM("OrderQty"*"ListPrice") subtotal_c
    FROM "SalesOrderDetail" JOIN "Product" ON (
        "SalesOrderDetail"."ProductID"="Product"."ProductID")
    GROUP BY "SalesOrderID"
)
SELECT a."SalesOrderID", subtotal_a, subtotal_b, subtotal_c
    FROM a JOIN b ON (a."SalesOrderID"=b."SalesOrderID") JOIN
    c ON (a."SalesOrderID"=c."SalesOrderID")

 * postgresql://postgres:***@localhost/sqlzoo
31 rows affected.

[(71774, Decimal('880.35'), Decimal('713.8000'), Decimal('1189.66')),
 (71776, Decimal('78.81'), Decimal('63.9000'), Decimal('106.50')),
 (71780, Decimal('38418.69'), Decimal('29922.8100'), Decimal('56651.56')),
 (71782, Decimal('39785.33'), Decimal('33319.6800'), Decimal('55533.31')),
 (71783, Decimal('83858.43'), Decimal('65682.7396'), Decimal('121625.43')),
 (71784, Decimal('108561.83'), Decimal('89868.8795'), Decimal('151932.58')),
 (71796, Decimal('57634.63'), Decimal('47848.0200'), Decimal('79746.71')),
 (71797, Decimal('78029.69'), Decimal('65122.7911'), Decimal('108986.40')),
 (71815, Decimal('1141.58'), Decimal('926.9100'), Decimal('1544.86')),
 (71816, Decimal('3398.17'), Decimal('2847.3700'), Decimal('4745.68')),
 (71831, Decimal('2016.34'), Decimal('1712.9100'), Decimal('2854.91')),
 (71832, Decimal('35775.21'), Decimal('28950.4766'), Decimal('50559.01')),
 (71845, Decimal('41622.05'), Decimal('34118.3000'), Decimal('57768.21')),
 (71846, Decimal('2453.76'), Decimal('1884.3800'), Decimal('3592.65')),
 (71856, Decimal('602.19'), Decimal('500.3000'), Decimal('833.84')),
 (71858, Decimal('13823.71'), Decimal('11528.8000'), Decimal('19214.74')),
 (71863, Decimal('3324.28'), Decimal('2777.0538'), Decimal('4633.78')),
 (71867, Decimal('1059.31'), Decimal('858.9000'), Decimal('1431.50')),
 (71885, Decimal('550.39'), Decimal('524.6400'), Decimal('874.44')),
 (71895, Decimal('246.74'), Decimal('221.2400'), Decimal('368.76')),
 (71897, Decimal('12685.89'), Decimal('10585.0100'), Decimal('17641.75')),
 (71898, Decimal('63980.99'), Decimal('53248.5700'), Decimal('88747.82')),
 (71899, Decimal('2415.67'), Decimal('1856.1800'), Decimal('3545.67')),
 (71902, Decimal('74058.81'), Decimal('59893.7200'), Decimal('106151.57')),
 (71915, Decimal('2137.23'), Decimal('1732.8600'), Decimal('2888.15')),
 (71917, Decimal('40.90'), Decimal('37.7300'), Decimal('62.93')),
 (71920, Decimal('2980.79'), Decimal('2527.0800'), Decimal('4211.88')),
 (71923, Decimal('106.54'), Decimal('96.0312'), Decimal('166.81')),
 (71935, Decimal('6634.30'), Decimal('5533.7754'), Decimal('9229.27')),
 (71936, Decimal('98278.69'), Decimal('79589.0848'), Decimal('138124.87')),
 (71938, Decimal('88812.86'), Decimal('5102.9500'), Decimal('8504.95'))]

## 13.
**Show the best selling item by value.**

In [4]:
%%sql
SELECT "Product"."Name", SUM("OrderQty"*"UnitPrice") subtotal
    FROM "SalesOrderDetail" JOIN "Product" ON (
        "SalesOrderDetail"."ProductID"="Product"."ProductID")
    GROUP BY "Product"."ProductID"
    ORDER BY SUM("OrderQty"*"UnitPrice") DESC;

 * postgresql://postgres:***@localhost/sqlzoo
137 rows affected.

[('Touring-1000 Blue, 60', Decimal('37191.44')),
 ('Mountain-200 Black, 42', Decimal('37178.73')),
 ('Mountain-200 Black, 38', Decimal('35801.74')),
 ('Road-350-W Yellow, 48', Decimal('33509.58')),
 ('Touring-1000 Yellow, 60', Decimal('23745.32')),
 ('Touring-1000 Blue, 50', Decimal('22887.04')),
 ('Mountain-200 Silver, 42', Decimal('20879.85')),
 ('Road-350-W Yellow, 40', Decimal('20411.80')),
 ('Mountain-200 Black, 46', Decimal('19277.86')),
 ('Mountain-200 Silver, 46', Decimal('18095.87')),
 ('Touring-1000 Yellow, 46', Decimal('17165.28')),
 ('Touring-1000 Blue, 46', Decimal('17165.28')),
 ('Road-350-W Yellow, 42', Decimal('15887.18')),
 ('Mountain-200 Silver, 38', Decimal('15311.89')),
 ('Road-250 Black, 44', Decimal('13194.09')),
 ('Touring-2000 Blue, 54', Decimal('13120.38')),
 ('HL Mountain Frame - Silver, 38', Decimal('13099.20')),
 ('Touring-3000 Blue, 50', Decimal('10244.43')),
 ('HL Mountain Frame - Black, 42', Decimal('9717.12')),
 ('Road-550-W Yellow, 38', Decimal('9412.06')),
 ('Touring-3000 Yellow, 62', Decimal('8744.85')),
 ('Touring-1000 Blue, 54', Decimal('8582.64')),
 ('HL Mountain Frame - Silver, 46', Decimal('8187.00')),
 ('Touring-3000 Yellow, 44', Decimal('8017.38')),
 ('Road-250 Black, 48', Decimal('7330.05')),
 ('Touring-2000 Blue, 60', Decimal('7289.10')),
 ('HL Touring Frame - Yellow, 60', Decimal('7228.20')),
 ('Touring-1000 Yellow, 50', Decimal('7152.20')),
 ('Touring-3000 Blue, 54', Decimal('6681.15')),
 ('Touring-2000 Blue, 50', Decimal('6560.19')),
 ('Touring-2000 Blue, 46', Decimal('6560.19')),
 ('Touring-1000 Yellow, 54', Decimal('5721.76')),
 ('HL Mountain Frame - Black, 38', Decimal('5668.32')),
 ('Road-750 Black, 48', Decimal('5183.84')),
 ('HL Road Frame - Black, 44', Decimal('5153.40')),
 ('HL Mountain Frame - Silver, 42', Decimal('4912.20')),
 ('ML Road Frame-W - Yellow, 48', Decimal('4282.80')),
 ('HL Touring Frame - Blue, 54', Decimal('4216.45')),
 ('Mountain-400-W Silver, 46', Decimal('4155.21')),
 ('Mountain-400-W Silver, 40', Decimal('4155.21')),
 ('Touring-3000 Yellow, 50', Decimal('4008.69')),
 ('Mountain-500 Black, 48', Decimal('3887.88')),
 ('Road-750 Black, 52', Decimal('3887.88')),
 ('ML Road Frame-W - Yellow, 44', Decimal('3569.00')),
 ('Road-750 Black, 58', Decimal('3563.89')),
 ('HL Touring Frame - Yellow, 54', Decimal('3011.75')),
 ('Classic Vest, S', Decimal('2968.93')),
 ('Road-250 Black, 52', Decimal('2932.02')),
 ('HL Crankset', Decimal('2915.88')),
 ('Touring-3000 Blue, 58', Decimal('2672.46')),
 ('Touring-3000 Yellow, 54', Decimal('2672.46')),
 ('ML Mountain Frame-W - Silver, 40', Decimal('2621.40')),
 ('HL Road Frame - Red, 44', Decimal('2576.70')),
 ('HL Road Frame - Red, 62', Decimal('2576.70')),
 ('ML Mountain Frame-W - Silver, 42', Decimal('2402.95')),
 ('Mountain-400-W Silver, 42', Decimal('2308.45')),
 ('Touring-3000 Blue, 44', Decimal('2227.05')),
 ('Hitch Rack - 4-Bike', Decimal('2088.00')),
 ('Road-550-W Yellow, 40', Decimal('2016.87')),
 ('Road-550-W Yellow, 48', Decimal('2016.87')),
 ("Women's Mountain Shorts, S", Decimal('1977.72')),
 ('Mountain-500 Silver, 52', Decimal('1921.00')),
 ('Mountain-400-W Silver, 38', Decimal('1846.76')),
 ('LL Road Frame - Black, 58', Decimal('1820.97')),
 ('HL Touring Frame - Blue, 60', Decimal('1807.05')),
 ('LL Mountain Frame - Black, 44', Decimal('1798.44')),
 ('Short-Sleeve Classic Jersey, XL', Decimal('1643.78')),
 ('Mountain-500 Black, 44', Decimal('1619.95')),
 ('LL Road Frame - Black, 52', Decimal('1618.64')),
 ('Short-Sleeve Classic Jersey, L', Decimal('1499.64')),
 ('ML Road Frame-W - Yellow, 38', Decimal('1427.60')),
 ('LL Mountain Frame - Silver, 40', Decimal('1425.87')),
 ('LL Mountain Frame - Silver, 44', Decimal('1425.87')),
 ('Hydration Pack - 70 oz.', Decimal('1418.57')),
 ('Long-Sleeve Logo Jersey, L', Decimal('1397.02')),
 ('Mountain-500 Silver, 42', Decimal('1356.00')),
 ('LL Mountain Frame - Black, 42', Decimal('1348.83')),
 ('Touring-3000 Blue, 62', Decimal('1336.23')),
 ('Touring-3000 Yellow, 58', Decimal('1336.23')),
 ('LL Mountain Frame - Silver, 42', Decimal('1267.44')),
 ('Mountain-500 Silver, 40', Decimal('1243.00')),
 ("Women's Mountain Shorts, L", Decimal('1133.73')),
 ('Classic Vest, M', Decimal('1104.90')),
 ('HL Bottom Bracket', Decimal('1093.35')),
 ('LL Crankset', Decimal('1052.90')),
 ('Mountain-500 Black, 40', Decimal('971.97')),
 ('Mountain-500 Black, 52', Decimal('971.97')),
 ('Mountain-500 Black, 42', Decimal('971.97')),
 ('Short-Sleeve Classic Jersey, S', Decimal('971.70')),
 ('Sport-100 Helmet, Black', Decimal('941.04')),
 ('Front Brakes', Decimal('766.80')),
 ('Long-Sleeve Logo Jersey, M', Decimal('719.76')),
 ('Front Derailleur', Decimal('713.57')),
 ('Sport-100 Helmet, Blue', Decimal('708.40')),
 ('Mountain-500 Silver, 48', Decimal('678.00')),
 ('Road-550-W Yellow, 42', Decimal('672.29')),
 ('Sport-100 Helmet, Red', Decimal('671.68')),
 ('HL Touring Frame - Blue, 50', Decimal('602.35')),
 ('LL Touring Frame - Yellow, 44', Decimal('600.15')),
 ('LL Touring Frame - Blue, 54', Decimal('600.15')),
 ('LL Mountain Frame - Black, 48', Decimal('599.48')),
 ('HL Mountain Pedal', Decimal('583.08')),
 ('Rear Derailleur', Decimal('583.04')),
 ('ML Road Pedal', Decimal('484.25')),
 ('LL Mountain Frame - Silver, 52', Decimal('475.29')),
 ('Mountain-500 Silver, 44', Decimal('452.00')),
 ('ML Mountain Handlebars', Decimal('445.80')),
 ('HL Road Pedal', Decimal('437.31')),
 ('Long-Sleeve Logo Jersey, XL', Decimal('419.86')),
 ('LL Touring Frame - Yellow, 50', Decimal('400.10')),
 ('LL Touring Frame - Blue, 50', Decimal('400.10')),
 ('LL Road Pedal', Decimal('388.64')),
 ('ML Mountain Seat/Saddle', Decimal('375.68')),
 ('Half-Finger Gloves, M', Decimal('352.56')),
 ('LL Mountain Pedal', Decimal('291.48')),
 ('Half-Finger Gloves, L', Decimal('279.11')),
 ('AWC Logo Cap', Decimal('272.91')),
 ('Racing Socks, L', Decimal('257.27')),
 ('Bike Wash - Dissolver', Decimal('226.93')),
 ('LL Bottom Bracket', Decimal('226.73')),
 ('ML Mountain Pedal', Decimal('223.50')),
 ('HL Touring Seat/Saddle', Decimal('221.06')),
 ('HL Mountain Seat/Saddle', Decimal('221.06')),
 ('HL Road Handlebars', Decimal('216.48')),
 ('HL Mountain Handlebars', Decimal('216.48')),
 ("Women's Mountain Shorts, M", Decimal('209.95')),
 ('LL Touring Frame - Yellow, 62', Decimal('200.05')),
 ('LL Mountain Handlebars', Decimal('187.04')),
 ('Half-Finger Gloves, S', Decimal('176.28')),
 ('Water Bottle - 30 oz.', Decimal('135.34')),
 ('LL Mountain Seat/Saddle', Decimal('97.62')),
 ('Chain', Decimal('97.12')),
 ('Rear Brakes', Decimal('63.90')),
 ('HL Road Seat/Saddle', Decimal('63.16')),
 ('Racing Socks, M', Decimal('59.29')),
 ('HL Touring Handlebars', Decimal('54.94')),
 ('Patch Kit/8 Patches', Decimal('27.40'))]

## 14.
**Show how many orders are in the following ranges (in $):**

```
    RANGE      Num Orders      Total Value
    0-  99
  100- 999
 1000-9999
10000-
```

In [5]:
%%sql
WITH t AS (
    -- generate the RANGE column
    SELECT "SubTotal", "SalesOrderID",
      CASE WHEN "SubTotal" BETWEEN 0 AND 99.99      THEN '    0-  99'
           WHEN "SubTotal" BETWEEN 100 AND 999.99   THEN '  100- 999'
           WHEN "SubTotal" BETWEEN 1000 AND 9999.99 THEN ' 1000-9999'
           ELSE                                          '10000-    '
      END "RANGE"
    FROM "SalesOrderHeader"
)
SELECT "RANGE", COUNT(*) "Num Orders", SUM("SubTotal") "Total Value" FROM t
    GROUP BY "RANGE"
    ORDER BY "RANGE";

 * postgresql://postgres:***@localhost/sqlzoo
4 rows affected.

[('    0-  99', 3, Decimal('158.66')),
 ('  100- 999', 5, Decimal('2386.21')),
 (' 1000-9999', 10, Decimal('27561.43')),
 ('10000-    ', 14, Decimal('835326.81'))]

## 15.
**Identify the three most important cities. Show the break down of top level product category against city.**

In [6]:
%%sql
WITH t AS (
    -- the top three cities
    SELECT "Address"."City" FROM
      "Address" JOIN "SalesOrderHeader" ON (
          "SalesOrderHeader"."ShipToAddressID"="Address"."AddressID")
    GROUP BY "Address"."City"
    ORDER BY SUM("SubTotal") DESC
    LIMIT 3
)
SELECT "Address"."City", "ProductCategory".Name "Category",
    SUM("OrderQty"*"UnitPrice") amount FROM
      "Address" JOIN "SalesOrderHeader" ON (
        "SalesOrderHeader"."ShipToAddressID"="Address"."AddressID") JOIN
      "SalesOrderDetail" ON (
        "SalesOrderDetail"."SalesOrderID"="SalesOrderHeader"."SalesOrderID") JOIN
      "Product" ON ("Product"."ProductID"="SalesOrderDetail"."ProductID") JOIN
      "ProductCategory" ON ("Product"."ProductCategoryID"="ProductCategory"."ProductCategoryID")
    WHERE "Address"."City" IN (SELECT "City" FROM t)
    GROUP BY "Address"."City", "ProductCategory".name
    ORDER BY "Address"."City", "ProductCategory".name;

 * postgresql://postgres:***@localhost/sqlzoo
42 rows affected.

[('London', 'Bottom Brackets', Decimal('388.73')),
 ('London', 'Brakes', Decimal('255.60')),
 ('London', 'Chains', Decimal('36.42')),
 ('London', 'Cranksets', Decimal('1773.81')),
 ('London', 'Derailleurs', Decimal('638.85')),
 ('London', 'Gloves', Decimal('88.14')),
 ('London', 'Handlebars', Decimal('292.63')),
 ('London', 'Helmets', Decimal('20.99')),
 ('London', 'Mountain Bikes', Decimal('50881.99')),
 ('London', 'Mountain Frames', Decimal('24018.80')),
 ('London', 'Pedals', Decimal('390.32')),
 ('London', 'Road Bikes', Decimal('5102.95')),
 ('London', 'Saddles', Decimal('284.43')),
 ('London', 'Shorts', Decimal('1072.14')),
 ('Union City', 'Bike Racks', Decimal('144.00')),
 ('Union City', 'Bottles and Cages', Decimal('29.90')),
 ('Union City', 'Caps', Decimal('57.31')),
 ('Union City', 'Cleaners', Decimal('38.16')),
 ('Union City', 'Gloves', Decimal('264.42')),
 ('Union City', 'Handlebars', Decimal('72.16')),
 ('Union City', 'Helmets', Decimal('721.69')),
 ('Union City', 'Hydration Packs', Decimal('296.91')),
 ('Union City', 'Jerseys', Decimal('1597.49')),
 ('Union City', 'Pedals', Decimal('490.73')),
 ('Union City', 'Road Bikes', Decimal('53478.76')),
 ('Union City', 'Road Frames', Decimal('10031.90')),
 ('Union City', 'Socks', Decimal('5.39')),
 ('Union City', 'Tires and Tubes', Decimal('8.22')),
 ('Union City', 'Vests', Decimal('904.95')),
 ('Woolston', 'Bike Racks', Decimal('432.00')),
 ('Woolston', 'Bottles and Cages', Decimal('31.79')),
 ('Woolston', 'Caps', Decimal('53.90')),
 ('Woolston', 'Cleaners', Decimal('38.16')),
 ('Woolston', 'Gloves', Decimal('161.59')),
 ('Woolston', 'Helmets', Decimal('495.36')),
 ('Woolston', 'Hydration Packs', Decimal('296.91')),
 ('Woolston', 'Jerseys', Decimal('1178.02')),
 ('Woolston', 'Saddles', Decimal('63.16')),
 ('Woolston', 'Tires and Tubes', Decimal('10.96')),
 ('Woolston', 'Touring Bikes', Decimal('77040.15')),
 ('Woolston', 'Touring Frames', Decimal('9430.95')),
 ('Woolston', 'Vests', Decimal('1108.19'))]