# Neeps - Hard

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

## 11.
**co.CHt is to be given all the teaching that co.ACg currently does. Identify those events which will clash.**

In [2]:
%%sql
WITH t AS (-- list all the events
  SELECT ut_event.id, ut_occurs.week, ut_event.dow,
    ut_teaches.staff, CAST(SPLIT(ut_event.tod, ':')[0] AS INT) AS begin, 
    CAST(SPLIT(ut_event.tod, ':')[0] AS INT) + ut_event.duration AS due
      FROM ut_event JOIN ut_teaches ON (ut_event.id=ut_teaches.event) JOIN
        ut_occurs ON (ut_event.id=ut_occurs.event)
)
SELECT DISTINCT a.id `co.CHt`, b.id `co.ACg`
  FROM (SELECT * FROM t WHERE staff='co.CHt') a JOIN
    (SELECT * FROM t WHERE staff='co.ACg') b ON (
        a.week=b.week AND a.dow=b.dow)
    WHERE
        (a.begin>=b.begin AND a.begin<b.due OR
         b.begin>=a.begin AND b.begin<a.due)

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('co12005.T03', 'co12005.T01'),
 ('co12005.T03', 'co72013.L02'),
 ('co12005.T03', 'co72013.T03')]

## 12.
**Produce a table showing the utilisation rate and the occupancy level for all rooms with a capacity more than 60.**

> I don't know how 'utilisation rate' and 'occupancy level' are defined.

In [9]:
%%sql
WITH hrs AS (
    -- theoretical full utilisation hours: 15 weeks * 5 days * 12 hours
    SELECT MAX(CAST(SPLIT(tod, ':')[0] AS INT) + duration) - 
             MIN(CAST(SPLIT(tod, ':')[0] AS INT)) hrs
        FROM ut_event
), t AS (
  SELECT SUM(hrs) tot_hrs FROM
    (SELECT ut_week.id, hrs.hrs
      FROM ut_week JOIN hrs) a
), s AS ( -- attended students per event
  SELECT room, SUM(sze) size, SUM(capacity) capacity FROM
    (SELECT ut_event.id evt, ut_occurs.week, ut_event.room, 
        ut_student.sze, ut_room.capacity FROM 
        ut_event JOIN ut_occurs ON (ut_event.id=ut_occurs.event) JOIN
        ut_attends ON (ut_event.id=ut_attends.event) JOIN
        ut_student ON (ut_student.id=ut_attends.student) JOIN
        ut_room ON (ut_event.room=ut_room.id)
     ) a
     GROUP BY room
)
SELECT ut_event.room, ROUND(SUM(duration)/t.tot_hrs, 2) util,
    ROUND(SUM(s.size)/SUM(s.capacity), 2) occup_level
    FROM ut_event JOIN ut_occurs ON (
        ut_event.id=ut_occurs.event) JOIN 
    ut_room ON (
        ut_event.room=ut_room.id) JOIN
    s ON (ut_event.room=s.room) JOIN
    t
        WHERE ut_room.capacity>60
        GROUP BY ut_event.room, t.tot_hrs

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('cr.SMH', 2.4, 0.27)]

## 13.
**A one hour staff meeting is to be held between 09:00 and 17:00. Events which clash are to be cancelled. Identify the hour which will result in the least disruption.**

In [4]:
%%sql
WITH t AS ( -- all the events per hour
  SELECT * FROM
    (SELECT ut_occurs.event, ut_occurs.week, ut_event.dow, 
       CAST(SPLIT(ut_event.tod, ':')[0] AS INT) tod
       FROM ut_event JOIN ut_occurs ON (
           ut_event.id=ut_occurs.event)
       WHERE ut_event.duration=1
    UNION ALL
     SELECT ut_occurs.event, ut_occurs.week, ut_event.dow, 
       CAST(SPLIT(ut_event.tod, ':')[0] AS INT) + 1 AS tod
       FROM ut_event JOIN ut_occurs ON (
           ut_event.id=ut_occurs.event)
       WHERE ut_event.duration=2) AS a
)
SELECT ut_week.id week, 
  SUM(CASE WHEN dow='Monday' AND tod=9 THEN 1 ELSE 0 END) m09,
    SUM(CASE WHEN dow='Monday' AND tod=10 THEN 1 ELSE 0 END) m10,
    SUM(CASE WHEN dow='Monday' AND tod=11 THEN 1 ELSE 0 END) m11,
    SUM(CASE WHEN dow='Monday' AND tod=12 THEN 1 ELSE 0 END) m12,
    SUM(CASE WHEN dow='Monday' AND tod=13 THEN 1 ELSE 0 END) m13,
    SUM(CASE WHEN dow='Monday' AND tod=14 THEN 1 ELSE 0 END) m14,
    SUM(CASE WHEN dow='Monday' AND tod=15 THEN 1 ELSE 0 END) m15,
    SUM(CASE WHEN dow='Monday' AND tod=16 THEN 1 ELSE 0 END) m16,
    SUM(CASE WHEN dow='Monday' AND tod=17 THEN 1 ELSE 0 END) m17,    
    SUM(CASE WHEN dow='Tuesday' AND tod=9 THEN 1 ELSE 0 END) t09,
    SUM(CASE WHEN dow='Tuesday' AND tod=10 THEN 1 ELSE 0 END) t10,
    SUM(CASE WHEN dow='Tuesday' AND tod=11 THEN 1 ELSE 0 END) t11,
    SUM(CASE WHEN dow='Tuesday' AND tod=12 THEN 1 ELSE 0 END) t12,
    SUM(CASE WHEN dow='Tuesday' AND tod=13 THEN 1 ELSE 0 END) t13,
    SUM(CASE WHEN dow='Tuesday' AND tod=14 THEN 1 ELSE 0 END) t14,
    SUM(CASE WHEN dow='Tuesday' AND tod=15 THEN 1 ELSE 0 END) t15,
    SUM(CASE WHEN dow='Tuesday' AND tod=16 THEN 1 ELSE 0 END) t16,
    SUM(CASE WHEN dow='Tuesday' AND tod=17 THEN 1 ELSE 0 END) t17,    
    SUM(CASE WHEN dow='Wednesday' AND tod=9 THEN 1 ELSE 0 END) w09,
    SUM(CASE WHEN dow='Wednesday' AND tod=10 THEN 1 ELSE 0 END) w10,
    SUM(CASE WHEN dow='Wednesday' AND tod=11 THEN 1 ELSE 0 END) w11,
    SUM(CASE WHEN dow='Wednesday' AND tod=12 THEN 1 ELSE 0 END) w12,
    SUM(CASE WHEN dow='Wednesday' AND tod=13 THEN 1 ELSE 0 END) w13,
    SUM(CASE WHEN dow='Wednesday' AND tod=14 THEN 1 ELSE 0 END) w14,
    SUM(CASE WHEN dow='Wednesday' AND tod=15 THEN 1 ELSE 0 END) w15,
    SUM(CASE WHEN dow='Wednesday' AND tod=16 THEN 1 ELSE 0 END) w16,
    SUM(CASE WHEN dow='Wednesday' AND tod=17 THEN 1 ELSE 0 END) w17,    
    SUM(CASE WHEN dow='Thursday' AND tod=9 THEN 1 ELSE 0 END) th09,
    SUM(CASE WHEN dow='Thursday' AND tod=10 THEN 1 ELSE 0 END) th10,
    SUM(CASE WHEN dow='Thursday' AND tod=11 THEN 1 ELSE 0 END) th11,
    SUM(CASE WHEN dow='Thursday' AND tod=12 THEN 1 ELSE 0 END) th12,
    SUM(CASE WHEN dow='Thursday' AND tod=13 THEN 1 ELSE 0 END) th13,
    SUM(CASE WHEN dow='Thursday' AND tod=14 THEN 1 ELSE 0 END) th14,
    SUM(CASE WHEN dow='Thursday' AND tod=15 THEN 1 ELSE 0 END) th15,
    SUM(CASE WHEN dow='Thursday' AND tod=16 THEN 1 ELSE 0 END) th16,
    SUM(CASE WHEN dow='Thursday' AND tod=17 THEN 1 ELSE 0 END) th17,    
    SUM(CASE WHEN dow='Friday' AND tod=9 THEN 1 ELSE 0 END) f09,
    SUM(CASE WHEN dow='Friday' AND tod=10 THEN 1 ELSE 0 END) f10,
    SUM(CASE WHEN dow='Friday' AND tod=11 THEN 1 ELSE 0 END) f11,
    SUM(CASE WHEN dow='Friday' AND tod=12 THEN 1 ELSE 0 END) f12,
    SUM(CASE WHEN dow='Friday' AND tod=13 THEN 1 ELSE 0 END) f13,
    SUM(CASE WHEN dow='Friday' AND tod=14 THEN 1 ELSE 0 END) f14,
    SUM(CASE WHEN dow='Friday' AND tod=15 THEN 1 ELSE 0 END) f15,
    SUM(CASE WHEN dow='Friday' AND tod=16 THEN 1 ELSE 0 END) f16,
    SUM(CASE WHEN dow='Friday' AND tod=17 THEN 1 ELSE 0 END) f17
    FROM t RIGHT JOIN ut_week ON (ut_week.id=t.week)
    GROUP BY ut_week.id

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('01', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 14, 10, 8, 6, 10, 8, 6, 6, 4, 14, 2),
 ('02', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 14, 10, 8, 6, 10, 8, 6, 6, 4, 14, 2),
 ('03', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 14, 10, 8, 6, 10, 8, 6, 6, 4, 14, 2),
 ('04', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 14, 10, 8, 6, 10, 8, 4, 6, 4, 14, 2),
 ('05', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 14, 10, 8, 6, 10, 8, 4, 6, 4, 12, 2),
 ('06', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 14, 10, 8, 6, 10, 8, 4, 6, 4, 12, 2),
 ('07', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 14, 10, 8, 6, 10, 8, 4, 6, 4, 12, 2),
 ('08', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 9, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 14, 10, 8, 6, 10, 8, 4, 6, 4, 12, 2),
 ('09', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 ('10', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 12, 10, 8, 6, 10, 8, 4, 6, 6, 12, 2),
 ('11', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 12, 10, 8, 6, 10, 8, 4, 6, 6, 12, 2),
 ('12', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 12, 10, 8, 6, 10, 8, 4, 6, 6, 12, 2),
 ('13', 2, 6, 2, 14, 4, 10, 6, 16, 4, 4, 10, 18, 14, 4, 12, 10, 12, 2, 10, 10, 10, 12, 8, 6, 8, 8, 4, 2, 14, 10, 12, 8, 14, 10, 12, 10, 8, 6, 10, 8, 4, 6, 6, 12, 2),
 ('14', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
 ('15', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)]

In [5]:
%%sql
WITH t AS (
-- You may find that week '09', '14', '15' are totally vacant
-- or you can choose Mon 9am/12pm, Tue 5pm, Thu 9am, Fri 5pm 
    -- all the events per hour
  SELECT * FROM
    (SELECT ut_occurs.event, ut_occurs.week, ut_event.dow, 
       CAST(SPLIT(ut_event.tod, ':')[0] AS INT) tod
       FROM ut_event JOIN ut_occurs ON (
           ut_event.id=ut_occurs.event)
       WHERE ut_event.duration=1
    UNION ALL
     SELECT ut_occurs.event, ut_occurs.week, ut_event.dow, 
       CAST(SPLIT(ut_event.tod, ':')[0] AS INT) + 1 AS tod
       FROM ut_event JOIN ut_occurs ON (
           ut_event.id=ut_occurs.event) 
       WHERE ut_event.duration=2) AS a
)
SELECT tod, dow, COUNT(*) n
    FROM t
    WHERE tod BETWEEN 9 AND 17
    GROUP BY tod, dow
    ORDER BY n, tod, dow

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[(9, 'Monday', 24),
 (9, 'Thursday', 24),
 (11, 'Monday', 24),
 (17, 'Friday', 24),
 (17, 'Tuesday', 24),
 (9, 'Tuesday', 48),
 (13, 'Monday', 48),
 (13, 'Tuesday', 48),
 (17, 'Monday', 48),
 (17, 'Wednesday', 48),
 (13, 'Friday', 54),
 (15, 'Friday', 56),
 (10, 'Friday', 72),
 (10, 'Monday', 72),
 (14, 'Friday', 72),
 (14, 'Wednesday', 72),
 (15, 'Monday', 72),
 (9, 'Friday', 96),
 (12, 'Friday', 96),
 (13, 'Thursday', 96),
 (13, 'Wednesday', 96),
 (15, 'Wednesday', 96),
 (16, 'Wednesday', 96),
 (11, 'Wednesday', 119),
 (9, 'Wednesday', 120),
 (10, 'Tuesday', 120),
 (10, 'Wednesday', 120),
 (11, 'Friday', 120),
 (11, 'Thursday', 120),
 (14, 'Monday', 120),
 (15, 'Thursday', 120),
 (15, 'Tuesday', 120),
 (17, 'Thursday', 120),
 (12, 'Thursday', 144),
 (12, 'Wednesday', 144),
 (14, 'Tuesday', 144),
 (16, 'Tuesday', 144),
 (16, 'Friday', 152),
 (16, 'Thursday', 160),
 (10, 'Thursday', 168),
 (12, 'Monday', 168),
 (12, 'Tuesday', 168),
 (14, 'Thursday', 168),
 (16, 'Monday', 192),
 (11, 'Tuesday', 216)]

## 14.
**Find all clashes - include the events which clash and the staff, student or rooms that they have in common.**

In [6]:
%%sql
SELECT 'don\'t know how \'clash\' is defined' AS huh FROM ut_event LIMIT 1

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[("don't know how 'clash' is defined",)]

## 15.
**Produce a timetable for a group of full time students for week 1**

In [7]:
%%sql
WITH t AS (-- vague requirements
    SELECT ut_event.id, student, dow, CAST(SPLIT(tod, ':')[0] AS INT) tod
      FROM ut_event JOIN ut_occurs ON (ut_event.id=ut_occurs.event)
        JOIN ut_attends ON (ut_attends.event=ut_event.id)
        WHERE ut_occurs.week='01' AND duration=1
    UNION ALL
    SELECT ut_event.id, student, dow, CAST(SPLIT(tod, ':')[0] AS INT) + 1 AS tod
      FROM ut_event JOIN ut_occurs ON (ut_event.id=ut_occurs.event)
        JOIN ut_attends ON (ut_attends.event=ut_event.id)
        WHERE ut_occurs.week='01' AND duration=2
)
SELECT student, tod,
  MAX(CASE WHEN dow='Monday' THEN id ELSE NULL END) mon,
    MAX(CASE WHEN dow='Tuesday' THEN id ELSE NULL END) tue,
    MAX(CASE WHEN dow='Wednesday' THEN id ELSE NULL END) wed,
    MAX(CASE WHEN dow='Thursday' THEN id ELSE NULL END) thu,
    MAX(CASE WHEN dow='Friday' THEN id ELSE NULL END) fri
    FROM t
    GROUP BY student, tod
    ORDER BY student, tod

 * hive://cloudera@quickstart.cloudera:10000/sqlzoo
Done.

[('co.12008.Ea', 12, None, 'co12008.L01', None, None, None),
 ('co.12008.Ea', 14, 'co12008.T01', None, None, None, None),
 ('co.12008.Eb', 12, None, 'co12008.L01', None, None, None),
 ('co.12008.Eb', 15, None, None, None, None, 'co12008.T02'),
 ('co.12012.E', 12, None, None, 'co12012.L01', None, None),
 ('co.12012.E', 14, None, None, 'co12012.T01', None, None),
 ('co.22022.E', 9, None, None, None, None, 'co22022.T01'),
 ('co.22022.E', 11, None, None, None, None, 'co22022.L01'),
 ('co1.BAe', 10, 'co12011.L01', None, 'co12004.T05', 'co12006.L02', None),
 ('co1.BAe', 11, None, None, 'co12004.L01', None, None),
 ('co1.BAe', 12, 'co12006.T04', None, None, None, None),
 ('co1.BAe', 14, None, None, None, 'co12011.T01', None),
 ('co1.CO', 10, None, None, 'co12006.L01', None, 'co12005.L02'),
 ('co1.CO', 11, None, None, 'co12004.L01', None, None),
 ('co1.CO', 13, None, None, 'co12006.L03', None, None),
 ('co1.CO', 14, 'co12005.L01', None, None, None, None),
 ('co1.CO.a', 12, 'co12004.T01', 'co12005.T01', None, None, None),
 ('co1.CO.a', 15, None, 'co12006.T01', None, None, None),
 ('co1.CO.c', 12, 'co12004.T01', 'co12005.T01', None, None, None),
 ('co1.CO.c', 15, None, 'co12006.T01', None, None, None),
 ('co1.CO.d', 12, 'co12005.T02', None, None, None, None),
 ('co1.CO.d', 14, None, None, None, 'co12006.T02', None),
 ('co1.CO.d', 16, None, 'co12004.T02', None, None, None),
 ('co1.CO.e', 12, 'co12005.T02', None, None, None, None),
 ('co1.CO.e', 14, None, None, None, 'co12006.T02', None),
 ('co1.CO.e', 16, None, 'co12004.T02', None, None, None),
 ('co1.CO.f', 11, None, 'co12005.T03', None, None, None),
 ('co1.CO.f', 14, None, 'co12004.T06', None, None, None),
 ('co1.CO.f', 16, 'co12006.T03', None, None, None, None),
 ('co1.CO.h', 11, None, 'co12005.T03', None, None, None),
 ('co1.CO.h', 14, None, 'co12004.T06', None, None, None),
 ('co1.CO.h', 16, 'co12006.T03', None, None, None, None),
 ('co1.CO.i', 12, 'co12006.T04', None, None, None, None),
 ('co1.CO.i', 14, None, 'co12004.T03', None, None, None),
 ('co1.CO.i', 15, None, None, 'co12005.T04', None, None),
 ('co1.CO.j', 12, 'co12006.T04', None, None, None, None),
 ('co1.CO.j', 14, None, 'co12004.T03', None, None, None),
 ('co1.CO.j', 15, None, None, 'co12005.T04', None, None),
 ('co1.IS', 11, None, None, 'co12004.L01', None, None),
 ('co1.IS.a', 14, None, None, 'co12004.T04', None, None),
 ('co1.IS.b', 14, None, None, 'co12004.T04', None, None),
 ('co1.SE.pt', 10, 'co12006.T05', None, None, None, None),
 ('co1.SE.pt', 12, 'co12004.T01', None, None, None, None),
 ('co1.SE.pt', 14, 'co12005.L01', None, None, None, None),
 ('co1.SE.pt', 16, 'co12005.T05', None, None, None, None),
 ('co1.SE.pt', 17, 'co12004.L02', None, None, None, None),
 ('co2.CO', 10, 'co22007.L01', None, None, None, None),
 ('co2.CO', 13, None, None, None, 'co22005.L01', None),
 ('co2.CO', 16, None, None, None, None, 'co22006.L01'),
 ('co2.CO.a', 9, None, None, None, None, 'co22005.T05'),
 ('co2.CO.a', 12, None, None, None, None, 'co22007.T01'),
 ('co2.CO.a', 14, 'co22006.T01', None, None, 'co22005.T01', None),
 ('co2.CO.b', 9, None, None, None, None, 'co22005.T05'),
 ('co2.CO.b', 14, 'co22007.T02', None, None, 'co22005.T01', None),
 ('co2.CO.b', 16, 'co22006.T02', None, None, None, None),
 ('co2.CO.c', 11, None, 'co22007.T03', 'co22005.T06', None, None),
 ('co2.CO.c', 13, None, None, 'co22005.T02', None, None),
 ('co2.CO.c', 16, 'co22006.T03', None, None, None, None),
 ('co2.CO.d', 11, None, None, 'co22005.T06', None, None),
 ('co2.CO.d', 13, None, None, 'co22005.T02', None, None),
 ('co2.CO.d', 16, None, 'co22007.T04', 'co22006.T04', None, None),
 ('co2.CO.e', 10, None, None, None, None, 'co22005.T10'),
 ('co2.CO.e', 12, None, None, None, None, 'co22007.T01'),
 ('co2.CO.e', 14, 'co22006.T01', None, None, None, None),
 ('co2.CO.e', 16, None, None, None, 'co22005.T09', None),
 ('co2.CO.i', 11, None, None, 'co22005.T03', None, None),
 ('co2.CO.i', 13, None, None, 'co22009.L01', None, None),
 ('co2.CO.i', 14, 'co22007.T02', None, 'co22005.T07', None, None),
 ('co2.CO.i', 16, 'co22006.T02', None, 'co22009.T01', None, None),
 ('co2.CO.j', 11, None, 'co22007.T03', 'co22005.T03', None, None),
 ('co2.CO.j', 13, None, None, 'co22009.L01', None, None),
 ('co2.CO.j', 14, None, None, 'co22005.T07', None, None),
 ('co2.CO.j', 16, 'co22006.T03', None, 'co22009.T01', None, None),
 ('co2.CO.k', 9, None, 'co22005.T04', None, None, None),
 ('co2.CO.k', 11, None, 'co22005.T08', None, None, None),
 ('co2.CO.k', 13, None, None, 'co22009.L01', None, None),
 ('co2.CO.k', 16, None, 'co22007.T04', 'co22006.T04', None, None),
 ('co2.IS', 9, None, 'co22005.T04', None, None, None),
 ('co2.IS', 10, 'co22007.L01', None, None, None, None),
 ('co2.IS', 11, None, 'co22005.T08', None, None, None),
 ('co2.IS', 13, None, None, None, 'co22005.L01', None),
 ('co2.IS', 15, None, None, None, 'co22007.T06', None),
 ('co2.NT.Ea', 13, None, None, None, 'co22020.T01', None),
 ('co2.NT.Ea', 14, None, None, None, None, 'co22020.L01'),
 ('co2.NT.Eb', 14, None, None, None, None, 'co22020.L01'),
 ('co2.NT.Eb', 16, None, None, None, None, 'co22020.T02'),
 ('co2.NT.Ec', 14, None, 'co22020.T03', None, None, 'co22020.L01'),
 ('co2.NT.Ed', 12, None, None, None, None, 'co22020.T04'),
 ('co2.NT.Ed', 14, None, None, None, None, 'co22020.L01'),
 ('co2.NT.Ee', 10, None, None, None, None, 'co22020.T05'),
 ('co2.NT.Ee', 14, None, None, None, None, 'co22020.L01'),
 ('co2.SE.pt', 10, None, None, None, 'co12006.L02', None),
 ('co2.SE.pt', 13, None, None, None, 'co22005.L01', None),
 ('co2.SE.pt', 15, None, None, None, 'co12006.T06', None),
 ('co2.SE.pt', 16, None, None, None, 'co22005.T09', None),
 ('co2.SE.pt', 17, None, None, None, 'co22007.T05', None),
 ('co3.CO', 9, None, None, 'co32014.T01', None, None),
 ('co3.CO', 11, None, None, None, 'co32011.L01', None),
 ('co3.CO', 12, None, 'co32016.L01', None, 'co32011.T01', None),
 ('co3.CO', 13, None, None, None, 'co32011.L02', None),
 ('co3.CO', 15, None, 'co32014.L01', None, None, None),
 ('co3.DMM', 9, None, None, 'co32021.L01', None, None),
 ('co3.DMM', 10, 'co22007.L01', 'co32018.L01', None, None, None),
 ('co3.DMM', 12, None, None, None, 'co32005.T05', None),
 ('co3.DMM', 13, None, None, None, None, 'co32018.T01'),
 ('co3.DMM', 15, None, None, None, 'co22007.T06', None),
 ('co3.DMM', 16, None, None, None, None, 'co32005.L01'),
 ('co3.DNC', 9, None, None, 'co32021.L01', None, None),
 ('co3.DNC', 10, None, 'co32018.L01', 'co32005.T04', None, None),
 ('co3.DNC', 11, None, None, None, None, 'co32003.T01'),
 ('co3.DNC', 13, None, None, None, None, 'co32018.T01'),
 ('co3.DNC', 14, None, 'co32003.L01', None, None, None),
 ('co3.DNC', 16, None, None, None, None, 'co32005.L01'),
 ('co3.DST', 9, None, None, 'co32021.L01', None, None),
 ('co3.DST', 10, None, 'co32018.L01', None, None, None),
 ('co3.DST', 12, 'co32023.L01', None, 'co32023.T01', 'co32005.T05', None),
 ('co3.DST', 13, None, None, None, None, 'co32018.T01'),
 ('co3.DST', 16, None, None, None, None, 'co32005.L01'),
 ('co3.MM', 11, None, 'co32011.T03', None, 'co32011.L01', None),
 ('co3.MM', 12, None, 'co32016.L01', None, None, None),
 ('co3.MM', 13, None, None, None, 'co32011.L02', None),
 ('co3.MM', 15, None, 'co32014.L01', None, None, None),
 ('co3.MM', 16, None, 'co32014.T03', None, None, None),
 ('co3.ND', 9, None, None, 'co32014.T01', None, None),
 ('co3.ND', 10, None, 'co32011.T02', None, None, None),
 ('co3.ND', 11, None, None, None, 'co32011.L01', None),
 ('co3.ND', 12, None, 'co32016.L01', None, None, None),
 ('co3.ND', 13, None, None, None, 'co32011.L02', None),
 ('co3.ND', 15, None, 'co32014.L01', None, None, None),
 ('co3.SE', 10, None, 'co32011.T02', None, None, None),
 ('co3.SE', 11, None, None, None, 'co32011.L01', None),
 ('co3.SE', 12, None, 'co32016.L01', None, None, None),
 ('co3.SE', 13, None, None, None, 'co32011.L02', None),
 ('co3.SE', 15, None, 'co32014.L01', None, None, None),
 ('co3.SE', 16, 'co32014.T02', None, None, None, None),
 ('co3.SE.pt', 10, None, None, None, 'co22006.L02', None),
 ('co3.SE.pt', 11, None, None, None, 'co32011.L01', None),
 ('co3.SE.pt', 12, None, None, None, 'co32011.T01', None),
 ('co3.SE.pt', 13, None, None, None, 'co32011.L02', None),
 ('co3.SE.pt', 15, None, None, None, 'co22006.L03', None),
 ('co3.SE.pt', 17, None, None, None, 'co22007.T05', None),
 ('co4.CO', 13, None, None, None, None, 'co42009.T01'),
 ('co4.CO', 14, None, 'co32015.L01', None, None, 'co32015.T01'),
 ('co4.CO', 15, 'co42009.L01', None, None, None, None),
 ('co4.CO', 16, None, None, None, 'co42010.L01', 'co42019.L01'),
 ('co4.CO', 17, None, None, None, 'co42010.T02', None),
 ('co4.DNC', 9, None, None, 'co32014.T01', None, None),
 ('co4.DNC', 11, None, 'co42005.L01', None, 'co42022.T01', None),
 ('co4.DNC', 14, None, None, None, 'co42022.L01', None),
 ('co4.DNC', 15, None, 'co32014.L01', None, 'co42005.T01', None),
 ('co4.DNC', 16, None, None, None, None, 'co42019.L01'),
 ('co4.IS', 11, None, 'co42005.L01', None, None, None),
 ('co4.IS', 15, None, None, None, 'co42005.T01', None),
 ('co4.IS', 16, None, None, None, None, 'co42019.L01'),
 ('co4.MM', 11, None, 'co42005.L01', None, None, None),
 ('co4.MM', 13, None, 'co42002.T01', None, None, None),
 ('co4.MM', 15, None, None, 'co42001.L01', 'co42005.T01', None),
 ('co4.MM', 16, None, 'co42002.L01', None, 'co42001.T01', 'co42019.L01'),
 ('co4.ND', 10, None, None, None, 'co42015.T01', None),
 ('co4.ND', 13, None, None, None, None, 'co42009.T01'),
 ('co4.ND', 15, 'co42009.L01', None, 'co42001.L01', None, None),
 ('co4.ND', 16, None, None, None, 'co42001.T01', 'co42019.L01'),
 ('co4.ND', 17, None, 'co42015.L01', None, None, None),
 ('co4.SE', 10, None, None, None, 'co42013.L01', None),
 ('co4.SE', 11, None, None, None, 'co42013.T01', None),
 ('co4.SE', 12, None, 'co42010.T01', None, None, None),
 ('co4.SE', 16, None, None, None, 'co42010.L01', 'co42019.L01'),
 ('co4.SE.pt', 12, None, 'co32016.L01', None, None, None),
 ('co4.SE.pt', 15, None, 'co32014.L01', None, None, None),
 ('co4.SE.pt', 16, None, 'co32014.T03', None, None, None),
 ('co5.SE.pt', 10, None, None, None, 'co42013.L01', None),
 ('co5.SE.pt', 11, None, None, None, 'co42013.T01', None),
 ('co5.SE.pt', 16, None, None, None, 'co42010.L01', None),
 ('co5.SE.pt', 17, None, None, None, 'co42010.T02', None),
 ('coh.HND1', 9, None, None, None, None, 'coh8412615.L01'),
 ('coh.HND1', 12, None, None, 'coh8412585.L01', None, 'coh8412635.L02'),
 ('coh.HND1', 14, None, None, None, 'coh8412635.L01', None),
 ('coh.HND1', 15, None, None, 'coh8412605.L01', None, None),
 ('coh.HND1', 17, None, None, None, 'coh8560095.L01', None),
 ('coh.HND1a', 11, None, 'coh8412635.T04', None, None, None),
 ('coh.HND1a', 15, None, 'coh8412615.T04', None, None, None),
 ('coh.HND1a', 16, 'coh8412635.T01', None, None, 'coh8560095.T01', 'coh8412615.T01'),
 ('coh.HND1a', 17, None, None, 'coh8412605.T01', None, None),
 ('coh.HND1b', 11, None, None, None, None, 'coh8412635.T02'),
 ('coh.HND1b', 12, None, None, None, 'coh8560095.T02', None),
 ('coh.HND1b', 15, 'coh8412585.T02', None, None, None, None),
 ('coh.HND1b', 16, None, 'coh8412605.T02', None, 'coh8412615.T02', 'coh8412635.T05'),
 ('coh.HND1b', 17, None, None, 'coh8412615.T05', None, None),
 ('coh.HND1c', 10, None, 'coh8412585.T03', None, None, None),
 ('coh.HND1c', 11, None, None, 'coh8560095.T03', None, None),
 ('coh.HND1c', 12, None, 'coh8412615.T03', None, 'coh8412635.T03', None),
 ('coh.HND1c', 15, None, None, None, None, 'coh8412605.T03'),
 ('coh.HND1c', 17, 'coh8412615.T06', None, None, None, None),
 ('coh.HND2', 9, 'coh6412255.L01', None, 'coh8412555.L01', 'coh8412555.L02', None),
 ('coh.HND2', 10, None, 'coh8412555.T02', None, None, None),
 ('coh.HND2', 11, None, None, None, 'coh8521005.L01', None),
 ('coh.HND2', 12, 'coh8412575.T02', None, 'coh8412575.L01', None, None),
 ('coh.HND2', 15, None, 'coh8412575.T01', None, None, None),
 ('coh.HND2', 16, None, None, 'coh6412255.T01', None, None),
 ('coh.HND2', 17, None, None, None, 'coh8412555.T01', None),
 ('coh.HND2a', 14, None, None, None, None, 'coh8521005.T01'),
 ('coh.HND2b', 11, None, None, None, None, 'coh8521005.T02'),
 ('com.IS', 10, None, None, None, 'co72012.L01', None),
 ('com.IS', 15, None, None, 'co72013.L01', None, None),
 ('com.IS.a', 9, None, None, 'co72013.T01', None, None),
 ('com.IS.a', 12, None, None, 'co72012.T02', None, None),
 ('com.IS.a', 15, None, 'co72033.L01', None, None, None),
 ('com.IS.a', 16, None, 'co72033.T01', None, None, None),
 ('com.IS.b', 9, None, 'co72016.T01', 'co72013.T01', None, None),
 ('com.IS.b', 11, None, 'co72016.L01', None, None, None),
 ('com.IS.b', 12, None, None, 'co72012.T02', None, None),
 ('com.IS.d', 12, None, 'co72013.T02', None, None, 'co72012.T01'),
 ('com.IS.e', 11, None, 'co72017.L01', None, None, 'co72017.T01'),
 ('com.IS.e', 12, None, None, None, 'co72012.T03', None),
 ('com.IS.e', 13, None, None, 'co72013.T06', None, None),
 ('com.IS.th', 10, None, None, None, 'co72012.L01', None),
 ('com.IS.th', 12, None, None, None, 'co72012.T03', None),
 ('com.IS.tu', 10, None, 'co72013.L02', None, None, None),
 ('com.IS.tu', 11, None, 'co72013.T03', None, None, None),
 ('com.IS.tu', 15, None, 'co72033.L01', None, None, None),
 ('com.IS.tu', 16, None, 'co72033.T01', None, None, None),
 ('com.ITFS', 11, 'co72002.L01', None, None, None, None),
 ('com.ITFS', 12, 'co72002.T01', None, None, None, None),
 ('com.ITFS', 15, 'co72003.L01', None, None, None, None),
 ('com.ITeC', 13, 'co72026.T01', None, None, None, None),
 ('com.ITeC', 16, 'co72026.L01', None, None, None, None),
 ('com.ITeC.feb', 11, None, None, None, 'co72023.T03', None),
 ('com.ITeC.feb', 12, None, 'co72013.T02', None, None, None),
 ('com.ITeC.feb', 13, None, None, None, None, 'co72011.T09'),
 ('com.ITeC.feb', 15, None, None, 'co72013.L01', None, None),
 ('com.ITeC.feb', 16, 'co72011.L01', None, None, None, None),
 ('com.ITeC.pt2', 17, None, None, None, None, 'co72023.T05'),
 ('com.ITeC.z1', 19, None, 'co72023.L02', None, None, None),
 ('com.ITeC.z1', 20, None, 'co72023.T06', None, None, None),
 ('com.ITeC.z2', 19, None, 'co72023.L02', None, None, None),
 ('com.ITeC.z2', 20, None, 'co72023.T06', None, None, None),
 ('com.ITeC.z3', 19, None, 'co72026.L02', None, None, None),
 ('com.MM', 16, 'co72011.L01', None, None, None, None),
 ('com.MM.a', 9, None, None, None, None, 'co72011.T01'),
 ('com.MM.a', 14, None, None, None, 'co72023.T01', None),
 ('com.MM.b', 13, 'co72011.T02', None, None, None, None),
 ('com.MM.b', 16, None, None, None, 'co72023.T02', None),
 ('com.MM.c', 11, None, None, None, 'co72023.T03', None),
 ('com.MM.c', 13, None, None, None, 'co72011.T03', None),
 ('com.MM.d', 14, 'co72011.T04', None, None, None, None),
 ('com.MM.d', 16, None, None, None, None, 'co72023.T04'),
 ('com.MM.feb', 10, None, None, 'co72006.L01', None, None),
 ('com.MM.feb', 12, None, None, 'co72006.T01', None, None),
 ('com.MM.feb', 14, None, None, None, 'co72004.L01', None),
 ('com.MM.feb', 15, None, None, None, 'co72004.T01', None),
 ('com.MM.pt2', 14, 'co72011.T04', None, None, None, None),
 ('com.MM.pt2', 16, 'co72011.L01', None, None, None, 'co72023.T04'),
 ('com.MM.pt3', 10, None, None, 'co72006.L01', None, None),
 ('com.MM.pt3', 12, None, None, 'co72006.T01', None, None),
 ('com.MM.pt3', 14, None, None, None, 'co72004.L01', None),
 ('com.MM.pt3', 15, None, None, None, 'co72004.T01', None),
 ('com.SE', 10, None, None, None, 'co72013.T05', None),
 ('com.SE', 12, 'co72018.T02', None, None, 'co72018.L01', None),
 ('com.SE', 14, None, 'co72021.L01', None, None, None),
 ('com.SE', 15, None, None, 'co72013.L01', None, None),
 ('com.SE.th', 10, None, None, None, 'co72018.T01', None),
 ('com.SE.th', 12, None, None, None, 'co72018.L01', None),
 ('com.ST', 10, None, None, None, 'co72018.T01', None),
 ('com.ST', 12, None, None, None, 'co72018.L01', None),
 ('com.ST', 15, None, None, 'co72013.L01', None, None),
 ('com.ST', 16, None, None, 'co72013.T04', None, None),
 ('com.ST.a', 15, None, 'co72033.L01', None, None, None),
 ('com.ST.a', 16, None, 'co72033.T01', None, None, None),
 ('com.ST.b', 9, None, 'co72016.T01', None, None, None),
 ('com.ST.b', 11, None, 'co72016.L01', None, None, None),
 ('com.ST.th', 10, None, None, None, 'co72018.T01', None),
 ('com.ST.th', 12, None, None, None, 'co72018.L01', None),
 ('com.ST.tu', 10, None, 'co72013.L02', None, None, None),
 ('com.ST.tu', 11, None, 'co72013.T03', None, None, None),
 ('com.ST.tu', 15, None, 'co72033.L01', None, None, None),
 ('com.ST.tu', 16, None, 'co72033.T01', None, None, None)]