# Congestion Charges - Medium

In [1]:
# Prerequesites
from pyhive import hive
%load_ext sql
%sql hive://cloudera@quickstart.cloudera:10000/sqlzoo
%config SqlMagic.displaylimit = 20

 ·········

## 1.
List the owners (name and address) of Vehicles caught by camera 1 or 18 without duplication.

In [2]:
%%sql
SELECT DISTINCT name, address
  FROM keeper JOIN vehicle ON (keeper.id=vehicle.keeper) JOIN
    image ON (image.reg=vehicle.id)
    WHERE camera IN (1, 18);

 * postgresql://postgres:***@localhost/sqlzoo
3 rows affected.

[('Ambiguous, Arthur', 'Absorption Ave.'),
 ('Inconspicuous, Iain', 'Interception Rd.'),
 ('Strenuous, Sam', 'Surjection Street')]

## 2.
Show keepers (name and address) who have more than 5 vehicles.

In [3]:
%%sql
SELECT DISTINCT name, address
  FROM keeper JOIN vehicle ON (keeper.id=vehicle.keeper)
    GROUP BY keeper.id
    HAVING COUNT(*)>5;

 * postgresql://postgres:***@localhost/sqlzoo
2 rows affected.

[('Ambiguous, Arthur', 'Absorption Ave.'),
 ('Inconspicuous, Iain', 'Interception Rd.')]

## 3.
For each vehicle show the number of current permits (suppose today is the 1st of Feb 2007). The list should include the vehicle.s registration and the number of permits. Current permits can be determined based on charge types, e.g. for weekly permit you can use the date after 24 Jan 2007 and before 02 Feb 2007.

In [4]:
%%sql
WITH t AS (
  SELECT reg, sdate, 
    CASE WHEN chargetype='Daily' THEN sdate+INTERVAL '1d'
        WHEN chargetype='Weekly' THEN sdate+INTERVAL '1 week'
        WHEN chargetype='Monthly' THEN sdate+INTERVAL '1 month'
        WHEN chargetype='Annual' THEN sdate+INTERVAL '1 year'
      END AS edate
      FROM permit
)
SELECT reg, COUNT(*) n_permit
  FROM t
    WHERE '2007-2-1'::date BETWEEN sdate AND edate
    GROUP BY reg
    ORDER BY reg;

 * postgresql://postgres:***@localhost/sqlzoo
7 rows affected.

[('SO 02 DSP', 1),
 ('SO 02 DTP', 1),
 ('SO 02 JSP', 1),
 ('SO 02 KSP', 1),
 ('SO 02 KTP', 1),
 ('SO 02 QSP', 1),
 ('SO 02 RSP', 1)]

## 4.
Obtain a list of every vehicle passing camera 10 on 25th Feb 2007. Show the time, the registration and the name of the keeper if available.

In [5]:
%%sql
SELECT reg, whn, name keeper
  FROM vehicle JOIN keeper ON (vehicle.keeper=keeper.id) JOIN
    image ON (vehicle.id=image.reg)
    WHERE whn::DATE='2007-2-25'::DATE AND camera=10;

 * postgresql://postgres:***@localhost/sqlzoo
2 rows affected.

[('SO 02 CSP', datetime.datetime(2007, 2, 25, 7, 45, 11), 'Ambiguous, Arthur'),
 ('SO 02 ESP', datetime.datetime(2007, 2, 25, 18, 8, 40), 'Ambiguous, Arthur')]

## 5.
List the keepers who have more than 4 vehicles and one of them must have more than 2 permits. The list should include the names and the number of vehicles.

In [6]:
%%sql
WITH t AS (
    -- keepers who have more than 2 permits
    SELECT keeper FROM vehicle
      WHERE id IN (
        SELECT reg FROM permit
          GROUP BY reg
          HAVING COUNT(*)>2)
)
SELECT keeper.name, COUNT(*) n_vehicle
  FROM vehicle JOIN keeper ON (vehicle.keeper=keeper.id)
    WHERE keeper.id IN (
        SELECT keeper FROM t)
    GROUP BY keeper.name
    HAVING COUNT(*)>4;

 * postgresql://postgres:***@localhost/sqlzoo
1 rows affected.

[('Inconspicuous, Iain', 7)]