# 在JupyterLab中运行Python

1. 需要用到[`pandas`](https://pandas.pydata.org/)、[`SQLAlchemy`](https://www.sqlalchemy.org)包。此外，本实验采用PostgreSQL，需要[`psycopg2`](https://pypi.org/project/psycopg2/)包。在Anaconda环境下安装即可：
    ```bash
    conda install pandas sqlalchemy psycopg2
    ```
1. 启动数据库`localhost/sqlzoo`。
1. 通过`sqlalchemy`形式的DB URI连接sqlzoo数据库。
> macOS Mojave不能安装`mysql-python`，只能装`pymysql`。因此，如果用MySQL的话，URI要写成`mysql+pymysq://...`。

In [1]:
import getpass
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
pwd = getpass.getpass()
engine = create_engine(
    'postgresql+psycopg2://postgres:%s@localhost/sqlzoo' % (pwd))

 ····

可以针对`pandas`做一些设置，比如将长度显示行数的上限为10：

In [2]:
pd.set_option('display.max_rows', 10)

## 示例

In [3]:
pd.read_sql_table('world', engine)

,name,continent,area,population,gdp,capital,tld,flag
0,Afghanistan,Asia,652230.0,25500100.0,2.036400e+10,Kabul,.af,//upload.wikimedia.org/wikipedia/commons/9/9a/...
1,Albania,Europe,28748.0,2821977.0,1.204400e+10,Tirana,.al,//upload.wikimedia.org/wikipedia/commons/3/36/...
2,Algeria,Africa,2381741.0,38700000.0,2.070210e+11,Algiers,.dz,//upload.wikimedia.org/wikipedia/commons/7/77/...
3,Andorra,Europe,468.0,76098.0,3.222000e+09,Andorra la Vella,.ad,//upload.wikimedia.org/wikipedia/commons/1/19/...
4,Angola,Africa,1246700.0,19183590.0,1.163080e+11,Luanda,.ao,//upload.wikimedia.org/wikipedia/commons/9/9d/...
...,...,...,...,...,...,...,...,...
190,Venezuela,South America,916445.0,28946101.0,3.824240e+11,Caracas,.ve,//upload.wikimedia.org/wikipedia/commons/0/06/...
191,Vietnam,Asia,331212.0,89708900.0,1.558200e+11,Hanoi,.vn,//upload.wikimedia.org/wikipedia/commons/2/21/...
192,Yemen,Asia,527968.0,25235000.0,3.283100e+10,Sana‘a,.ye,//upload.wikimedia.org/wikipedia/commons/8/89/...
193,Zambia,Africa,752612.0,15023315.0,2.149000e+10,Lusaka,.zm,//upload.wikimedia.org/wikipedia/commons/0/06/...
194,Zimbabwe,Africa,390757.0,13061239.0,9.802000e+09,Harare,.zw,//upload.wikimedia.org/wikipedia/commons/6/6a/...

`world`表一共195行，但由于`pandas`全局设置了`display.max_rows`，默认只显示了前10行。