# SELECT basics

In [1]:
import getpass
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
pwd = getpass.getpass()
engine = create_engine(
    'postgresql+psycopg2://postgres:%s@localhost/sqlzoo' % (pwd))

 路路路路

## 1. Introducing the `world` table of countries

The example uses a WHERE clause to show the population of 'France'. Note that strings (pieces of text that are data) should be in 'single quotes';

**Modify it to show the population of Germany**

In [2]:
world = pd.read_sql_table('world', engine)

In [3]:
world.loc[world['name']=='Germany', ['population']]

    population
63  80716000.0

## 2. Scandinavia

Checking a list The word **IN** allows us to check if an item is in a list. The example shows the name and population for the countries 'Brazil', 'Russia', 'India' and 'China'.

**Show the name and the population for 'Sweden', 'Norway' and 'Denmark'.**

In [4]:
world.loc[world['name'].isin(['Sweden', 'Norway', 'Denmark']),
          ['name', 'population']]

        name  population
46   Denmark   5634437.0
127   Norway   5124383.0
166   Sweden   9675885.0

## 3. Just the right size

Which countries are not too small and not too big? `BETWEEN` allows range checking (range specified is inclusive of boundary values). The example below shows countries with an area of 250,000-300,000 sq. km. Modify it to show the country and the area for countries with an area between 200,000 and 250,000.

In [5]:
world.loc[world['area'].between(200000, 250000), 
          ['name', 'area']]

               name      area
15          Belarus  207600.0
64            Ghana  238533.0
68           Guinea  245857.0
70           Guyana  214969.0
90             Laos  236800.0
139         Romania  238391.0
181          Uganda  241550.0
184  United Kingdom  242900.0