# SUM and COUNT

In [1]:
import getpass
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
pwd = getpass.getpass()
engine = create_engine(
    'postgresql+psycopg2://postgres:%s@localhost/sqlzoo' % (pwd))
pd.set_option('display.max_rows', 100)

 路路路路

## 1. Total world population

Show the total population of the world.

```
world(name, continent, area, population, gdp)
```

In [2]:
world = pd.read_sql_table('world', engine)

In [3]:
sum(world['population'])

7615648652.0

## 2. List of continents

List all the continents - just once each.

In [4]:
world[['continent']].drop_duplicates()

                        continent
0                            Asia
1                          Europe
2                          Africa
5                       Caribbean
6                   South America
7                         Eurasia
8                         Oceania
17                  North America
110   Federated States of,Oceania

## 3. GDP of Africa

Give the total GDP of Africa

In [5]:
world.loc[world['continent']=='Africa', 'gdp'].sum()

1964824000000.0

## 4. Count the big countries

How many countries have an **area** of at least 1000000

In [6]:
world.loc[world['area']>1e6, 'name'].count()

29

## 5. Baltic states population

What is the total **population** of ('Estonia', 'Latvia', 'Lithuania')

In [7]:
world.loc[world['name'].isin(['Estonia', 'Latvia', 'Lithuania']), 'population'].sum()

6028631.0

## 6. Counting the countries of each continent

For each **continent** show the **continent** and number of countries.

> _Using GROUP BY and HAVING_   
> You may want to look at these examples: [Using GROUP BY and HAVING](https://sqlzoo.net/wiki/Using_GROUP_BY_and_HAVING.).

In [8]:
pd.DataFrame(world.groupby('continent')['name'].count())

                              name
continent
 Federated States of,Oceania     1
Africa                          53
Asia                            47
Caribbean                       11
Eurasia                          2
Europe                          44
North America                   11
Oceania                         13
South America                   13

## 7. Counting big countries in each continent

For each **continent** show the **continent** and number of countries with populations of at least 10 million.

In [9]:
world.loc[world['population']>=1e7, ['continent', 'name']].groupby('continent').count()

               name
continent
Africa           31
Asia             28
Caribbean         3
Eurasia           1
Europe           15
North America     4
Oceania           1
South America     8

## 8. Counting big continents

List the continents that **have** a total population of at least 100 million.

In [10]:
bm = world.groupby('continent')['population'].sum()
pd.DataFrame(bm.index[bm>=1e8])

       continent
0         Africa
1           Asia
2        Eurasia
3         Europe
4  North America
5  South America