# More JOIN operations

![rel](https://sqlzoo.net/w/images/1/10/Movie-er.png)

In [1]:
import $ivy.`org.apache.spark::spark-sql:3.4.0`

import org.apache.log4j.{Level, Logger}
Logger.getLogger("org").setLevel(Level.OFF)

import org.apache.spark._
import org.apache.spark.sql._
import org.apache.spark.sql.functions._

val spark = {
    NotebookSparkSession.builder()
    .progress(false)
    .appName("app07")
    // .master("spark://192.168.31.31:7077")
    .master("local[*]")
    .config("spark.sql.warehouse.dir", 
            "hdfs://192.168.31.31:9000/user/hive/warehouse") 
    .config("spark.cores.max", "4") 
    .config("spark.executor.instances", "1") 
    .config("spark.executor.cores", "2") 
    .config("spark.executor.memory", "10g") 
    .config("spark.shuffle.service.enabled", "false") 
    .config("spark.dynamicAllocation.enabled", "false") 
    .config("spark.sql.catalogImplementation", "hive")
    .config("spark.sql.repl.eagerEval.enabled", "true")
    .config("spark.driver.allowMultipleContexts", "true")
    .getOrCreate()
}

Loading spark-stubs, spark-hive
Adding Hive conf dir /opt/hive/conf to classpath
Creating SparkSession

SLF4J: No SLF4J providers were found.
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See https://www.slf4j.org/codes.html#noProviders for further details.

import $ivy.$


import org.apache.log4j.{Level, Logger}

import org.apache.spark._

import org.apache.spark.sql._

import org.apache.spark.sql.functions._


spark: SparkSession = org.apache.spark.sql.SparkSession@21af06b6

In [2]:
import spark.implicits._
def sc = spark.sparkContext
val hiveCxt = new org.apache.spark.sql.hive.HiveContext(sc)

import spark.implicits._

defined function sc
hiveCxt: sql.hive.HiveContext = org.apache.spark.sql.hive.HiveContext@5545b746

In [3]:
// Credit to Aivean
implicit class RichDF(val ds:DataFrame) {
    def showHTML(limit: Int = 50, truncate: Int = 100) = {
        import xml.Utility.escape
        val data = ds.take(limit)
        val header = ds.schema.fieldNames.toSeq        
        val rows: Seq[Seq[String]] = data.map { row =>
          row.toSeq.map {cell =>
            val str = cell match {
              case null => "null"
              case binary: Array[Byte] => binary.map("%02X".format(_)).mkString("[", " ", "]")
              case array: Array[_] => array.mkString("[", ", ", "]")
              case seq: Seq[_] => seq.mkString("[", ", ", "]")
              case _ => cell.toString
            }
            if (truncate > 0 && str.length > truncate) {
              // do not show ellipses for strings shorter than 4 characters.
              if (truncate < 4) str.substring(0, truncate)
              else str.substring(0, truncate - 3) + "..."
            } else {
              str
            }
          }: Seq[String]
        }
    publish.html(s""" <table>
                <tr>
                 ${header.map(h => s"<th>${escape(h)}</th>").mkString}
                </tr>
                ${rows.map {row =>
                  s"<tr>${row.map{c => s"<td>${escape(c)}</td>" }.mkString}</tr>"
                }.mkString}
            </table>
        """)
    }
}

defined class RichDF

In [4]:
val movie = hiveCxt.table("sqlzoo.movie")
val actor = hiveCxt.table("sqlzoo.actor")
val casting = hiveCxt.table("sqlzoo.casting")

movie: DataFrame = [id: int, title: string ... 4 more fields]
actor: DataFrame = [id: int, name: string]
casting: DataFrame = [movieid: int, actorid: int ... 1 more field]

## 1. 1962 movies

List the films where the **yr** is 1962 [Show **id, title**]

In [5]:
movie.filter(movie("yr")===1962).select("id", "title").showHTML()

id,title
10212,A Kind of Loving
10329,A Symposium on Popular Songs
10347,A Very Private Affair (Vie PrivÃ©e)
10648,An Autumn Afternoon
10868,Atraco a las tres
11006,Barabbas
11053,Battle Beyond the Sun (ÐÐµÐ±Ð¾ Ð·Ð¾Ð²ÐµÑ‚)
11199,Big and Little Wong Tin Bar
11230,Billy Budd
11234,Billy Rose's Jumbo
11242,Birdman of Alcatraz
11373,Boccaccio '70
11391,Bon Voyage!
11439,Boys' Night Out
11692,Cape Fear
11735,Carnival of Souls
11753,Carry On Cruising
12368,David and Lisa
12384,Days of Wine and Roses
12710,Dr. No
12817,L'Eclisse
12967,Tutti a casa
12992,Experiment in Terror
13010,Eyes Without a Face
13484,Gay Purr-ee
13534,Gigot
13641,Gorath
13727,Gypsy
13741,Half Ticket
13798,Harakiri
14317,In Search of the Castaways
14454,It's Only Money
14550,Jigsaw
14718,Kid Galahad
14860,La commare secca
14873,La notte
14972,Lawrence of Arabia
15088,Life for Ruth
15173,Lolita
15182,Long Day's Journey into Night
15247,Love at Twenty
15297,Lycanthropus
15397,Mamma Roma
15564,Merrill's Marauders
15752,Mother Joan of the Angels
15779,Mr. Hobbs Takes a Vacation
15840,Mutiny on the Bounty
16203,On the Beat
16295,Os Cafajestes
16367,Panic in Year Zero!

## 2. When was Citizen Kane released?

Give year of 'Citizen Kane'.

In [6]:
movie.filter(movie("title")==="Citizen Kane").select("yr").showHTML()

yr
1941

## 3. Star Trek movies

List all of the Star Trek movies, include the **id**, **title** and **yr** (all of these movies include the words Star Trek in the title). Order results by year.

In [7]:
(movie.filter(lower(movie("title")).contains("star trek"))
 .select("id", "title", "yr").showHTML())

id,title,yr
17770,Star Trek: First Contact,1996
17771,Star Trek: Insurrection,1998
17772,Star Trek: The Motion Picture,1979
17773,Star Trek,2009
17774,Star Trek Generations,1994
17775,Star Trek II: The Wrath of Khan,1982
17776,Star Trek III: The Search for Spock,1984
17777,Star Trek IV: The Voyage Home,1986
17778,Star Trek Nemesis,2002
17779,Star Trek V: The Final Frontier,1989
17780,Star Trek VI: The Undiscovered Country,1991

## 4. id for actor Glenn Close

What **id** number does the actor 'Glenn Close' have?

In [8]:
actor.filter(actor("name")==="Glenn Close").select("id").showHTML()

id
140

## 5. id for Casablanca

What is the **id** of the film 'Casablanca'

In [9]:
movie.filter(movie("title")==="Casablanca").select("id").showHTML()

id
11768

## 6. Cast list for Casablanca

Obtain the cast list for 'Casablanca'.

> _what is a cast list?_  
> The cast list is the names of the actors who were in the movie.

Use **movieid=11768**, (or whatever value you got from the previous question)

In [10]:
(casting.join(actor, casting("actorid")===actor("id"))
 .filter($"movieid"===11768)
 .select("name")
 .showHTML())

name
Peter Lorre
John Qualen
Madeleine LeBeau
Jack Benny
Dan Seymour
Norma Varden
Ingrid Bergman
Conrad Veidt
Leon Belasco
Humphrey Bogart
Sydney Greenstreet
Leonid Kinskey
Wolfgang Zilzer
Claude Rains
Curt Bois
Leo White
Ludwig StÃ¶ssel
Marcel Dalio
Paul Henreid
Joy Page
S. Z. Sakall
Dooley Wilson
William Edmunds
Gregory Gaye
Torben Meyer
Georges Renavent
Jean Del Val
Louis V. Arco
Trude Berliner
Ilka GrÃ¼nig
Richard Ryen
Hans Twardowski

## 7. Alien cast list

Obtain the cast list for the film 'Alien'

In [11]:
(movie.join(casting, movie("id")===casting("movieid"), joinType="right")
 .join(actor, col("actorid")===actor("id"), joinType="left")
 .filter($"title"==="Alien")
 .select("name")
 .showHTML())

name
John Hurt
Sigourney Weaver
Yaphet Kotto
Harry Dean Stanton
Ian Holm
Tom Skerritt
Veronica Cartwright

## 8. Harrison Ford movies

List the films in which 'Harrison Ford' has appeared

In [12]:
(movie.join(casting, movie("id")===casting("movieid"), joinType="right")
 .join(actor, col("actorid")===actor("id"), joinType="left")
 .filter($"name"==="Harrison Ford")
 .select("title")
 .showHTML())

title
A Hundred and One Nights
Air Force One
American Graffiti
Apocalypse Now
Clear and Present Danger
Cowboys & Aliens
Crossing Over
Dead Heat on a Merry-Go-Round
Extraordinary Measures
Firewall
Force 10 From Navarone
Hanover Street
Hawthorne of the U.S.A.
Hollywood Homicide
Indiana Jones and the Kingdom of the Crystal Skull
Indiana Jones and the Last Crusade
Indiana Jones and the Temple of Doom
Jimmy Hollywood
K-19: The Widowmaker
More American Graffiti
Morning Glory
Patriot Games
Presumed Innocent
Raiders of the Lost Ark
Random Hearts
Regarding Henry
Sabrina
Sally of the Sawdust
Shadows
Six Days Seven Nights
Smilin' Through
Star Wars Episode IV: A New Hope
Star Wars Episode V: The Empire Strikes Back
Star Wars Episode VI: Return of the Jedi
The Conversation
The Devil's Own
The Fugitive
The Mosquito Coast
null
What Lies Beneath
Witness
Working Girl

## 9. Harrison Ford as a supporting actor

List the films where 'Harrison Ford' has appeared - but not in the starring role. [Note: the ord field of casting gives the position of the actor. If ord=1 then this actor is in the starring role]

In [13]:
(movie.join(casting, movie("id")===casting("movieid"), joinType="right")
 .join(actor, col("actorid")===actor("id"), joinType="left")
 .filter(($"name"==="Harrison Ford") && ($"ord">1))
 .select("title")
 .showHTML())

title
A Hundred and One Nights
American Graffiti
Apocalypse Now
Cowboys & Aliens
Dead Heat on a Merry-Go-Round
Extraordinary Measures
Force 10 From Navarone
Hawthorne of the U.S.A.
Jimmy Hollywood
More American Graffiti
Morning Glory
Sally of the Sawdust
Shadows
Smilin' Through
Star Wars Episode IV: A New Hope
Star Wars Episode V: The Empire Strikes Back
Star Wars Episode VI: Return of the Jedi
The Conversation
Working Girl

## 10. Lead actors in 1962 movies

List the films together with the leading star for all 1962 films.

In [14]:
(movie.join(casting, movie("id")===casting("movieid"), joinType="right")
 .join(actor, col("actorid")===actor("id"), joinType="left")
 .filter(($"yr"===1962) && ($"ord"===1))
 .select("title", "name")
 .showHTML())

title,name
A Kind of Loving,Alan Bates
A Symposium on Popular Songs,Paul Frees
A Very Private Affair (Vie PrivÃ©e),Brigitte Bardot
An Autumn Afternoon,Chishu Ryu
Atraco a las tres,JosÃ© Luis LÃ³pez VÃ¡zquez
Barabbas,Anthony Quinn
Battle Beyond the Sun (ÐÐµÐ±Ð¾ Ð·Ð¾Ð²ÐµÑ‚),Aleksandr Shvorin
Big and Little Wong Tin Bar,Jackie Chan
Billy Budd,Terence Stamp
Billy Rose's Jumbo,Doris Day
Birdman of Alcatraz,Burt Lancaster
Boccaccio '70,Anita Ekberg
Bon Voyage!,Fred MacMurray
Boys' Night Out,Kim Novak
Cape Fear,Gregory Peck
Carnival of Souls,Candace Hilligoss
Carry On Cruising,Sid James
David and Lisa,Keir Dullea
Days of Wine and Roses,Jack Lemmon
Dr. No,Sean Connery
L'Eclisse,Alain Delon
Tutti a casa,Alberto Sordi
Experiment in Terror,Glenn Ford
Eyes Without a Face,Pierre Brasseur
Gay Purr-ee,Judy Garland
Gigot,Jackie Gleason
Gorath,Ryo Ikebe
Gypsy,Rosalind Russell
Half Ticket,Kishore Kumar
Harakiri,Tatsuya Nakadai
In Search of the Castaways,Hayley Mills
It's Only Money,Jerry Lewis
Jigsaw,Jack Warner
Kid Galahad,Elvis Presley
La commare secca,Marisa Solinas
La notte,Marcello Mastroianni
Life for Ruth,Michael Craig
Long Day's Journey into Night,Katharine Hepburn
Love at Twenty,Jean-Pierre LÃ©aud
Lycanthropus,Barbara Lass
Mamma Roma,Anna Magnani
Merrill's Marauders,null
Mother Joan of the Angels,Lucyna Winnicka
Mr. Hobbs Takes a Vacation,James Stewart
Mutiny on the Bounty,Marlon Brando
On the Beat,Norman Wisdom
Os Cafajestes,Daniel Filho
Panic in Year Zero!,Ray Milland
Period of Adjustment,Anthony Franciosa
Phaedra,Melina Mercouri

## 11. Busy years for Rock Hudson

Which were the busiest years for 'Rock Hudson', show the year and the number of movies he made each year for any year in which he made more than 2 movies.

In [15]:
(movie.join(casting, movie("id")===casting("movieid"), joinType="right")
 .join(actor, col("actorid")===actor("id"), joinType="left")
 .filter($"name"==="Rock Hudson")
 .select("yr", "title")
 .groupBy("yr")
 .count()
 .filter($"count" > 2)
 .showHTML())

yr,count
1961,3
1953,5

## 12. Lead actor in Julie Andrews movies

List the film title and the leading actor for all of the films 'Julie Andrews' played in.

> _Did you get "Little Miss Marker twice"?_   
> Julie Andrews starred in the 1980 remake of Little Miss Marker and not the original(1934).
>
> Title is not a unique field, create a table of IDs in your subquery

In [16]:
val b = (movie.join(casting, movie("id")===casting("movieid"), joinType="right")
         .join(actor, col("actorid")===actor("id"), joinType="left")
         .filter($"name"==="Julie Andrews")
         .select("movieid")
         .collect()
         .map(_(0))
         .toList)
(movie.join(casting, movie("id")===casting("movieid"), joinType="right")
 .join(actor, col("actorid")===actor("id"), joinType="left")
 .filter(($"movieid".isin(b: _*)) && ($"ord"===1))
 .select("title", "name")
 .showHTML())

title,name
10,Dudley Moore
Darling Lili,Julie Andrews
Despicable Me,Steve Carell
Duet for One,Julie Andrews
Hawaii,Julie Andrews
Little Miss Marker,Walter Matthau
Mary Poppins,Julie Andrews
Relative Values,Julie Andrews
Shrek the Third,Mike Myers
Star!,Julie Andrews
The Americanization of Emily,James Garner
The Pink Panther Strikes Again,Peter Sellers
The Princess Diaries,Anne Hathaway
The Princess Diaries 2: Royal Engagement,Anne Hathaway
null,Julie Andrews
The Tamarind Seed,Julie Andrews
Thoroughly Modern Millie,Julie Andrews
Tooth Fairy,Dwayne Johnson
Torn Curtain,Paul Newman
Victor Victoria,Julie Andrews

b: List[Any] = List(
  10016,
  12354,
  12497,
  12766,
  13846,
  15145,
  15476,
  16870,
  17445,
  17765,
  18270,
  20136,
  20136,
  20180,
  20181,
  20509,
  20627,
  21023,
  21154,
  21171,
  21483
)

## 13. Actors with 15 leading roles

Obtain a list, in alphabetical order, of actors who've had at least 15 **starring** roles.

In [17]:
(movie.join(casting, movie("id")===casting("movieid"), joinType="right")
 .join(actor, col("actorid")===actor("id"), joinType="left")
 .filter($"ord"===1)
 .groupBy("actorid", "name")
 .count()
 .filter($"count" >= 15)
 .filter(! isnull($"name"))
 .select("name")
 .orderBy("name")
 .showHTML())

name
Adam Sandler
Al Pacino
Anthony Hopkins
Antonio Banderas
Arnold Schwarzenegger
Barbara Stanwyck
Basil Rathbone
Ben Affleck
Bette Davis
Betty Grable
Bing Crosby
Bruce Willis
Bud Abbott
Burt Lancaster
Burt Reynolds
Buster Keaton
Cary Grant
Charles Bronson
Charlton Heston
Clark Gable
Claudette Colbert
Clint Eastwood
Dean Martin
Dennis Quaid
Denzel Washington
Dirk Bogarde
Dustin Hoffman
Edward G. Robinson
Elvis Presley
Errol Flynn
Frank Sinatra
Fred Astaire
Fredric March
Gary Cooper
Gene Hackman
George Clooney
Glenn Ford
Gregory Peck
Greta Garbo
Harrison Ford
Henry Fonda
Humphrey Bogart
Ingrid Bergman
Jack Lemmon
Jack Nicholson
Jackie Chan
James Cagney
James Mason
James Stewart
Jane Fonda

## 14.
List the films released in the year 1978 ordered by the number of actors in the cast, then by title.

In [18]:
(movie.join(casting, movie("id")===casting("movieid"), joinType="right")
 .join(actor, col("actorid")===actor("id"), joinType="left")
 .filter($"yr"===1978)
 .groupBy("title", "movieid")
 .count()
 .select("title", "count")
 .orderBy($"count".desc, $"title".asc)
 .showHTML())

title,count
The Bad News Bears Go to Japan,50
The Swarm,37
Grease,28
American Hot Wax,27
The Boys from Brazil,26
Heaven Can Wait,25
Big Wednesday,21
A Night Full of Rain,19
A Wedding,19
Orchestra Rehearsal,19
The Cheap Detective,19
Go Tell the Spartans,18
Death on the Nile,17
Movie Movie,17
Superman,17
The Cat from Outer Space,17
The Driver,17
Blue Collar,16
Ice Castles,16
International Velvet,16
J.R.R. Tolkien's The Lord of the Rings,16
Alexandria... Why?,15
Bye Bye Monkey,15
Coming Home,15
David,15
Gray Lady Down,15
Occupation in 26 Pictures,15
Revenge of the Pink Panther,15
The Brink's Job,15
The Chant of Jimmie Blacksmith,15
The Water Babies,15
Violette NoziÃ¨re,15
Who'll Stop The Rain,15
Without Anesthesia,15
Bread and Chocolate,14
Closed Circuit,14
Damien: Omen II,14
I Wanna Hold Your Hand,14
The Empire of Passion,14
Almost Summer,13
An Unmarried Woman,13
Foul Play,13
Goin' South,13
The Left-Handed Woman,13
California Suite,12
Force 10 From Navarone,12
In Praise of Older Women,12
Jaws 2,12
Midnight Express,12
Piranha,12

## 15.

List all the people who have worked with 'Art Garfunkel'.

In [19]:
val a = (movie.join(casting, movie("id")===casting("movieid"), joinType="right")
         .join(actor, col("actorid")===actor("id"), joinType="left")
         .filter($"name"==="Art Garfunkel")
         .select("movieid"))
(movie.join(casting, movie("id")===casting("movieid"), joinType="right")
 .join(actor, col("actorid")===actor("id"), joinType="left")
 .filter($"name" !== "Art Garfunkel")
 .join(a, Seq("movieid"))
 .select("name")
 .orderBy("name")
 .showHTML())

name
Beverly Johnson
Bill Paxton
Breckin Meyer
Bruce Jay Friedman
Cecilie Thomsen
Cindy Crawford
Donald Trump
Elio Fiorucci
Ellen Albertini Dow
Frederique van der Wal
Georgina Grenville
Harris Yulin
Heather Matarazzo
Heidi Klum
Julian Sands
Kurtwood Smith
Lauren Hutton
Lorna Luft
Mark Ruffalo
Michael York
Mike Myers
Neve Campbell
Peter Bogdanovich
Robert DoQui
Ron Jeremy
Ryan Phillippe
Salma Hayek
Sela Ward
Sherilyn Fenn
Sherry Stringfield
Sheryl Crow
Skipp Sudduth
Stars on 54
Thelma Houston
Valerie Perrine
Veronica Webb

a: DataFrame = [movieid: int]

In [20]:
spark.stop()