# Window LAG

## COVID-19 Data
Notes on the data: This data was assembled based on work done by [Rodrigo Pombo](https://github.com/pomber/covid19) based on [John Hopkins University](https://systems.jhu.edu/research/public-health/ncov/), based on [World Health Organisation](https://www.who.int/health-topics/coronavirus). The data was assembled 21st April 2020 - there are no plans to keep this data set up to date.

In [1]:
import $ivy.`org.apache.spark::spark-sql:3.4.0`

import org.apache.log4j.{Level, Logger}
Logger.getLogger("org").setLevel(Level.OFF)

import org.apache.spark._
import org.apache.spark.sql._
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.sql.expressions.Window

val spark = {
    NotebookSparkSession.builder()
    .progress(false)
    .appName("app09+")
    // .master("spark://192.168.31.31:7077")
    .master("local[*]")
    .config("spark.sql.warehouse.dir", 
            "hdfs://192.168.31.31:9000/user/hive/warehouse") 
    .config("spark.cores.max", "4") 
    .config("spark.executor.instances", "1") 
    .config("spark.executor.cores", "2") 
    .config("spark.executor.memory", "10g") 
    .config("spark.shuffle.service.enabled", "false") 
    .config("spark.dynamicAllocation.enabled", "false") 
    .config("spark.sql.catalogImplementation", "hive")
    .config("spark.sql.repl.eagerEval.enabled", "true")
    .config("spark.driver.allowMultipleContexts", "true")
    .getOrCreate()
}

Loading spark-stubs, spark-hive
Adding Hive conf dir /opt/hive/conf to classpath
Creating SparkSession

SLF4J: No SLF4J providers were found.
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See https://www.slf4j.org/codes.html#noProviders for further details.

import $ivy.$


import org.apache.log4j.{Level, Logger}

import org.apache.spark._

import org.apache.spark.sql._

import org.apache.spark.sql.functions._

import org.apache.spark.sql.expressions.Window


spark: SparkSession = org.apache.spark.sql.SparkSession@3023096e

In [2]:
import spark.implicits._
def sc = spark.sparkContext
val hiveCxt = new org.apache.spark.sql.hive.HiveContext(sc)

import spark.implicits._

defined function sc
hiveCxt: sql.hive.HiveContext = org.apache.spark.sql.hive.HiveContext@193516e9

In [3]:
// Credit to Aivean
implicit class RichDF(val ds:DataFrame) {
    def showHTML(limit: Int = 50, truncate: Int = 100) = {
        import xml.Utility.escape
        val data = ds.take(limit)
        val header = ds.schema.fieldNames.toSeq        
        val rows: Seq[Seq[String]] = data.map { row =>
          row.toSeq.map {cell =>
            val str = cell match {
              case null => "null"
              case binary: Array[Byte] => binary.map("%02X".format(_)).mkString("[", " ", "]")
              case array: Array[_] => array.mkString("[", ", ", "]")
              case seq: Seq[_] => seq.mkString("[", ", ", "]")
              case _ => cell.toString
            }
            if (truncate > 0 && str.length > truncate) {
              // do not show ellipses for strings shorter than 4 characters.
              if (truncate < 4) str.substring(0, truncate)
              else str.substring(0, truncate - 3) + "..."
            } else {
              str
            }
          }: Seq[String]
        }
    publish.html(s""" <table>
                <tr>
                 ${header.map(h => s"<th>${escape(h)}</th>").mkString}
                </tr>
                ${rows.map {row =>
                  s"<tr>${row.map{c => s"<td>${escape(c)}</td>" }.mkString}</tr>"
                }.mkString}
            </table>
        """)
    }
}

defined class RichDF

In [4]:
val covid = hiveCxt.table("sqlzoo.covid")
val world = hiveCxt.table("sqlzoo.world")

covid: DataFrame = [name: string, whn: string ... 3 more fields]
world: DataFrame = [name: string, continent: string ... 6 more fields]

## Window Function
The SQL Window functions include LAG, LEAD, RANK and NTILE. These functions operate over a "window" of rows - typically these are rows in the table that are in some sense adjacent.

## 1. Introducing the `covid` table

The example uses a WHERE clause to show the cases in 'Italy' in March.

**Modify the query to show data from Spain**

In [5]:
(covid.withColumn("day", dayofmonth(covid("whn")))
    .filter((covid("name")==="Spain") && (month(covid("whn"))===3))
    .select("name", "day", "confirmed", "deaths", "recovered")
    .orderBy("day")
    .showHTML())

name,day,confirmed,deaths,recovered
Spain,1,84,0,2
Spain,2,120,0,2
Spain,3,165,1,2
Spain,4,222,2,2
Spain,5,259,3,2
Spain,6,400,5,2
Spain,7,500,10,30
Spain,8,673,17,30
Spain,9,1073,28,32
Spain,10,1695,35,32
Spain,11,2277,54,183
Spain,12,2277,55,183
Spain,13,5232,133,193
Spain,14,6391,195,517
Spain,15,7798,289,517
Spain,16,9942,342,530
Spain,17,11748,533,1028
Spain,18,13910,623,1081
Spain,19,17963,830,1107
Spain,20,20410,1043,1588
Spain,21,25374,1375,2125
Spain,22,28768,1772,2575
Spain,23,35136,2311,2575
Spain,24,39885,2808,3794
Spain,25,49515,3647,5367
Spain,26,57786,4365,7015
Spain,27,65719,5138,9357
Spain,28,73235,5982,12285
Spain,29,80110,6803,14709
Spain,30,87956,7716,16780
Spain,31,95923,8464,19259

## 2. Introducing the LAG function

The LAG function is used to show data from the preceding row or the table. When lining up rows the data is partitioned by country name and ordered by the data whn. That means that only data from Italy is considered.

**Modify the query to show confirmed for the day before.**

In [6]:
(covid.withColumn("day", dayofmonth(covid("whn")))
     .withColumn("mo", month(covid("whn")))
     .filter((covid("name")==="Italy") && 
             (month(covid("whn"))===3))
     .withColumn("lag_cfrm", lag(col("confirmed"), 1)
                 .over(Window.orderBy("day").partitionBy("name")))
     .select("name", "day", "confirmed", "mo", "lag_cfrm")
     .showHTML())

name,day,confirmed,mo,lag_cfrm
Italy,1,1694,3,null
Italy,2,2036,3,1694
Italy,3,2502,3,2036
Italy,4,3089,3,2502
Italy,5,3858,3,3089
Italy,6,4636,3,3858
Italy,7,5883,3,4636
Italy,8,7375,3,5883
Italy,9,9172,3,7375
Italy,10,10149,3,9172
Italy,11,12462,3,10149
Italy,12,12462,3,12462
Italy,13,17660,3,12462
Italy,14,21157,3,17660
Italy,15,24747,3,21157
Italy,16,27980,3,24747
Italy,17,31506,3,27980
Italy,18,35713,3,31506
Italy,19,41035,3,35713
Italy,20,47021,3,41035
Italy,21,53578,3,47021
Italy,22,59138,3,53578
Italy,23,63927,3,59138
Italy,24,69176,3,63927
Italy,25,74386,3,69176
Italy,26,80589,3,74386
Italy,27,86498,3,80589
Italy,28,92472,3,86498
Italy,29,97689,3,92472
Italy,30,101739,3,97689
Italy,31,105792,3,101739

### LAG operation

Here is the correct query showing the cases for the day before:

```sql
SELECT name, DAY(whn), confirmed,
   LAG(confirmed, 1) OVER (partition by name ORDER BY whn) AS lag
 FROM covid
WHERE name = 'Italy'
AND MONTH(whn) = 3
ORDER BY whn
```

Notice how the values in the LAG column match the value of the row diagonally above and to the left.

name | DAY(whn) | confirmed | dbf
------|---|------|----------
Italy | 1 | **1694** | null
Italy | 2 | 2036 | **1694**
Italy | 3 | 2502 | 2036
Italy | 4 | 3089 | 2502
Italy | 5 | **3858** | 3089
Italy | 6 | 4636 | **3858**
Italy | 7 | 5883 | 4636
Italy | 8 | 7375 | 5883
Italy | 9 | 9172 | 7375
Italy | 10 | 10149 | 9172
... | | |

## 3. Number of new cases

The number of confirmed case is cumulative - but we can use LAG to recover the number of new cases reported for each day.

**Show the number of new cases for each day, for Italy, for March.**

In [7]:
(covid.withColumn("day", dayofmonth(covid("whn")))
     .filter((covid("name")==="Italy") && 
             (month(covid("whn"))===3))
     .withColumn("new", col("confirmed") - lag(col("confirmed"), 1).over(
         Window.orderBy("day").partitionBy("name")))
     .select("name", "day", "new")
     .showHTML())

name,day,new
Italy,1,null
Italy,2,342
Italy,3,466
Italy,4,587
Italy,5,769
Italy,6,778
Italy,7,1247
Italy,8,1492
Italy,9,1797
Italy,10,977
Italy,11,2313
Italy,12,0
Italy,13,5198
Italy,14,3497
Italy,15,3590
Italy,16,3233
Italy,17,3526
Italy,18,4207
Italy,19,5322
Italy,20,5986
Italy,21,6557
Italy,22,5560
Italy,23,4789
Italy,24,5249
Italy,25,5210
Italy,26,6203
Italy,27,5909
Italy,28,5974
Italy,29,5217
Italy,30,4050
Italy,31,4053

## 4. Weekly changes

The data gathered are necessarily estimates and are inaccurate. However by taking a longer time span we can mitigate some of the effects.

You can filter the data to view only Monday's figures **WHERE WEEKDAY(whn) = 0**.

**Show the number of new cases in Italy for each week - show Monday only.**

In [8]:
(covid.filter((covid("name")==="Italy") && 
              (dayofweek(covid("whn"))===1))
     .withColumn("new", col("confirmed")-lag(col("confirmed"), 1)
                 .over(Window.orderBy("whn").partitionBy("name")))
     .select("name", "whn", "new")
     .showHTML())

name,whn,new
Italy,2020-01-26,null
Italy,2020-02-02,2
Italy,2020-02-09,1
Italy,2020-02-16,0
Italy,2020-02-23,152
Italy,2020-03-01,1539
Italy,2020-03-08,5681
Italy,2020-03-15,17372
Italy,2020-03-22,34391
Italy,2020-03-29,38551
Italy,2020-04-05,31259
Italy,2020-04-12,27415
Italy,2020-04-19,22609

## 5. LAG using a JOIN

You can JOIN a table using DATE arithmetic. This will give different results if data is missing.

**Show the number of new cases in Italy for each week - show Monday only.**

In the sample query we JOIN this week tw with last week lw using the DATE_ADD function.

In [23]:
val a = covid.filter((covid("name")==="Italy") && 
                     (dayofweek(covid("whn"))===1))

(a.select("whn", "name", "confirmed")
     .join(a
           .withColumn("whn", to_date($"whn" + lit("7 days").cast(CalendarIntervalType)))
           .withColumnRenamed("confirmed", "confirmed2")
           .select("whn", "name", "confirmed2"), 
           Seq("whn", "name"), joinType="left")
     .withColumn("new", col("confirmed")-col("confirmed2"))
     .select("name", "whn", "new")
     .showHTML())

name,whn,new
Italy,2020-01-26,null
Italy,2020-02-02,2
Italy,2020-02-09,1
Italy,2020-02-16,0
Italy,2020-02-23,152
Italy,2020-03-01,1539
Italy,2020-03-08,5681
Italy,2020-03-15,17372
Italy,2020-03-22,34391
Italy,2020-03-29,38551
Italy,2020-04-05,31259
Italy,2020-04-12,27415
Italy,2020-04-19,22609

a: Dataset[Row] = [name: string, whn: string ... 3 more fields]

## 6. RANK()

The query shown shows the number of confirmed cases together with the world ranking for cases.

United States has the highest number, Spain is number 2...

Notice that while Spain has the second highest confirmed cases, Italy has the second highest number of deaths due to the virus.

**Include the ranking for the number of deaths in the table. Only include countries with a population of at least 10 million.**

In [24]:
(covid.join(world.select("name", "population"), Seq("name"))
    .filter((col("whn")==="2020-04-20") && 
            (col("population")>=1e7))
    .withColumn("rc1", rank().over(Window.orderBy(col("confirmed").desc)
                                .partitionBy("whn")))
    .withColumn("rc2", rank().over(Window.orderBy(col("deaths").desc)
                                  .partitionBy("whn")))
    .select("name", "confirmed", "rc1", "deaths", "rc2")
    .orderBy(col("confirmed").desc)
    .showHTML())

name,confirmed,rc1,deaths,rc2
United States,784326,1,42094,1
Spain,200210,2,20852,3
Italy,181228,3,24114,2
France,156480,4,20292,4
Germany,147065,5,4862,8
United Kingdom,125856,6,16550,5
Turkey,90980,7,2140,12
China,83817,8,4636,9
Iran,83505,9,5209,7
Russia,47121,10,405,23
Brazil,40743,11,2587,11
Belgium,39983,12,5828,6
Canada,37657,13,1725,13
Netherlands,33588,14,3764,10
Portugal,20863,15,735,15
India,18539,16,592,17
Peru,16325,17,445,21
Sweden,14777,18,1580,14
Japan,10797,19,236,27
South Korea,10674,20,236,27
Chile,10507,21,139,35
Saudi Arabia,10484,22,103,38
Ecuador,10128,23,507,19
Poland,9593,24,380,25
Romania,8936,25,478,20
Pakistan,8418,26,176,32
Mexico,8261,27,686,16
Czech Republic,6900,28,194,30
Indonesia,6760,29,590,18
Australia,6547,30,67,42
Philippines,6459,31,428,22
Ukraine,5710,32,151,33
Malaysia,5425,33,89,40
Dominican Republic,4964,34,235,29
Colombia,3977,35,189,31
Egypt,3333,36,250,26
South Africa,3300,37,58,43
Morocco,3046,38,143,34
Bangladesh,2948,39,101,39
Argentina,2941,40,136,36
Thailand,2792,41,47,44
Algeria,2718,42,384,24
Greece,2245,43,116,37
Kazakhstan,1852,44,19,54
Uzbekistan,1627,45,5,68
Iraq,1574,46,82,41
Azerbaijan,1436,47,19,54
Cameroon,1163,48,42,45
Cuba,1087,49,36,48
Ghana,1042,50,9,60

## 7. Infection rate

The query shown includes a JOIN t the world table so we can access the total population of each country and calculate infection rates (in cases per 100,000).

**Show the infect rate ranking for each country. Only include countries with a population of at least 10 million.**

In [9]:
# a was obtained in #6
(a.withColumn("r_inf", round(1e5*a("confirmed")/a("population")))
     .withColumn("rc", rank().over(Window.orderBy(col("r_inf"))
                                  .partitionBy("whn")))
     .orderBy(col("population").desc())
     .select("name", "r_inf", "rc")
     .showHTML())

                  name  r_inf  rc
0                China    6.0  50
1                India    1.0  23
2        United States  238.0  87
3            Indonesia    3.0  35
4             Pakistan    4.0  41
..                 ...    ...  ..
85              Jordan    4.0  41
86  Dominican Republic   48.0  73
87              Sweden  143.0  81
88            Portugal  203.0  85
89          Azerbaijan   14.0  62

[90 rows x 3 columns]

## 8. Turning the corner

For each country that has had at last 1000 new cases in a single day, show the date of the peak number of new cases.

In [25]:
(covid.withColumn("new", (covid("confirmed")-lag(col("confirmed"), 1).over(
    Window.partitionBy("name").orderBy("whn"))))
     .na.fill(0, Array("new"))
     .withColumn("rc", rank().over(Window.partitionBy("name").orderBy(col("new").desc)))
     .filter((col("rc")===1) && (col("new")>1000))
     .select("name", "whn", "new")
     .orderBy("whn", "new")
     .showHTML())

name,whn,new
China,2020-02-13,15136
Italy,2020-03-21,6557
Switzerland,2020-03-23,1321
Israel,2020-03-25,1131
Spain,2020-03-25,9630
Austria,2020-03-26,1321
Germany,2020-03-27,6933
Iran,2020-03-30,3186
Canada,2020-04-05,2778
Netherlands,2020-04-10,1346
Ireland,2020-04-10,1515
Portugal,2020-04-10,1516
Ecuador,2020-04-10,2196
United Kingdom,2020-04-10,8733
United States,2020-04-10,33755
Turkey,2020-04-11,5138
France,2020-04-12,26849
Peru,2020-04-13,2265
Belgium,2020-04-15,2454
Japan,2020-04-17,1161
Brazil,2020-04-17,3257
Saudi Arabia,2020-04-18,1132
India,2020-04-19,1893
Russia,2020-04-19,6060
Singapore,2020-04-20,1426
Belarus,2020-04-20,1485

In [26]:
spark.stop()