# AdventureWorks - Hard

In [1]:
import $ivy.`org.apache.spark::spark-sql:3.4.0`

import org.apache.log4j.{Level, Logger}
Logger.getLogger("org").setLevel(Level.OFF)

import org.apache.spark._
import org.apache.spark.sql._
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.sql.expressions.Window

val spark = {
    NotebookSparkSession.builder()
    .progress(false)
    .appName("app14-3")
    // .master("spark://192.168.31.31:7077")
    .master("local[*]")
    .config("spark.sql.warehouse.dir", 
            "hdfs://192.168.31.31:9000/user/hive/warehouse") 
    .config("spark.cores.max", "4") 
    .config("spark.executor.instances", "1") 
    .config("spark.executor.cores", "2") 
    .config("spark.executor.memory", "10g") 
    .config("spark.shuffle.service.enabled", "false") 
    .config("spark.dynamicAllocation.enabled", "false") 
    .config("spark.sql.catalogImplementation", "hive")
    .config("spark.sql.repl.eagerEval.enabled", "true")
    .config("spark.driver.allowMultipleContexts", "true")
    .getOrCreate()
}

Loading spark-stubs, spark-hive
Adding Hive conf dir /opt/hive/conf to classpath
Creating SparkSession

SLF4J: No SLF4J providers were found.
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See https://www.slf4j.org/codes.html#noProviders for further details.

import $ivy.$


import org.apache.log4j.{Level, Logger}

import org.apache.spark._

import org.apache.spark.sql._

import org.apache.spark.sql.types._

import org.apache.spark.sql.functions._

import org.apache.spark.sql.expressions.Window


spark: SparkSession = org.apache.spark.sql.SparkSession@25a4a4ea

In [2]:
import spark.implicits._
def sc = spark.sparkContext
val hiveCxt = new org.apache.spark.sql.hive.HiveContext(sc)

import spark.implicits._

defined function sc
hiveCxt: sql.hive.HiveContext = org.apache.spark.sql.hive.HiveContext@341b663b

In [3]:
// Credit to Aivean
implicit class RichDF(val ds:DataFrame) {
    def showHTML(limit: Int = 50, truncate: Int = 100) = {
        import xml.Utility.escape
        val data = ds.take(limit)
        val header = ds.schema.fieldNames.toSeq        
        val rows: Seq[Seq[String]] = data.map { row =>
          row.toSeq.map {cell =>
            val str = cell match {
              case null => "null"
              case binary: Array[Byte] => binary.map("%02X".format(_)).mkString("[", " ", "]")
              case array: Array[_] => array.mkString("[", ", ", "]")
              case seq: Seq[_] => seq.mkString("[", ", ", "]")
              case _ => cell.toString
            }
            if (truncate > 0 && str.length > truncate) {
              // do not show ellipses for strings shorter than 4 characters.
              if (truncate < 4) str.substring(0, truncate)
              else str.substring(0, truncate - 3) + "..."
            } else {
              str
            }
          }: Seq[String]
        }
    publish.html(s""" <table>
                <tr>
                 ${header.map(h => s"<th>${escape(h)}</th>").mkString}
                </tr>
                ${rows.map {row =>
                  s"<tr>${row.map{c => s"<td>${escape(c)}</td>" }.mkString}</tr>"
                }.mkString}
            </table>
        """)
    }
}

defined class RichDF

In [4]:
val cust_aw = hiveCxt.table("sqlzoo.CustomerAW")
val cust_addr = hiveCxt.table("sqlzoo.CustomerAddress")
val addr = hiveCxt.table("sqlzoo.Address")
val product = hiveCxt.table("sqlzoo.Product")
val order_det = hiveCxt.table("sqlzoo.SalesOrderDetail")
val order_head = hiveCxt.table("sqlzoo.SalesOrderHeader")
val prod_model = hiveCxt.table("sqlzoo.ProductModel")
val prod_model_prod = hiveCxt.table("sqlzoo.ProductModelProductDescription")
val prod_desc = hiveCxt.table("sqlzoo.ProductDescription")
val prod_cat = hiveCxt.table("sqlzoo.ProductCategory")

cust_aw: DataFrame = [customerid: int, namestyle: string ... 11 more fields]
cust_addr: DataFrame = [customerid: int, addressid: int ... 1 more field]
addr: DataFrame = [addressid: int, addressline1: string ... 5 more fields]
product: DataFrame = [productid: int, name: string ... 12 more fields]
order_det: DataFrame = [salesorderid: int, salesorderdetailid: int ... 4 more fields]
order_head: DataFrame = [salesorderid: int, revisionnumber: int ... 17 more fields]
prod_model: DataFrame = [productmodelid: int, name: string ... 1 more field]
prod_model_prod: DataFrame = [productmodelid: int, productdescriptionid: int ... 1 more field]
prod_desc: DataFrame = [productdescriptionid: int, description: string]
prod_cat: DataFrame = [productcategoryid: int, parentproductcategoryid: int ... 1 more field]

## 11.
**For every customer with a 'Main Office' in Dallas show AddressLine1 of the 'Main Office' and AddressLine1 of the 'Shipping' address - if there is no shipping address leave it blank. Use one row per customer.**

In [5]:
(cust_aw.join(cust_addr, "CustomerID")
 .join(cust_aw
       .join(cust_addr.filter(cust_addr("AddressType")==="Main Office"),
             "CustomerID")
       .join(addr.filter(addr("City")==="Dallas"), "AddressID") 
       .select("CustomerID")
       .distinct(), 
       "CustomerID")
 .join(addr, "AddressID")
 .select("CompanyName", "AddressType", "AddressLine1")
 .distinct()
 .groupBy("CompanyName")
 .pivot("AddressType")
 .agg(first("AddressLine1"))
 .na.fill("")
 .showHTML())

CompanyName,Main Office,Shipping
Elite Bikes,Po Box 8259024,9178 Jumping St.
Rental Bikes,"99828 Routh Street, Suite 825",
Third Bike Store,2500 North Stemmons Freeway,
Town Industries,P.O. Box 6256916,
Unsurpassed Bikes,Po Box 8035996,

## 12.
**For each order show the SalesOrderID and SubTotal calculated three ways:**

- **A) From the SalesOrderHeader**
- **B) Sum of OrderQty*UnitPrice**
- **C) Sum of OrderQty*ListPrice**

In [6]:
(order_head.select("SalesOrderID", "SubTotal")
 .join(order_det
       .withColumn("SubTotal", col("OrderQty") * col("UnitPrice") * 
                   (lit(1)-col("UnitPriceDiscount")))
       .groupBy("SalesOrderID")
       .agg(sum("SubTotal").alias("UnitPriceSum"))
       .withColumn("UnitPriceSum", round($"UnitPriceSum", 2)),
      "SalesOrderID")
 .join(order_det
       .join(product, "ProductID")
       .withColumn("SubTotal", col("OrderQty") * col("ListPrice"))
       .groupBy("SalesOrderID")
       .agg(sum("SubTotal").alias("ListPriceSum"))
       .withColumn("ListPriceSum", round($"ListPriceSum", 2)),
      "SalesOrderID")
 .orderBy("SalesOrderID")
 .showHTML())

SalesOrderID,SubTotal,UnitPriceSum,ListPriceSum
71774,880.35,713.8,1189.66
71776,78.81,63.9,106.5
71780,38418.69,29922.81,56651.56
71782,39785.33,33319.68,55533.31
71783,83858.43,65682.74,121625.43
71784,108561.83,89868.88,151932.58
71796,57634.63,47848.02,79746.71
71797,78029.69,65122.79,108986.4
71815,1141.58,926.91,1544.86
71816,3398.17,2847.37,4745.68
71831,2016.34,1712.91,2854.91
71832,35775.21,28950.48,50559.01
71845,41622.05,34118.3,57768.21
71846,2453.76,1884.38,3592.65
71856,602.19,500.3,833.84
71858,13823.71,11528.8,19214.74
71863,3324.28,2777.05,4633.78
71867,1059.31,858.9,1431.5
71885,550.39,524.64,874.44
71895,246.74,221.24,368.76
71897,12685.89,10585.01,17641.75
71898,63980.99,53248.57,88747.82
71899,2415.67,1856.18,3545.67
71902,74058.81,59893.72,106151.57
71915,2137.23,1732.86,2888.15
71917,40.9,37.73,62.93
71920,2980.79,2527.08,4211.88
71923,106.54,96.03,166.81
71935,6634.3,5533.78,9229.27
71936,98278.69,79589.08,138124.87
71938,88812.86,5102.95,8504.95

## 13.
**Show the best selling item by value.**

In [7]:
(order_det.join(product, "ProductID")
 .withColumn("SubTotal", col("OrderQty") * col("UnitPrice"))
 .groupBy("ProductID", "Name")
 .sum("SubTotal")
 .withColumn("sum(SubTotal)", round($"sum(SubTotal)", 2))
 .orderBy(col("Sum(SubTotal)").desc)
 .showHTML())

ProductID,Name,sum(SubTotal)
969,"Touring-1000 Blue, 60",37191.44
783,"Mountain-200 Black, 42",37178.73
782,"Mountain-200 Black, 38",35801.74
976,"Road-350-W Yellow, 48",33509.58
957,"Touring-1000 Yellow, 60",23745.32
967,"Touring-1000 Blue, 50",22887.04
780,"Mountain-200 Silver, 42",20879.85
973,"Road-350-W Yellow, 40",20411.8
784,"Mountain-200 Black, 46",19277.86
781,"Mountain-200 Silver, 46",18095.87
966,"Touring-1000 Blue, 46",17165.28
954,"Touring-1000 Yellow, 46",17165.28
974,"Road-350-W Yellow, 42",15887.18
779,"Mountain-200 Silver, 38",15311.89
793,"Road-250 Black, 44",13194.09
972,"Touring-2000 Blue, 54",13120.38
748,"HL Mountain Frame - Silver, 38",13099.2
979,"Touring-3000 Blue, 50",10244.43
743,"HL Mountain Frame - Black, 42",9717.12
797,"Road-550-W Yellow, 38",9412.06
965,"Touring-3000 Yellow, 62",8744.85
968,"Touring-1000 Blue, 54",8582.64
742,"HL Mountain Frame - Silver, 46",8187.0
961,"Touring-3000 Yellow, 44",8017.38
794,"Road-250 Black, 48",7330.05
953,"Touring-2000 Blue, 60",7289.1
885,"HL Touring Frame - Yellow, 60",7228.2
955,"Touring-1000 Yellow, 50",7152.2
958,"Touring-3000 Blue, 54",6681.15
970,"Touring-2000 Blue, 46",6560.19
971,"Touring-2000 Blue, 50",6560.19
956,"Touring-1000 Yellow, 54",5721.76
747,"HL Mountain Frame - Black, 38",5668.32
998,"Road-750 Black, 48",5183.84
838,"HL Road Frame - Black, 44",5153.4
739,"HL Mountain Frame - Silver, 42",4912.2
836,"ML Road Frame-W - Yellow, 48",4282.8
892,"HL Touring Frame - Blue, 54",4216.45
981,"Mountain-400-W Silver, 40",4155.21
983,"Mountain-400-W Silver, 46",4155.21
962,"Touring-3000 Yellow, 50",4008.69
999,"Road-750 Black, 52",3887.88
992,"Mountain-500 Black, 48",3887.88
835,"ML Road Frame-W - Yellow, 44",3569.0
977,"Road-750 Black, 58",3563.89
889,"HL Touring Frame - Yellow, 54",3011.75
864,"Classic Vest, S",2968.93
795,"Road-250 Black, 52",2932.02
951,HL Crankset,2915.88
963,"Touring-3000 Yellow, 54",2672.46

## 14.
**Show how many orders are in the following ranges (in $):**

```
    RANGE      Num Orders      Total Value
    0-  99
  100- 999
 1000-9999
10000-
```

In [8]:
(order_head
 .withColumn("RANGE", 
             when(col("SubTotal").between(0, 99.99), "    0-  99")
             .when(col("SubTotal").between(100, 999.99), "  100- 999")
             .when(col("SubTotal").between(1000, 9999.99), " 1000-9999")
             .otherwise("10000-    "))
 .groupBy("RANGE")
 .agg(count("SubTotal"), sum("SubTotal"))
 .withColumn("sum(SubTotal)", round($"sum(SubTotal)", 2))
 .orderBy("RANGE")
 .showHTML())

RANGE,count(SubTotal),sum(SubTotal)
0- 99,3,158.66
100- 999,5,2386.21
1000-9999,10,27561.43
10000-,14,835326.81

## 15.
**Identify the three most important cities. Show the break down of top level product category against city.**

In [9]:
(addr
 .join(addr
       .join(order_head, (addr("AddressID")===order_head("ShipToAddressID")))
       .groupBy("City")
       .sum("SubTotal")
       .orderBy(col("sum(SubTotal)").desc)
       .limit(3),
      "City")
 .join(order_head, (addr("AddressID")===order_head("ShipToAddressID")))
 .join(order_det, "SalesOrderID")
 .join(product, "ProductID")
 .join(prod_cat.withColumnRenamed("name", "catg_name"), 
       "ProductCategoryID")
 .withColumn("amount", col("OrderQty") * col("UnitPrice"))
 .groupBy("City", "catg_name")
 .sum("amount")
 .withColumn("sum(amount)", round($"sum(amount)", 2))
 .orderBy("City", "catg_name")
 .showHTML())

City,catg_name,sum(amount)
London,Bottom Brackets,388.73
London,Brakes,255.6
London,Chains,36.42
London,Cranksets,1773.81
London,Derailleurs,638.85
London,Gloves,88.14
London,Handlebars,292.63
London,Helmets,20.99
London,Mountain Bikes,50881.99
London,Mountain Frames,24018.8
London,Pedals,390.32
London,Road Bikes,5102.95
London,Saddles,284.43
London,Shorts,1072.14
Union City,Bike Racks,144.0
Union City,Bottles and Cages,29.9
Union City,Caps,57.31
Union City,Cleaners,38.16
Union City,Gloves,264.42
Union City,Handlebars,72.16
Union City,Helmets,721.69
Union City,Hydration Packs,296.91
Union City,Jerseys,1597.49
Union City,Pedals,490.73
Union City,Road Bikes,53478.76
Union City,Road Frames,10031.9
Union City,Socks,5.39
Union City,Tires and Tubes,8.22
Union City,Vests,904.95
Woolston,Bike Racks,432.0
Woolston,Bottles and Cages,31.79
Woolston,Caps,53.9
Woolston,Cleaners,38.16
Woolston,Gloves,161.59
Woolston,Helmets,495.36
Woolston,Hydration Packs,296.91
Woolston,Jerseys,1178.02
Woolston,Saddles,63.16
Woolston,Tires and Tubes,10.96
Woolston,Touring Bikes,77040.15
Woolston,Touring Frames,9430.95
Woolston,Vests,1108.19

In [10]:
spark.stop()