# White Christmas

## HadCET
The [HadCET](http://www.metoffice.gov.uk/hadobs/hadcet/) data is "the longest available instrumental record of temperature in the world", currently available from the UK Met Office. It provides the daily mean temperature for the centre of England since 1772.

From that table you can see that the mean daily temperature for 1st January 2001 was recorded as 40 meaning 4.0°C, the temperature for 2nd January 2001 has 77 which translates to 7.7°C

The February temperatures are in the m2 column, notice that -999 has been entered for invalid cells such as 31 Feb 2001.

```
+------+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
| yr   | dy |  m1 |  m2 |  m3 |  m4 |  m5 |  m6 |  m7 |  m8 |  m9 | m10 | m11 | m12 |
+------+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
| 2001 |  1 |  40 |  11 |   9 | 112 |  87 | 131 | 185 | 180 | 150 | 151 |  91 |  98 |
| 2001 |  2 |  77 |  32 |  -4 | 114 |  99 | 126 | 207 | 163 | 168 | 143 |  99 |  29 |
| 2001 |  3 |  52 |  66 |  -3 |  84 | 105 | 100 | 209 | 166 | 153 | 142 |  87 |  55 |
| 2001 |  4 |  50 |  57 |   5 |  69 |  72 | 130 | 219 | 151 | 134 | 139 |  90 |  73 |
| 2001 |  5 |  47 |  68 |  12 |  71 |  82 | 136 | 217 | 161 | 139 | 159 |  75 |  82 |
| 2001 |  6 |  43 |  83 |  57 |  90 |  76 | 135 | 201 | 173 | 141 | 142 |  95 |  46 |
| 2001 |  7 |  49 |  85 |  86 |  69 |  90 | 110 | 185 | 161 | 153 | 128 | 112 |  62 |
| 2001 |  8 |  51 |  34 |  87 |  71 |  93 | 102 | 163 | 155 | 147 | 127 |  50 |  40 |
| 2001 |  9 |  22 |  21 |  90 | 101 | 102 | 101 | 157 | 141 | 121 | 132 |  33 |  16 |
| 2001 | 10 |  23 |  51 | 102 |  96 | 147 | 110 | 160 | 152 | 119 | 125 |  44 |  19 |
| 2001 | 11 |  29 |  81 | 101 |  72 | 172 | 106 | 141 | 152 | 142 | 150 |  78 |  20 |
| 2001 | 12 |  40 |  79 |  60 |  74 | 168 | 138 | 144 | 171 | 142 | 153 | 101 |  46 |
| 2001 | 13 |  31 |  40 |  57 |  57 | 165 | 148 | 143 | 195 | 124 | 160 |  53 |  47 |
| 2001 | 14 |  24 |  35 |  64 |  75 | 118 | 144 | 132 | 205 | 124 | 155 |  40 |  15 |
| 2001 | 15 |  18 |  44 |  53 |  91 | 120 | 153 | 127 | 210 | 129 | 154 |  43 |  13 |
| 2001 | 16 | -12 |  46 |  54 |  73 | 128 | 138 | 133 | 176 | 125 | 117 |  55 |  23 |
| 2001 | 17 |  -9 |  21 |  26 |  52 |  89 | 123 | 143 | 157 | 109 | 138 |  83 |  20 |
| 2001 | 18 |  -5 |   3 |  28 |  44 | 101 | 128 | 149 | 167 | 124 | 147 |  73 |  38 |
| 2001 | 19 |  -8 |  26 |  20 |  54 | 119 | 160 | 137 | 181 | 129 | 113 |  63 |  48 |
| 2001 | 20 |  -5 |  36 |  22 |  54 | 130 | 156 | 146 | 169 | 138 | 135 |  67 |  26 |
| 2001 | 21 |  13 |  62 |  26 |  52 | 129 | 140 | 153 | 159 | 116 | 104 |  96 |  41 |
| 2001 | 22 |  45 |  73 |  60 |  64 | 131 | 139 | 169 | 179 | 119 | 118 |  91 |  12 |
| 2001 | 23 |  69 |  49 |  77 |  84 | 150 | 160 | 170 | 179 | 103 | 137 |  48 |  18 |
| 2001 | 24 |  69 |  27 |  68 |  68 | 157 | 173 | 155 | 191 | 127 | 130 |  68 |  34 |
| 2001 | 25 |  48 |  14 |  49 |  85 | 137 | 191 | 181 | 193 | 123 | 124 | 115 |  45 |
| 2001 | 26 |  47 |  27 |  38 |  90 | 157 | 219 | 184 | 171 | 112 | 124 |  51 |  27 |
| 2001 | 27 |  40 |  27 |  50 |  84 | 160 | 187 | 194 | 152 | 145 | 122 |  48 |  40 |
| 2001 | 28 |  11 |  23 |  70 |  99 | 176 | 170 | 206 | 143 | 166 | 116 |  76 |  43 |
| 2001 | 29 |  20 |-999 |  66 |  76 | 160 | 177 | 230 | 149 | 168 | 106 |  96 |  18 |
| 2001 | 30 |  25 |-999 |  83 |  80 | 149 | 170 | 201 | 154 | 141 | 140 | 124 |  15 |
| 2001 | 31 |  40 |-999 | 100 |-999 | 130 |-999 | 192 | 146 |-999 | 101 |-999 |  -4 |
| 2002 |  1 | -18 |  86 |  45 | 113 |  93 | 143 | 131 | 161 | 126 | 145 | 114 |  87 |
| 2002 |  2 | -18 | 109 |  31 | 100 |  84 | 162 | 135 | 156 | 140 | 156 | 114 |  83 |
+------+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
```

In [1]:
import $ivy.`org.apache.spark::spark-sql:3.4.0`

import org.apache.log4j.{Level, Logger}
Logger.getLogger("org").setLevel(Level.OFF)

import org.apache.spark._
import org.apache.spark.sql._
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.sql.expressions.Window

val spark = {
    NotebookSparkSession.builder()
    .progress(false)
    .appName("app19")
    // .master("spark://192.168.31.31:7077")
    .master("local[*]")
    .config("spark.sql.warehouse.dir", 
            "hdfs://192.168.31.31:9000/user/hive/warehouse") 
    .config("spark.cores.max", "4") 
    .config("spark.executor.instances", "1") 
    .config("spark.executor.cores", "2") 
    .config("spark.executor.memory", "10g") 
    .config("spark.shuffle.service.enabled", "false") 
    .config("spark.dynamicAllocation.enabled", "false") 
    .config("spark.sql.catalogImplementation", "hive")
    .config("spark.sql.repl.eagerEval.enabled", "true")
    .config("spark.driver.allowMultipleContexts", "true")
    .getOrCreate()
}

Loading spark-stubs, spark-hive
Adding Hive conf dir /opt/hive/conf to classpath
Creating SparkSession

SLF4J: No SLF4J providers were found.
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See https://www.slf4j.org/codes.html#noProviders for further details.

import $ivy.$


import org.apache.log4j.{Level, Logger}

import org.apache.spark._

import org.apache.spark.sql._

import org.apache.spark.sql.types._

import org.apache.spark.sql.functions._

import org.apache.spark.sql.expressions.Window


spark: SparkSession = org.apache.spark.sql.SparkSession@583c500f

In [2]:
import spark.implicits._
import spark.sqlContext.implicits._
def sc = spark.sparkContext
val hiveCxt = new org.apache.spark.sql.hive.HiveContext(sc)

import spark.implicits._

import spark.sqlContext.implicits._

defined function sc
hiveCxt: sql.hive.HiveContext = org.apache.spark.sql.hive.HiveContext@20d00dec

In [3]:
// Credit to Aivean
implicit class RichDF(val ds:DataFrame) {
    def showHTML(limit: Int = 50, truncate: Int = 100) = {
        import xml.Utility.escape
        val data = ds.take(limit)
        val header = ds.schema.fieldNames.toSeq        
        val rows: Seq[Seq[String]] = data.map { row =>
          row.toSeq.map {cell =>
            val str = cell match {
              case null => "null"
              case binary: Array[Byte] => binary.map("%02X".format(_)).mkString("[", " ", "]")
              case array: Array[_] => array.mkString("[", ", ", "]")
              case seq: Seq[_] => seq.mkString("[", ", ", "]")
              case _ => cell.toString
            }
            if (truncate > 0 && str.length > truncate) {
              // do not show ellipses for strings shorter than 4 characters.
              if (truncate < 4) str.substring(0, truncate)
              else str.substring(0, truncate - 3) + "..."
            } else {
              str
            }
          }: Seq[String]
        }
    publish.html(s""" <table>
                <tr>
                 ${header.map(h => s"<th>${escape(h)}</th>").mkString}
                </tr>
                ${rows.map {row =>
                  s"<tr>${row.map{c => s"<td>${escape(c)}</td>" }.mkString}</tr>"
                }.mkString}
            </table>
        """)
    }
}

defined class RichDF

In [4]:
val hadcet = hiveCxt.table("sqlzoo.hadcet")

hadcet: DataFrame = [yr: int, dy: int ... 12 more fields]

## 1. Days, Months and Years
The units are 10th of a degree Celcius. The columns are yr and dy for year and day of month. The next twelve columns are for January through to December.

**Show the average daily temperature for August 10th 1964**

```sql
show create table hadcet
```

In [5]:
(hadcet.filter((hadcet("yr") === 1964) && (hadcet("dy") === 10))
 .select("m8").showHTML())

m8
139

## 2. preteen Dickens

Charles Dickens is said to be responsible for the tradition of expecting snow at Christmas (Daily Telegraph)(http://www.telegraph.co.uk/topics/christmas/3933091/Dreaming-of-a-white-Christmas-Blame-the-nostalgia-of-Charles-Dickens-snowy-childhood.html). Show the temperature on Christmas day (25th December) for each year of his childhood. He was born in February 1812 - so he was 1 (more or less) in December 1812.

**Show the twelve temperatures.**

```sql
SELECT yr-1811 as age FROM hadcet
  WHERE yr BETWEEN 1812 and 1812+12 AND dy=25
```

In [6]:
(hadcet.withColumn("age", hadcet("yr")-lit(1811))
 .filter((hadcet("yr").between(1812, 1812+12)) && 
         (hadcet("dy") === 25))
 .select("age", "m12")
 .showHTML())

age,m12
1,0
2,81
3,11
4,-8
5,30
6,-4
7,10
8,-8
9,-3
10,35
11,5
12,78
13,104

## 3. Minimum Temperature Before Christmas

We declare a White Christmas if there was a day with an average temperature below zero between 21st and 25th of December.

**For each age 1-12 show which years were a White Christmas. Show "White Christmas" or "No snow" for each age.**

```sql
SELECT yr-1811 as age FROM hadcet
  WHERE yr BETWEEN 1812 and 1812+12 AND dy=25
```

In [7]:
(hadcet
 .filter((hadcet("yr").between(1812, 1812+11)) && 
         (hadcet("dy").between(21, 25) && 
          (hadcet("m12") !== -999)))
 .groupBy("yr")
 .agg(min("m12").alias("m12"))
 .withColumn("age", hadcet("yr")-lit(1811))
 .withColumn("lbl", when(col("m12")<0, lit("White Christmas"))
             .otherwise(lit("No snow")))
 .select("age", "lbl")
 .orderBy("age")
 .showHTML())

age,lbl
1,No snow
2,No snow
3,White Christmas
4,White Christmas
5,White Christmas
6,White Christmas
7,White Christmas
8,White Christmas
9,White Christmas
10,No snow
11,White Christmas
12,No snow

## 4. White Christmas Count

A person"s White Christmas Count (wcc) is the number of White Christmases they were exposed to as a child (between 3 and 12 inclusive assuming they were born at the beginning of the year and were about 1 year old on their first Christmas).

Charles Dickens"s wcc was 8.

**List all the years and the wcc for children born in each year of the data set. Only show years where the wcc was at least 7.**

```sql
SELECT yr-1811 as age FROM hadcet
  WHERE yr BETWEEN 1812 and 1812+12 AND dy=25
```

```
+------+-----+
| yob  | wcc |
+------+-----+
| 1805 |   7 |
| 1806 |   7 |
| 1807 |   7 |
| 1808 |   8 |
| 1809 |   9 |
| 1810 |   8 |
| 1811 |   8 |
| 1812 |   8 |
| 1813 |   7 |
+------+-----+
```

In [8]:
val x = (hadcet.select("yr").distinct())
val y = (hadcet.withColumn("wc", (hadcet("m12") < lit(0)).cast("integer"))
     .filter((hadcet("dy").between(21, 25)) && (hadcet("m12") !== -999))
     .groupBy("yr")
     .agg(sum("wc").alias("wc"))
     .filter(col("wc") > 0)
     .select($"yr".alias("yyr")))

(x.alias("x")
 .join(y.alias("y"))
 .filter((col("yyr") >= col("yr")+lit(2)) && 
         (col("yyr") <= col("yr")+lit(11)))
 .groupBy("yr")
 .agg(count("yyr").alias("wcc"))
 .filter(col("wcc") >= 7)
 .orderBy("yr")
 .showHTML())

yr,wcc
1809,7
1810,7
1811,8
1812,8
1813,7

x: Dataset[Row] = [yr: int]
y: DataFrame = [yyr: int]

## 5. Climate Change

Here are the average temperatures for August by decade. You decide.

In [9]:
(hadcet.withColumn("decade", floor(hadcet("yr") / 10) * 10)
 .filter(hadcet("m8") !== -999)
 .groupBy("decade")
 .agg(avg("m8").alias("avg_temp"))
 .withColumn("avg_temp", round($"avg_temp", 2))
 .orderBy("decade")
 .showHTML())

decade,avg_temp
1770,163.16
1780,155.46
1790,157.57
1800,163.88
1810,148.09
1820,154.14
1830,153.44
1840,150.96
1850,157.73
1860,152.23
1870,157.23
1880,151.56
1890,155.58
1900,150.08
1910,156.4
1920,149.92
1930,162.53
1940,161.07
1950,156.98
1960,151.84
1970,159.85
1980,158.5
1990,167.7
2000,166.79
2010,160.07

In [10]:
spark.stop()