# SELECT from Nobel

## `nobel` Nobel Laureates

We continue practicing simple SQL queries on a single table.

This tutorial is concerned with a table of Nobel prize winners:

```
nobel(yr, subject, winner)
```

Using the `SELECT` statement.

In [1]:
library(tidyverse)
library(DBI)
library(getPass)
drv <- switch(Sys.info()['sysname'],
             Windows="PostgreSQL Unicode(x64)",
             Darwin="/usr/local/lib/psqlodbcw.so",
             Linux="PostgreSQL")
con <- dbConnect(
  odbc::odbc(),
  driver = drv,
  Server = "localhost",
  Database = "sqlzoo",
  UID = "postgres",
  PWD = getPass("Password?"),
  Port = 5432
)
options(repr.matrix.max.rows=20)

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.0     v purrr   0.3.3
v tibble  3.0.0     v dplyr   0.8.5
v tidyr   1.0.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Password? ·········

## 1. Winners from 1950

Change the query shown so that it displays Nobel prizes for 1950.

In [2]:
nobel <- dbReadTable(con, 'nobel')

In [3]:
nobel %>% 
    filter(yr==1950)

  yr   subject    winner
1 1950 Chemistry  Kurt Alder
2 1950 Chemistry  Otto Diels
3 1950 Literature Bertrand Russell
4 1950 Medicine   Philip S. Hench
5 1950 Medicine   Edward C. Kendall
6 1950 Medicine   Tadeus Reichstein
7 1950 Peace      Ralph Bunche
8 1950 Physics    Cecil Powell

## 2. 1962 Literature

Show who won the 1962 prize for Literature.

In [4]:
nobel %>%
    filter(yr==1962 & subject=='Literature') %>%
    select(winner)

  winner
1 John Steinbeck

## 3. Albert Einstein

Show the year and subject that won 'Albert Einstein' his prize.

In [5]:
nobel %>%
    filter(winner=='Albert Einstein') %>% 
    select(yr, subject)

  yr   subject
1 1921 Physics

## 4. Recent Peace Prizes

Give the name of the 'Peace' winners since the year 2000, including 2000.

In [6]:
nobel %>%
    filter(yr>=2000 & subject=='Peace') %>% 
    select(winner)

    winner
1   Tunisian National Dialogue Quartet
2   Kailash Satyarthi
3   Malala Yousafzai
4   European Union
5   Ellen Johnson Sirleaf
6   Leymah Gbowee
7   Tawakel Karman
8   Liu Xiaobo
9   Barack Obama
10  Martti Ahtisaari
... ...
13  Grameen Bank
14  Muhammad Yunus
15  International Atomic Energy Agency
16  Mohamed ElBaradei
17  Wangari Maathai
18  Shirin Ebadi
19  Jimmy Carter
20  United Nations
21  Kofi Annan
22  Kim Dae-jung

## 5. Literature in the 1980's

Show all details **(yr, subject, winner)** of the Literature prize winners for 1980 to 1989 inclusive.

In [7]:
nobel %>% 
    filter(between(yr, 1980, 1989) & 
           subject=='Literature')

   yr   subject    winner
1  1989 Literature Camilo José Cela
2  1988 Literature Naguib Mahfouz
3  1987 Literature Joseph Brodsky
4  1986 Literature Wole Soyinka
5  1985 Literature Claude Simon
6  1984 Literature Jaroslav Seifert
7  1983 Literature William Golding
8  1982 Literature Gabriel García Márquez
9  1981 Literature Elias Canetti
10 1980 Literature Czeslaw Milosz

## 6. Only Presidents

Show all details of the presidential winners:

- Theodore Roosevelt
- Woodrow Wilson
- Jimmy Carter
- Barack Obama

In [8]:
nobel %>% 
    filter(winner %in% c(
        'Theodore Roosevelt', 'Woodrow Wilson', 'Jimmy Carter', 'Barack Obama'))

  yr   subject winner
1 2009 Peace   Barack Obama
2 2002 Peace   Jimmy Carter
3 1919 Peace   Woodrow Wilson
4 1906 Peace   Theodore Roosevelt

## 7. John

Show the winners with first name John

In [9]:
nobel %>% 
    filter(str_starts(winner, 'John')) %>%
    select(winner)

    winner
1   John O'Keefe
2   John B. Gurdon
3   John C. Mather
4   John L. Hall
5   John B. Fenn
6   John E. Sulston
7   John Pople
8   John Hume
9   John E. Walker
10  John C. Harsanyi
... ...
17  John Bardeen
18  John C. Kendrew
19  John Steinbeck
20  John Bardeen
21  John F. Enders
22  John Cockcroft
23  John H. Northrop
24  John R. Mott
25  John Galsworthy
26  John Macleod

## 8. Chemistry and Physics from different years

**Show the year, subject, and name of Physics winners for 1980 together with the Chemistry winners for 1984.**

In [10]:
nobel %>% 
    filter(yr==1980 & subject=='Physics' | 
           yr==1984 & subject=='Chemistry') %>%
    select(yr, subject, winner)

  yr   subject   winner
1 1984 Chemistry Bruce Merrifield
2 1980 Physics   James Cronin
3 1980 Physics   Val Fitch

## 9. Exclude Chemists and Medics

**Show the year, subject, and name of winners for 1980 excluding Chemistry and Medicine**

In [11]:
nobel %>% 
    filter(yr==1980 &
           ! subject %in% c('Chemistry', "Medicine")) %>%
    select(yr, subject, winner)

  yr   subject    winner
1 1980 Economics  Lawrence R. Klein
2 1980 Literature Czeslaw Milosz
3 1980 Peace      Adolfo Pérez Esquivel
4 1980 Physics    James Cronin
5 1980 Physics    Val Fitch

## 10. Early Medicine, Late Literature

Show year, subject, and name of people who won a 'Medicine' prize in an early year (before 1910, not including 1910) together with winners of a 'Literature' prize in a later year (after 2004, including 2004)

In [12]:
nobel %>% 
    filter((subject=='Medicine' & yr<1910) | 
           (subject=='Literature' & yr>=2004)) %>%
    select(yr, subject, winner)

    yr   subject    winner
1   2015 Literature Svetlana Alexievich
2   2014 Literature Patrick Modiano
3   2013 Literature Alice Munro
4   2012 Literature Mo Yan
5   2011 Literature Tomas Tranströmer
6   2010 Literature Mario Vargas Llosa
7   2009 Literature Herta Müller
8   2008 Literature Jean-Marie Gustave Le Clézio
9   2007 Literature Doris Lessing
10  2006 Literature Orhan Pamuk
... ...  ...        ...
14  1908 Medicine   Paul Ehrlich
15  1908 Medicine   Ilya Mechnikov
16  1907 Medicine   Alphonse Laveran
17  1906 Medicine   Camillo Golgi
18  1906 Medicine   Santiago Ramón y Cajal
19  1905 Medicine   Robert Koch
20  1904 Medicine   Ivan Pavlov
21  1903 Medicine   Niels Ryberg Finsen
22  1902 Medicine   Ronald Ross
23  1901 Medicine   Emil von Behring

## 11. Umlaut

Find all details of the prize won by PETER GRÜNBERG

> _Non-ASCII characters_   
> The u in his name has an umlaut. You may find this link useful <https://en.wikipedia.org/wiki/%C3%9C#Keyboarding>

In [13]:
nobel %>%
    filter(tolower(winner)=='peter grünberg')

  yr   subject winner
1 2007 Physics Peter Grünberg

## 12. Apostrophe

Find all details of the prize won by EUGENE O'NEILL

> _Escaping single quotes_   
> You can't put a single quote in a quote string directly. You can use two single quotes within a quoted string.

In [14]:
nobel %>%
    filter(tolower(winner)=="eugene o'neill")

  yr   subject    winner
1 1936 Literature Eugene O'Neill

## 13. Knights of the realm

Knights in order

**List the winners, year and subject where the winner starts with Sir. Show the the most recent first, then by name order.**

In [15]:
nobel %>% 
    filter(str_starts(tolower(winner), 'sir.')) %>% 
    select(winner, yr, subject) %>% 
    arrange(-yr, winner)

    winner                      yr   subject
1   Sir Martin J. Evans         2007 Medicine
2   Sir Peter Mansfield         2003 Medicine
3   Sir Paul Nurse              2001 Medicine
4   Sir Harold Kroto            1996 Chemistry
5   Sir James W. Black          1988 Medicine
6   Sir Arthur Lewis            1979 Economics
7   Sir Nevill F. Mott          1977 Physics
8   Sir Bernard Katz            1970 Medicine
9   Sir John Eccles             1963 Medicine
10  Sir Frank Macfarlane Burnet 1960 Medicine
... ...                         ...  ...
12  Sir Robert Robinson         1947 Chemistry
13  Sir Alexander Fleming       1945 Medicine
14  Sir Howard Florey           1945 Medicine
15  Sir Henry Dale              1936 Medicine
16  Sir Norman Angell           1933 Peace
17  Sir Charles Sherrington     1932 Medicine
18  Sir Venkata Raman           1930 Physics
19  Sir Frederick Hopkins       1929 Medicine
20  Sir Austen Chamberlain      1925 Peace
21  Sir William Ramsay          1904 Chemistry

## 14. Chemistry and Physics last

The expression **subject IN ('Chemistry','Physics')** can be used as a value - it will be 0 or 1.

**Show the 1984 winners and subject ordered by subject and winner name; but list Chemistry and Physics last.**

In [16]:
nobel %>%
    filter(yr==1984) %>%
    arrange(subject %in% c('Chemistry', 'Physics'), subject, winner) %>% 
    select(winner, subject)

  winner              subject
1 Richard Stone       Economics
2 Jaroslav Seifert    Literature
3 César Milstein      Medicine
4 Georges J.F. Köhler Medicine
5 Niels K. Jerne      Medicine
6 Desmond Tutu        Peace
7 Bruce Merrifield    Chemistry
8 Carlo Rubbia        Physics
9 Simon van der Meer  Physics

In [17]:
dbDisconnect(con)