# More JOIN operations

![rel](https://sqlzoo.net/w/images/5/50/Movie2-er.png)

In [1]:
library(tidyverse)
library(DBI)
library(getPass)
drv <- switch(Sys.info()['sysname'],
             Windows="PostgreSQL Unicode(x64)",
             Darwin="/usr/local/lib/psqlodbcw.so",
             Linux="PostgreSQL")
con <- dbConnect(
  odbc::odbc(),
  driver = drv,
  Server = "localhost",
  Database = "sqlzoo",
  UID = "postgres",
  PWD = getPass("Password?"),
  Port = 5432
)
options(repr.matrix.max.rows=20)

-- Attaching packages --------------------------------------- tidyverse 1.3.0 --

v ggplot2 3.3.0     v purrr   0.3.4
v tibble  3.0.1     v dplyr   0.8.5
v tidyr   1.0.2     v stringr 1.4.0
v readr   1.3.1     v forcats 0.5.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Password? ·········

## 1. 1962 movies

List the films where the **yr** is 1962 [Show **id, title**]

In [2]:
movie <- dbReadTable(con, 'movie')
casting <- dbReadTable(con, 'casting')
actor <- dbReadTable(con, 'actor')

In [3]:
movie %>% filter(yr==1962) %>% select(id, title)

    id    title
1   10212 A Kind of Loving
2   10329 A Symposium on Popular Songs
3   10347 A Very Private Affair (Vie PrivÃ©e)
4   10648 An Autumn Afternoon
5   10868 Atraco a las tres
6   11006 Barabbas
7   11053 Battle Beyond the Sun (Ð\235ÐµÐ±Ð¾ Ð·Ð¾Ð²ÐµÑ‚)
8   11199 Big and Little Wong Tin Bar
9   11230 Billy Budd
10  11234 Billy Rose's Jumbo
... ...   ...
77  20161 The Premature Burial
78  20730 The Trial
79  21051 Through a Glass Darkly
80  21110 To Kill a Mockingbird
81  21189 Tower of London
82  21324 Two Half Times in Hell
83  21462 Varan the Unbelievable
84  21494 Village of Daughters
85  21673 What Ever Happened to Baby Jane?
86  21761 Who's Got the Action?

## 2. When was Citizen Kane released?

Give year of 'Citizen Kane'.

In [4]:
movie %>% 
    filter(title=='Citizen Kane') 
    %>% select(yr)

  yr
1 1941

## 3. Star Trek movies

List all of the Star Trek movies, include the **id**, **title** and **yr** (all of these movies include the words Star Trek in the title). Order results by year.

In [5]:
movie %>% 
    filter(str_detect(title, 'Star Trek')) %>% 
    select(id, title, yr) %>% 
    arrange(yr)

   id    title                                  yr
1  17772 Star Trek: The Motion Picture          1979
2  17775 Star Trek II: The Wrath of Khan        1982
3  17776 Star Trek III: The Search for Spock    1984
4  17777 Star Trek IV: The Voyage Home          1986
5  17779 Star Trek V: The Final Frontier        1989
6  17780 Star Trek VI: The Undiscovered Country 1991
7  17774 Star Trek Generations                  1994
8  17770 Star Trek: First Contact               1996
9  17771 Star Trek: Insurrection                1998
10 17778 Star Trek Nemesis                      2002
11 17773 Star Trek                              2009

## 4. id for actor Glenn Close

What **id** number does the actor 'Glenn Close' have?

In [6]:
actor %>%
    filter(name=='Glenn Close') %>%
    select(id)

  id
1 140

## 5. id for Casablanca

What is the **id** of the film 'Casablanca'

In [7]:
movie %>% 
    filter(title=='Casablanca') %>% 
    select(id)

  id
1 11768

## 6. Cast list for Casablanca

Obtain the cast list for 'Casablanca'.

> _what is a cast list?_  
> The cast list is the names of the actors who were in the movie.

Use **movieid=11768**, (or whatever value you got from the previous question)

In [8]:
casting %>% 
    filter(movieid==11768) %>% 
    inner_join(actor, by=c(actorid="id")) %>%
    select(name)

    name
1   Peter Lorre
2   John Qualen
3   Madeleine LeBeau
4   Jack Benny
5   Dan Seymour
6   Norma Varden
7   Ingrid Bergman
8   Conrad Veidt
9   Leon Belasco
10  Humphrey Bogart
... ...
23  William Edmunds
24  Gregory Gaye
25  Torben Meyer
26  Georges Renavent
27  Jean Del Val
28  Louis V. Arco
29  Trude Berliner
30  Ilka GrÃ¼nig
31  Richard Ryen
32  Hans Twardowski

## 7. Alien cast list

Obtain the cast list for the film 'Alien'

In [9]:
movie %>% 
    filter(title=='Alien') %>% 
    inner_join(casting, by=c(id="movieid")) %>%
    inner_join(actor, by=c(actorid="id")) %>%
    select(name)

  name
1 John Hurt
2 Sigourney Weaver
3 Yaphet Kotto
4 Harry Dean Stanton
5 Ian Holm
6 Tom Skerritt
7 Veronica Cartwright

## 8. Harrison Ford movies

List the films in which 'Harrison Ford' has appeared

In [10]:
actor %>% 
    filter(name=='Harrison Ford') %>%
    inner_join(casting, by=c(id="actorid")) %>%
    left_join(movie, by=c(movieid="id")) %>%
    select(title)

    title
1   A Hundred and One Nights
2   Air Force One
3   American Graffiti
4   Apocalypse Now
5   Clear and Present Danger
6   Cowboys & Aliens
7   Crossing Over
8   Dead Heat on a Merry-Go-Round
9   Extraordinary Measures
10  Firewall
... ...
33  Star Wars Episode V: The Empire Strikes Back
34  Star Wars Episode VI: Return of the Jedi
35  The Conversation
36  The Devil's Own
37  The Fugitive
38  The Mosquito Coast
39  NA
40  What Lies Beneath
41  Witness
42  Working Girl

## 9. Harrison Ford as a supporting actor

List the films where 'Harrison Ford' has appeared - but not in the starring role. [Note: the ord field of casting gives the position of the actor. If ord=1 then this actor is in the starring role]

In [11]:
actor %>% 
    filter(name=='Harrison Ford') %>%
    inner_join(casting, by=c(id="actorid")) %>%
    filter(ord>1) %>%
    left_join(movie, by=c(movieid="id")) %>%
    select(title)

   title
1  A Hundred and One Nights
2  American Graffiti
3  Apocalypse Now
4  Cowboys & Aliens
5  Dead Heat on a Merry-Go-Round
6  Extraordinary Measures
7  Force 10 From Navarone
8  Hawthorne of the U.S.A.
9  Jimmy Hollywood
10 More American Graffiti
11 Morning Glory
12 Sally of the Sawdust
13 Shadows
14 Smilin' Through
15 Star Wars Episode IV: A New Hope
16 Star Wars Episode V: The Empire Strikes Back
17 Star Wars Episode VI: Return of the Jedi
18 The Conversation
19 Working Girl

## 10. Lead actors in 1962 movies

List the films together with the leading star for all 1962 films.

In [12]:
actor %>%
    inner_join(casting, by=c(id="actorid")) %>%
    filter(ord==1) %>%
    left_join(movie, by=c(movieid="id")) %>%
    filter(yr==1962) %>%
    select(title, name) %>%
    arrange(title)

    title                                       name
1   A Kind of Loving                            Alan Bates
2   A Symposium on Popular Songs                Paul Frees
3   A Very Private Affair (Vie PrivÃ©e)         Brigitte Bardot
4   An Autumn Afternoon                         Chishu Ryu
5   Atraco a las tres                           JosÃ© Luis LÃ³pez VÃ¡zquez
6   Barabbas                                    Anthony Quinn
7   Battle Beyond the Sun (Ð\235ÐµÐ±Ð¾ Ð·Ð¾Ð²ÐµÑ‚) Aleksandr Shvorin
8   Big and Little Wong Tin Bar                 Jackie Chan
9   Billy Budd                                  Terence Stamp
10  Billy Rose's Jumbo                          Doris Day
... ...                                         ...
74  The Trial                                   Anthony Perkins
75  Through a Glass Darkly                      Harriet Andersson
76  To Kill a Mockingbird                       Gregory Peck
77  Tower of London                             Vincent Price
78  Tutti a casa                                Alberto Sordi
79  Two Half Times in Hell                      Imre Sinkovits
80  Varan the Unbelievable                      KÃ´zÃ´ Nomura
81  Village of Daughters                        Eric Sykes
82  What Ever Happened to Baby Jane?            Bette Davis
83  Who's Got the Action?                       Dean Martin

## 11. Busy years for Rock Hudson

Which were the busiest years for 'Rock Hudson', show the year and the number of movies he made each year for any year in which he made more than 2 movies.

In [13]:
actor %>%
    filter(name=='Rock Hudson') %>%
    inner_join(casting, by=c(id="actorid")) %>%
    inner_join(movie, by=c(movieid="id")) %>%
    group_by(yr) %>% 
    summarise(n=n()) %>%
    filter(n>2) %>% 
    arrange(desc(n))

  yr   n
1 1953 5
2 1961 3

## 12. Lead actor in Julie Andrews movies

List the film title and the leading actor for all of the films 'Julie Andrews' played in.

> _Did you get "Little Miss Marker twice"?_   
> Julie Andrews starred in the 1980 remake of Little Miss Marker and not the original(1934).
>
> Title is not a unique field, create a table of IDs in your subquery

In [14]:
movie %>% 
    inner_join(casting, by=c(id="movieid")) %>%
    inner_join(actor, by=c(actorid="id")) %>%
    filter(ord==1 & id %in% (
        movie %>% 
        inner_join(casting, by=c(id="movieid")) %>%
        inner_join(actor, by=c(actorid="id")) %>%
        filter(name=='Julie Andrews') %>% 
        select(id) %>% 
        pull)
    ) %>% 
    select(title, name)

   title                                    name
1  10                                       Dudley Moore
2  Darling Lili                             Julie Andrews
3  Despicable Me                            Steve Carell
4  Duet for One                             Julie Andrews
5  Hawaii                                   Julie Andrews
6  Little Miss Marker                       Walter Matthau
7  Mary Poppins                             Julie Andrews
8  Relative Values                          Julie Andrews
9  Shrek the Third                          Mike Myers
10 Star!                                    Julie Andrews
11 The Americanization of Emily             James Garner
12 The Pink Panther Strikes Again           Peter Sellers
13 The Princess Diaries                     Anne Hathaway
14 The Princess Diaries 2: Royal Engagement Anne Hathaway
15 The Tamarind Seed                        Julie Andrews
16 Thoroughly Modern Millie                 Julie Andrews
17 Tooth Fairy                              Dwayne Johnson
18 Torn Curtain                             Paul Newman
19 Victor Victoria                          Julie Andrews

## 13. Actors with 15 leading roles

Obtain a list, in alphabetical order, of actors who've had at least 15 **starring** roles.

In [15]:
casting %>% 
    filter(ord==1) %>% 
    group_by(actorid) %>% 
    summarise(n=n()) %>%
    filter(n>=15) %>% 
    inner_join(actor, by=c(actorid="id")) %>%
    select(name) %>%
    arrange(name)

    name
1   Adam Sandler
2   Al Pacino
3   Anthony Hopkins
4   Antonio Banderas
5   Arnold Schwarzenegger
6   Barbara Stanwyck
7   Basil Rathbone
8   Ben Affleck
9   Bette Davis
10  Betty Grable
... ...
91  Steve Martin
92  Sylvester Stallone
93  Tom Berenger
94  Tom Cruise
95  Tom Hanks
96  Tommy Lee Jones
97  Tyrone Power
98  Walter Matthau
99  William Garwood
100 William Holden

## 14.
List the films released in the year 1978 ordered by the number of actors in the cast, then by title.

In [16]:
movie %>% 
    filter(yr==1978) %>% 
    inner_join(casting, by=c(id="movieid")) %>%
    group_by(id, title) %>% 
    summarise(actors=n()) %>%
    ungroup() %>%
    select(title, actors) %>% 
    arrange(title)

    title                                    actors
1   A Night Full of Rain                     19
2   A Wedding                                19
3   Alexandria... Why?                       15
4   Almost Summer                            13
5   American Boy: A Profile of Steven Prince  3
6   American Hot Wax                         27
7   An Unmarried Woman                       13
8   Attack of the Killer Tomatoes             7
9   Autumn Sonata                            11
10  Big Wednesday                            21
... ...                                      ...
95  The Swarm                                37
96  The Water Babies                         15
97  The Wiz                                   9
98  Up in Smoke                              11
99  Violette NoziÃ¨re                        15
100 Watership Down                            6
101 Who'll Stop The Rain                     15
102 Without Anesthesia                       15
103 You Are Not Alone                         5
104 Zero to Sixty                            10

## 15.

List all the people who have worked with 'Art Garfunkel'.

In [17]:
actor %>%
    inner_join(casting, by=c(id="actorid")) %>%
    filter(movieid %in% (
        actor %>% 
        inner_join(casting, by=c(id="actorid")) %>%
        filter(name=='Art Garfunkel') %>% 
        select(movieid) %>%
        pull)
    ) %>% 
    filter(name != 'Art Garfunkel') %>% 
    select(name)

    name
1   Beverly Johnson
2   Elio Fiorucci
3   Robert DoQui
4   Donald Trump
5   Michael York
6   Ron Jeremy
7   Cindy Crawford
8   Heidi Klum
9   Mark Ruffalo
10  Neve Campbell
... ...
27  Breckin Meyer
28  Valerie Perrine
29  Bill Paxton
30  Lorna Luft
31  Heather Matarazzo
32  Bruce Jay Friedman
33  Skipp Sudduth
34  Georgina Grenville
35  Sherilyn Fenn
36  Frederique van der Wal

In [18]:
dbDisconnect(con)