# Window LAG

## COVID-19 Data
Notes on the data: This data was assembled based on work done by [Rodrigo Pombo](https://github.com/pomber/covid19) based on [John Hopkins University](https://systems.jhu.edu/research/public-health/ncov/), based on [World Health Organisation](https://www.who.int/health-topics/coronavirus). The data was assembled 21st April 2020 - there are no plans to keep this data set up to date.

In [1]:
library(tidyverse)
library(DBI)
library(getPass)
drv <- switch(Sys.info()['sysname'],
             Windows="PostgreSQL Unicode(x64)",
             Darwin="/usr/local/lib/psqlodbcw.so",
             Linux="PostgreSQL")
con <- dbConnect(
  odbc::odbc(),
  driver = drv,
  Server = "localhost",
  Database = "sqlzoo",
  UID = "postgres",
  PWD = getPass("Password?"),
  Port = 5432
)
options(repr.matrix.max.rows=20)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Password? ····

## Window Function
The SQL Window functions include LAG, LEAD, RANK and NTILE. These functions operate over a "window" of rows - typically these are rows in the table that are in some sense adjacent.

In [2]:
covid <- dbReadTable(con, 'covid')
world <- dbReadTable(con, 'world')

## 1. Introducing the `covid` table

The example uses a WHERE clause to show the cases in 'Italy' in March.

```sql
SELECT name, DAY(whn),
 confirmed, deaths, recovered
 FROM covid
WHERE name = 'Italy'
AND MONTH(whn) = 3
ORDER BY whn
```

**Modify the query to show data from Spain**

In [3]:
covid %>% 
    filter(name=='Spain' & format(whn, '%m')=='03') %>%
    mutate(day=format(whn, '%d')) %>%
    select(name, day, confirmed, deaths, recovered) %>%
    arrange(day)

   name  day confirmed deaths recovered
1  Spain 01    84       0      2
2  Spain 02   120       0      2
3  Spain 03   165       1      2
4  Spain 04   222       2      2
5  Spain 05   259       3      2
6  Spain 06   400       5      2
7  Spain 07   500      10     30
8  Spain 08   673      17     30
9  Spain 09  1073      28     32
10 Spain 10  1695      35     32
⋮  ⋮     ⋮   ⋮         ⋮      ⋮
22 Spain 22  28768     1772    2575
23 Spain 23  35136     2311    2575
24 Spain 24  39885     2808    3794
25 Spain 25  49515     3647    5367
26 Spain 26  57786     4365    7015
27 Spain 27  65719     5138    9357
28 Spain 28  73235     5982   12285
29 Spain 29  80110     6803   14709
30 Spain 30  87956     7716   16780
31 Spain 31  95923     8464   19259

## 2. Introducing the LAG function

The LAG function is used to show data from the preceding row or the table. When lining up rows the data is partitioned by country name and ordered by the data whn. That means that only data from Italy is considered.

```sql
SELECT name, DAY(whn), confirmed,
   LAG(whn, 1) OVER (PARTITION BY name ORDER BY whn)
 FROM covid
WHERE name = 'Italy'
AND MONTH(whn) = 3
ORDER BY whn
```

**Modify the query to show confirmed for the day before.**

In [4]:
covid %>%
    mutate(mo=format(whn, '%m'), 
           day=format(whn, '%d')) %>%
    filter(name=='Italy' & mo =='03') %>%
    group_by(name, mo) %>% 
    mutate(lag_cfrm=lag(
        confirmed, default=bit64::NA_integer64_, order_by=whn)) %>%
    mutate(day=format(whn, '%d')) %>%
    ungroup %>%
    select(name, day, confirmed, lag_cfrm)

   name  day confirmed lag_cfrm
1  Italy 01   1694       NA
2  Italy 02   2036     1694
3  Italy 03   2502     2036
4  Italy 04   3089     2502
5  Italy 05   3858     3089
6  Italy 06   4636     3858
7  Italy 07   5883     4636
8  Italy 08   7375     5883
9  Italy 09   9172     7375
10 Italy 10  10149     9172
⋮  ⋮     ⋮   ⋮         ⋮
22 Italy 22   59138     53578
23 Italy 23   63927     59138
24 Italy 24   69176     63927
25 Italy 25   74386     69176
26 Italy 26   80589     74386
27 Italy 27   86498     80589
28 Italy 28   92472     86498
29 Italy 29   97689     92472
30 Italy 30  101739     97689
31 Italy 31  105792    101739

### LAG operation

Here is the correct query showing the cases for the day before:

```sql
SELECT name, DAY(whn), confirmed,
   LAG(confirmed, 1) OVER (partition by name ORDER BY whn) AS lag
 FROM covid
WHERE name = 'Italy'
AND MONTH(whn) = 3
ORDER BY whn
```

Notice how the values in the LAG column match the value of the row diagonally above and to the left.

name | DAY(whn) | confirmed | dbf
------|---|------|----------
Italy | 1 | **1694** | null
Italy | 2 | 2036 | **1694**
Italy | 3 | 2502 | 2036
Italy | 4 | 3089 | 2502
Italy | 5 | **3858** | 3089
Italy | 6 | 4636 | **3858**
Italy | 7 | 5883 | 4636
Italy | 8 | 7375 | 5883
Italy | 9 | 9172 | 7375
Italy | 10 | 10149 | 9172
... | | |

## 3. Number of new cases

The number of confirmed case is cumulative - but we can use LAG to recover the number of new cases reported for each day.

```sql
SELECT name, DAY(whn), confirmed,
   LAG(confirmed, 1) OVER (PARTITION BY name ORDER BY whn)
 FROM covid
WHERE name = 'Italy'
AND MONTH(whn) = 3
ORDER BY whn
```

**Show the number of new cases for each day, for Italy, for March.**

In [5]:
covid %>% 
    mutate(mo=format(whn, '%m'), 
           day=format(whn, '%d')) %>%
    filter(name=='Italy' & mo=='03') %>%
    group_by(name, mo) %>% 
    mutate(new=confirmed-lag(
        confirmed, default=bit64::NA_integer64_, order_by=whn)) %>%
    ungroup %>%
    select(name, day, new)

   name  day new
1  Italy 01    NA
2  Italy 02   342
3  Italy 03   466
4  Italy 04   587
5  Italy 05   769
6  Italy 06   778
7  Italy 07  1247
8  Italy 08  1492
9  Italy 09  1797
10 Italy 10   977
⋮  ⋮     ⋮   ⋮
22 Italy 22  5560
23 Italy 23  4789
24 Italy 24  5249
25 Italy 25  5210
26 Italy 26  6203
27 Italy 27  5909
28 Italy 28  5974
29 Italy 29  5217
30 Italy 30  4050
31 Italy 31  4053

## 4. Weekly changes

The data gathered are necessarily estimates and are inaccurate. However by taking a longer time span we can mitigate some of the effects.

You can filter the data to view only Monday's figures **WHERE WEEKDAY(whn) = 0**.

```sql
SELECT name, DATE_FORMAT(whn,'%Y-%m-%d'), confirmed
 FROM covid
WHERE name = 'Italy'
AND WEEKDAY(whn) = 0
ORDER BY whn
```

**Show the number of new cases in Italy for each week - show Monday only.**

In [6]:
covid %>% 
    mutate(wday=format(whn, '%w')) %>%
    filter(name=='Italy' & wday==0) %>%
    mutate(
        new=confirmed-lag(
            confirmed, default=bit64::NA_integer64_, order_by=whn)) %>%
    select(name, whn, new)

   name  whn        new
1  Italy 2020-01-26    NA
2  Italy 2020-02-02     2
3  Italy 2020-02-09     1
4  Italy 2020-02-16     0
5  Italy 2020-02-23   152
6  Italy 2020-03-01  1539
7  Italy 2020-03-08  5681
8  Italy 2020-03-15 17372
9  Italy 2020-03-22 34391
10 Italy 2020-03-29 38551
11 Italy 2020-04-05 31259
12 Italy 2020-04-12 27415
13 Italy 2020-04-19 22609

## 5. LAG using a JOIN

You can JOIN a table using DATE arithmetic. This will give different results if data is missing.

**Show the number of new cases in Italy for each week - show Monday only.**

In the sample query we JOIN this week tw with last week lw using the DATE_ADD function.

```sql
SELECT tw.name, DATE_FORMAT(tw.whn,'%Y-%m-%d'), 
 tw.confirmed, lw.confirmed
 FROM covid tw LEFT JOIN covid lw ON 
  DATE_ADD(lw.whn, INTERVAL 1 WEEK) = tw.whn
   AND tw.name=lw.name
WHERE tw.name = 'Italy'
ORDER BY tw.whn
```

In [7]:
a <- covid %>% 
    mutate(wday=format(whn, '%w')) %>% 
    filter(name=='Italy' & wday=='0')
a %>% left_join(
    a %>% mutate(
        whn=whn+7, 
        confirmed=bit64::as.character.integer64(confirmed)) %>% 
        select(name, whn, confirmed), 
    by=c(name='name', whn='whn')) %>%
    mutate(new=confirmed.x-confirmed.y) %>%
    select(name, whn, new)

   name  whn        new
1  Italy 2020-01-26    NA
2  Italy 2020-02-02     2
3  Italy 2020-02-09     1
4  Italy 2020-02-16     0
5  Italy 2020-02-23   152
6  Italy 2020-03-01  1539
7  Italy 2020-03-08  5681
8  Italy 2020-03-15 17372
9  Italy 2020-03-22 34391
10 Italy 2020-03-29 38551
11 Italy 2020-04-05 31259
12 Italy 2020-04-12 27415
13 Italy 2020-04-19 22609

## 6. RANK()

The query shown shows the number of confirmed cases together with the world ranking for cases.

United States has the highest number, Spain is number 2...

Notice that while Spain has the second highest confirmed cases, Italy has the second highest number of deaths due to the virus.

```sql
SELECT 
   name,
   confirmed,
   RANK() OVER (ORDER BY confirmed DESC) rc,
   deaths
  FROM covid
WHERE whn = '2020-04-20'
ORDER BY confirmed DESC
```

**Include the ranking for the number of deaths in the table. Only include countries with a population of at least 10 million.**

In [8]:
covid %>%
    inner_join(world %>% 
               select(name, population), by=c(name='name')) %>%
    filter(whn==as.Date('2020-04-20') & population>=1e7) %>%
    mutate(rc=row_number(desc(confirmed)), 
           rc2=row_number(desc(deaths))) %>%
    select(name, confirmed, rc, deaths, rc2) %>%
    arrange(desc(confirmed))

   name           confirmed rc deaths rc2
1  United States  784326     1 42094   1
2  Spain          200210     2 20852   3
3  Italy          181228     3 24114   2
4  France         156480     4 20292   4
5  Germany        147065     5  4862   8
6  United Kingdom 125856     6 16550   5
7  Turkey          90980     7  2140  12
8  China           83817     8  4636   9
9  Iran            83505     9  5209   7
10 Russia          47121    10   405  23
⋮  ⋮              ⋮         ⋮  ⋮      ⋮
81 Mozambique     39        81 0      84
82 Syria          39        82 3      74
83 Chad           33        83 0      82
84 Nepal          31        84 0      85
85 Zimbabwe       25        85 3      76
86 Angola         24        86 2      77
87 Malawi         17        87 2      78
88 Burundi         5        88 1      80
89 South Sudan     4        89 0      87
90 Yemen           1        90 0      90

## 7. Infection rate

The query shown includes a JOIN t the world table so we can access the total population of each country and calculate infection rates (in cases per 100,000).

```sql
SELECT 
   world.name,
   ROUND(100000*confirmed/population,0)
  FROM covid JOIN world ON covid.name=world.name
WHERE whn = '2020-04-20' AND population > 10000000
ORDER BY population DESC
```

**Show the infect rate ranking for each country. Only include countries with a population of at least 10 million.**

In [9]:
covid %>%
    inner_join(world %>% 
               select(name, population), by=c(name='name')) %>%
    filter(whn==as.Date('2020-04-20') & population>=1e7) %>%
    mutate(inf_rate=round(1e5 * confirmed/population, 0)) %>%
    mutate(rank=row_number(inf_rate)) %>%
    arrange(desc(population)) %>%
    select(name, inf_rate, rank)

   name               inf_rate rank
1  China                6      51
2  India                1      24
3  United States      238      87
4  Indonesia            3      39
5  Pakistan             4      45
6  Brazil              19      65
7  Nigeria              0      13
8  Bangladesh           2      31
9  Russia              32      71
10 Mexico               7      55
⋮  ⋮                  ⋮        ⋮
81 Bolivia              5      47
82 Cuba                10      60
83 Burundi              0       3
84 Greece              21      66
85 Czech Republic      65      77
86 Jordan               4      44
87 Dominican Republic  48      73
88 Sweden             143      81
89 Portugal           203      85
90 Azerbaijan          14      62

## 8. Turning the corner

For each country that has had at last 1000 new cases in a single day, show the date of the peak number of new cases.

In [10]:
covid %>%
    group_by(name) %>%
    mutate(new=confirmed-lag(
        confirmed, default=bit64::NA_integer64_, order_by=whn)) %>%
    mutate(rank=row_number(desc(new))) %>%
    filter(rank==1 & new>=1000) %>%
    select(name, whn, new) %>%
    arrange(whn, name)

   name         whn        new
1  China        2020-02-13 15136
2  Italy        2020-03-21  6557
3  Switzerland  2020-03-23  1321
4  Israel       2020-03-25  1131
5  Spain        2020-03-25  9630
6  Austria      2020-03-26  1321
7  Germany      2020-03-27  6933
8  Iran         2020-03-30  3186
9  Canada       2020-04-05  2778
10 Ecuador      2020-04-10  2196
⋮  ⋮            ⋮          ⋮
17 France       2020-04-12 26849
18 Peru         2020-04-13  2265
19 Belgium      2020-04-15  2454
20 Brazil       2020-04-17  3257
21 Japan        2020-04-17  1161
22 Saudi Arabia 2020-04-18  1132
23 India        2020-04-19  1893
24 Russia       2020-04-19  6060
25 Belarus      2020-04-20  1485
26 Singapore    2020-04-20  1426

In [11]:
dbDisconnect(con)